.shaking, .shake-h:hover {
  animation-name: shake-horiz;
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
  animation-play-state: running; }

.shaking {
  animation-iteration-count: 2; }

@-webkit-keyframes shake-horiz {
  5% {
    transform: translate(0, 0); }
  5% {
    transform: translate(5px, 0); }
  10% {
    transform: translate(-5px, 0); }
  15% {
    transform: translate(0px, 0); }
  20% {
    transform: translate(-9px, 0); }
  25% {
    transform: translate(2px, 0); }
  30% {
    transform: translate(-3px, 0); }
  35% {
    transform: translate(9px, 0); }
  40% {
    transform: translate(-6px, 0); }
  45% {
    transform: translate(6px, 0); }
  50% {
    transform: translate(-8px, 0); }
  55% {
    transform: translate(5px, 0); }
  60% {
    transform: translate(-1px, 0); }
  65% {
    transform: translate(2px, 0); }
  70% {
    transform: translate(-1px, 0); }
  75% {
    transform: translate(3px, 0); }
  80% {
    transform: translate(-8px, 0); }
  85% {
    transform: translate(5px, 0); }
  90% {
    transform: translate(-4px, 0); }
  95% {
    transform: translate(1px, 0); }
  100% {
    transform: translate(-2px, 0); } }
@-moz-keyframes shake-horiz {
  5% {
    transform: translate(0, 0); }
  5% {
    transform: translate(0px, 0); }
  10% {
    transform: translate(-3px, 0); }
  15% {
    transform: translate(5px, 0); }
  20% {
    transform: translate(-4px, 0); }
  25% {
    transform: translate(5px, 0); }
  30% {
    transform: translate(-2px, 0); }
  35% {
    transform: translate(2px, 0); }
  40% {
    transform: translate(0px, 0); }
  45% {
    transform: translate(9px, 0); }
  50% {
    transform: translate(-1px, 0); }
  55% {
    transform: translate(9px, 0); }
  60% {
    transform: translate(-9px, 0); }
  65% {
    transform: translate(2px, 0); }
  70% {
    transform: translate(-3px, 0); }
  75% {
    transform: translate(3px, 0); }
  80% {
    transform: translate(-5px, 0); }
  85% {
    transform: translate(4px, 0); }
  90% {
    transform: translate(-6px, 0); }
  95% {
    transform: translate(3px, 0); }
  100% {
    transform: translate(-6px, 0); } }
@keyframes shake-horiz {
  5% {
    transform: translate(0, 0); }
  5% {
    transform: translate(7px, 0); }
  10% {
    transform: translate(-9px, 0); }
  15% {
    transform: translate(4px, 0); }
  20% {
    transform: translate(-9px, 0); }
  25% {
    transform: translate(3px, 0); }
  30% {
    transform: translate(-6px, 0); }
  35% {
    transform: translate(4px, 0); }
  40% {
    transform: translate(-8px, 0); }
  45% {
    transform: translate(2px, 0); }
  50% {
    transform: translate(-6px, 0); }
  55% {
    transform: translate(2px, 0); }
  60% {
    transform: translate(-6px, 0); }
  65% {
    transform: translate(3px, 0); }
  70% {
    transform: translate(0px, 0); }
  75% {
    transform: translate(7px, 0); }
  80% {
    transform: translate(-4px, 0); }
  85% {
    transform: translate(0px, 0); }
  90% {
    transform: translate(0px, 0); }
  95% {
    transform: translate(5px, 0); }
  100% {
    transform: translate(-5px, 0); } }
@-webkit-keyframes shake-horiz {
  5% {
    transform: translate(0, 0); }
  5% {
    transform: translate(2px, 0); }
  10% {
    transform: translate(-9px, 0); }
  15% {
    transform: translate(4px, 0); }
  20% {
    transform: translate(-1px, 0); }
  25% {
    transform: translate(2px, 0); }
  30% {
    transform: translate(-1px, 0); }
  35% {
    transform: translate(0px, 0); }
  40% {
    transform: translate(-5px, 0); }
  45% {
    transform: translate(1px, 0); }
  50% {
    transform: translate(0px, 0); }
  55% {
    transform: translate(8px, 0); }
  60% {
    transform: translate(-8px, 0); }
  65% {
    transform: translate(5px, 0); }
  70% {
    transform: translate(-9px, 0); }
  75% {
    transform: translate(0px, 0); }
  80% {
    transform: translate(-6px, 0); }
  85% {
    transform: translate(3px, 0); }
  90% {
    transform: translate(-5px, 0); }
  95% {
    transform: translate(7px, 0); }
  100% {
    transform: translate(-1px, 0); } }
@-moz-keyframes shake-horiz {
  5% {
    transform: translate(0, 0); }
  5% {
    transform: translate(2px, 0); }
  10% {
    transform: translate(-3px, 0); }
  15% {
    transform: translate(3px, 0); }
  20% {
    transform: translate(-8px, 0); }
  25% {
    transform: translate(4px, 0); }
  30% {
    transform: translate(0px, 0); }
  35% {
    transform: translate(4px, 0); }
  40% {
    transform: translate(-3px, 0); }
  45% {
    transform: translate(6px, 0); }
  50% {
    transform: translate(-4px, 0); }
  55% {
    transform: translate(4px, 0); }
  60% {
    transform: translate(-7px, 0); }
  65% {
    transform: translate(8px, 0); }
  70% {
    transform: translate(-7px, 0); }
  75% {
    transform: translate(7px, 0); }
  80% {
    transform: translate(-2px, 0); }
  85% {
    transform: translate(8px, 0); }
  90% {
    transform: translate(-3px, 0); }
  95% {
    transform: translate(3px, 0); }
  100% {
    transform: translate(-5px, 0); } }
@keyframes shake-horiz {
  5% {
    transform: translate(0, 0); }
  5% {
    transform: translate(0px, 0); }
  10% {
    transform: translate(-8px, 0); }
  15% {
    transform: translate(8px, 0); }
  20% {
    transform: translate(-4px, 0); }
  25% {
    transform: translate(3px, 0); }
  30% {
    transform: translate(-8px, 0); }
  35% {
    transform: translate(8px, 0); }
  40% {
    transform: translate(-3px, 0); }
  45% {
    transform: translate(1px, 0); }
  50% {
    transform: translate(-5px, 0); }
  55% {
    transform: translate(5px, 0); }
  60% {
    transform: translate(0px, 0); }
  65% {
    transform: translate(5px, 0); }
  70% {
    transform: translate(-7px, 0); }
  75% {
    transform: translate(4px, 0); }
  80% {
    transform: translate(-3px, 0); }
  85% {
    transform: translate(1px, 0); }
  90% {
    transform: translate(-2px, 0); }
  95% {
    transform: translate(5px, 0); }
  100% {
    transform: translate(-4px, 0); } }
.spinning, .spin:hover, .loop:hover {
  animation-name: spinner;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.loop:hover {
  animation-iteration-count: 1; }

.spin:hover, .loop:hover {
  animation-duration: 2s; }

@-webkit-keyframes spinner {
  100% {
    transform: rotate(360deg); } }
@-moz-keyframes spinner {
  100% {
    transform: rotate(360deg); } }
@keyframes spinner {
  100% {
    transform: rotate(360deg); } }
.balance:hover {
  transform-origin: top;
  animation-name: balanz;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 110ms;
  animation-direction: alternate;
  animation-iteration-count: infinite; }

@-webkit-keyframes balanz {
  from {
    transform: rotate(8deg); }
  to {
    transform: rotate(8deg); } }
@-moz-keyframes balanz {
  from {
    transform: rotate(8deg); }
  to {
    transform: rotate(8deg); } }
@keyframes balanz {
  from {
    transform: rotate(8deg); }
  to {
    transform: rotate(8deg); } }
@-webkit-keyframes fade-in {
  from {
    opacity: 0; } }
@-moz-keyframes fade-in {
  from {
    opacity: 0; } }
@keyframes fade-in {
  from {
    opacity: 0; } }
@-webkit-keyframes fade-out {
  to {
    opacity: 0; } }
@-moz-keyframes fade-out {
  to {
    opacity: 0; } }
@keyframes fade-out {
  to {
    opacity: 0; } }
.flip-container {
  perspective: 1000px; }

.flip-h {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: transform 1s; }

.flip-h:hover {
  transform: rotateY(180deg); }

@-webkit-keyframes slide-in-right {
  from {
    transform: translate(100%, 0); }
  to {
    transform: translate(0, 0); } }
@-moz-keyframes slide-in-right {
  from {
    transform: translate(100%, 0); }
  to {
    transform: translate(0, 0); } }
@keyframes slide-in-right {
  from {
    transform: translate(100%, 0); }
  to {
    transform: translate(0, 0); } }
@-webkit-keyframes slide-out-left {
  from {
    transform: translate(0, 0); }
  to {
    transform: translate(-100%, 0); } }
@-moz-keyframes slide-out-left {
  from {
    transform: translate(0, 0); }
  to {
    transform: translate(-100%, 0); } }
@keyframes slide-out-left {
  from {
    transform: translate(0, 0); }
  to {
    transform: translate(-100%, 0); } }
.stagger-repeat {
  transition: all linear 1s; }
  .stagger-repeat.ng-move, .stagger-repeat.ng-enter, .stagger-repeat.ng-leave {
    transition: all linear 0.5s; }
  .stagger-repeat.ng-leave.ng-leave-active, .stagger-repeat.ng-move, .stagger-repeat.ng-enter {
    opacity: 0;
    max-height: 0; }
  .stagger-repeat.ng-leave, .stagger-repeat.ng-move.ng-move-active, .stagger-repeat.ng-enter.ng-enter-active {
    opacity: 1;
    max-height: 40px; }
  .stagger-repeat.ng-leave-stagger {
    transition-delay: 0.1s;
    transition-duration: 0s; }
  .stagger-repeat.ng-enter-stagger {
    transition-delay: 0.1s;
    transition-duration: 0s; }

@-webkit-keyframes ic-notif-size-in {
  from {
    width: 0;
    height: 0;
    opacity: 0; } }
@-moz-keyframes ic-notif-size-in {
  from {
    width: 0;
    height: 0;
    opacity: 0; } }
@keyframes ic-notif-size-in {
  from {
    width: 0;
    height: 0;
    opacity: 0; } }
@-webkit-keyframes ic-notif-size-out {
  to {
    width: 0;
    height: 0;
    opacity: 0; } }
@-moz-keyframes ic-notif-size-out {
  to {
    width: 0;
    height: 0;
    opacity: 0; } }
@keyframes ic-notif-size-out {
  to {
    width: 0;
    height: 0;
    opacity: 0; } }
.notiny-container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.notiny-container {
  position: fixed;
  z-index: 9999; }

.notiny-container-fluid-top .notiny-base,
.notiny-container-fluid-bottom .notiny-base {
  width: 100%;
  border-radius: 0; }

.notiny-container-fluid-top .notiny-base {
  margin-top: 0; }

.notiny-container-fluid-bottom .notiny-base {
  margin-bottom: 0; }

.notiny-img {
  display: none; }

/* Animations */
@-webkit-keyframes notiny-animation-hide {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  20% {
    opacity: 1; }
  30% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2); }
  100% {
    opacity: 0;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }
@keyframes notiny-animation-hide {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  20% {
    opacity: 1; }
  30% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2); }
  100% {
    opacity: 0;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-webkit-keyframes notiny-animation-show {
  0% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-filter: blur(4px);
    filter: blur(4px); }
  15% {
    opacity: 1; }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2); }
  90% {
    -webkit-filter: blur(0px);
    filter: blur(0px); }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }
@keyframes notiny-animation-show {
  0% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-filter: blur(4px);
    filter: blur(4px); }
  15% {
    opacity: 1; }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2); }
  90% {
    -webkit-filter: blur(0px);
    filter: blur(0px); }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-webkit-keyframes notiny-animation-hover {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); } }
@keyframes notiny-animation-hover {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); } }
/* Default themes */
.notiny-theme-dark {
  background-color: #202020;
  color: #f5f5f5; }

.notiny-theme-light {
  background-color: #f0f0f0;
  color: #202020; }

.notiny-default-vars {
  padding: 3px 3px;
  margin: 2px 0px;
  border-radius: 2px;
  min-height: 32px;
  max-width: 100vw; }

.notiny-default-vars .notiny-img {
  display: block;
  border-radius: 2px;
  width: 32px;
  height: 32px;
  float: left; }

.notiny-default-vars .notiny-text {
  font-family: sans-serif;
  font-size: 13px;
  padding: 8px 5px 6px 5px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.notiny-default-vars .notiny-with-img .notiny-text {
  padding-left: 6px; }

html {
  position: relative;
  min-height: 100%; }

body {
  margin-bottom: 5rem;
  overflow-x: hidden; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #adb5bd; }

.footer > .container {
  padding-right: 1rem;
  padding-left: 1rem; }

.taj {
  text-align: justify; }

.tal {
  text-align: left; }

.tac {
  text-align: center; }

.tar {
  text-align: right; }

.nb {
  border: none; }

.fltr {
  float: right; }

.fltl {
  float: left; }

.fltclr {
  clear: both; }

.hide {
  position: absolute;
  left: -9999px;
  top: -9999px; }

.no-bold {
  font-weight: normal; }

.no-show {
  display: none; }

.lh-sm {
  line-height: 0.75; }

.c-pntr {
  cursor: pointer; }

.importante {
  color: #e02828;
  font-weight: bold; }

.muy-importante {
  color: #fff;
  font-weight: bold;
  padding: 1rem 1rem 1rem 44px;
  background: #e02828;
  font-size: 1.25rem; }

.muy-importante a {
  font-size: 1rem;
  color: #fff;
  border-bottom: 1px dashed #fff; }

.muy-importante a:hover {
  color: #fff;
  border-bottom: 1px solid #fff; }

.foto,
.foto2,
.foto3,
.foto4 {
  margin: 0.32rem;
  border: 1px solid #00003d; }

.foto2,
.foto3 {
  padding: 0.32rem; }

.foto2 {
  margin: 0; }

.foto3 {
  background: #fff; }

.foto4 {
  border: none; }

.disclaimer,
.disclaimerbox {
  color: #000;
  font-size: 80%; }

.disclaimerbox,
.emphasisbox {
  padding: 0.25rem;
  border: 1px solid #5c96bc;
  border-radius: 0.3rem;
  background: #e9ecef; }

.disclaimerbox h3 {
  border: 0; }

.emphasisbox {
  padding: 1.25rem 0.75rem;
  border: 0;
  text-align: center;
  background: #dee2e6;
  font-size: 120%; }

.clr:hover {
  background-color: transparent; }

.zebrahi {
  color: #000;
  background-color: #e6c800 !important; }

.table.vam > tbody > tr > td {
  vertical-align: middle; }

.table > tbody > tr > td.table-cell-hover:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075); }

.ic-materias li {
  list-style: none none; }
  .ic-materias li:before {
    font-family: 'IcoMoon';
    content: "\e623  "; }

ul.ic-list-webfont li,
ul.ic-list-calendar li,
ul.ic-list-clock li {
  list-style: none none;
  padding-left: 1.4rem;
  text-indent: -1.4rem; }
  ul.ic-list-webfont li:before,
  ul.ic-list-calendar li:before,
  ul.ic-list-clock li:before {
    font-family: 'IcoMoon';
    content: "\ea1c";
    float: left;
    width: 1.4em; }

ul.ic-list-calendar,
ul.ic-list-clock {
  padding: 0;
  text-indent: 0; }

ul.ic-list-calendar li:before {
  content: "\e953"; }

ul.ic-list-clock li:before {
  content: "\e94e"; }

@media (min-width: 768px) {
  .two-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem; } }
.callout-primary {
  display: block;
  position: relative;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #5c96bc;
  border-left: 0.4rem solid #5c96bc;
  border-radius: 0.25rem;
  background-color: #fff; }
  .callout-primary h1, .callout-primary h2, .callout-primary h3, .callout-primary h4, .callout-primary h5, .callout-primary h6 {
    margin-top: 0;
    color: #5c96bc;
    margin-bottom: 0.25rem; }
  .callout-primary p:last-child {
    margin-bottom: 0; }
  .callout-primary .highlight {
    background-color: #fff; }
  .callout-primary .close {
    color: #5c96bc; }
  .callout-primary a.callout-link {
    color: #5c96bc; }
  .callout-primary code {
    border-radius: 0.25rem; }
  .callout-primary + .callout {
    margin-top: -0.32rem; }
.callout-secondary {
  display: block;
  position: relative;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #009;
  border-left: 0.4rem solid #009;
  border-radius: 0.25rem;
  background-color: #fff; }
  .callout-secondary h1, .callout-secondary h2, .callout-secondary h3, .callout-secondary h4, .callout-secondary h5, .callout-secondary h6 {
    margin-top: 0;
    color: #009;
    margin-bottom: 0.25rem; }
  .callout-secondary p:last-child {
    margin-bottom: 0; }
  .callout-secondary .highlight {
    background-color: #fff; }
  .callout-secondary .close {
    color: #009; }
  .callout-secondary a.callout-link {
    color: #009; }
  .callout-secondary code {
    border-radius: 0.25rem; }
  .callout-secondary + .callout {
    margin-top: -0.32rem; }
.callout-success {
  display: block;
  position: relative;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #5cb85c;
  border-left: 0.4rem solid #5cb85c;
  border-radius: 0.25rem;
  background-color: #fff; }
  .callout-success h1, .callout-success h2, .callout-success h3, .callout-success h4, .callout-success h5, .callout-success h6 {
    margin-top: 0;
    color: #5cb85c;
    margin-bottom: 0.25rem; }
  .callout-success p:last-child {
    margin-bottom: 0; }
  .callout-success .highlight {
    background-color: #fff; }
  .callout-success .close {
    color: #5cb85c; }
  .callout-success a.callout-link {
    color: #5cb85c; }
  .callout-success code {
    border-radius: 0.25rem; }
  .callout-success + .callout {
    margin-top: -0.32rem; }
.callout-info {
  display: block;
  position: relative;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #39b3d7;
  border-left: 0.4rem solid #39b3d7;
  border-radius: 0.25rem;
  background-color: #fff; }
  .callout-info h1, .callout-info h2, .callout-info h3, .callout-info h4, .callout-info h5, .callout-info h6 {
    margin-top: 0;
    color: #39b3d7;
    margin-bottom: 0.25rem; }
  .callout-info p:last-child {
    margin-bottom: 0; }
  .callout-info .highlight {
    background-color: #fff; }
  .callout-info .close {
    color: #39b3d7; }
  .callout-info a.callout-link {
    color: #39b3d7; }
  .callout-info code {
    border-radius: 0.25rem; }
  .callout-info + .callout {
    margin-top: -0.32rem; }
.callout-warning {
  display: block;
  position: relative;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #f89d1e;
  border-left: 0.4rem solid #f89d1e;
  border-radius: 0.25rem;
  background-color: #fff; }
  .callout-warning h1, .callout-warning h2, .callout-warning h3, .callout-warning h4, .callout-warning h5, .callout-warning h6 {
    margin-top: 0;
    color: #f89d1e;
    margin-bottom: 0.25rem; }
  .callout-warning p:last-child {
    margin-bottom: 0; }
  .callout-warning .highlight {
    background-color: #fff; }
  .callout-warning .close {
    color: #f89d1e; }
  .callout-warning a.callout-link {
    color: #f89d1e; }
  .callout-warning code {
    border-radius: 0.25rem; }
  .callout-warning + .callout {
    margin-top: -0.32rem; }
.callout-danger {
  display: block;
  position: relative;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #e02828;
  border-left: 0.4rem solid #e02828;
  border-radius: 0.25rem;
  background-color: #fff; }
  .callout-danger h1, .callout-danger h2, .callout-danger h3, .callout-danger h4, .callout-danger h5, .callout-danger h6 {
    margin-top: 0;
    color: #e02828;
    margin-bottom: 0.25rem; }
  .callout-danger p:last-child {
    margin-bottom: 0; }
  .callout-danger .highlight {
    background-color: #fff; }
  .callout-danger .close {
    color: #e02828; }
  .callout-danger a.callout-link {
    color: #e02828; }
  .callout-danger code {
    border-radius: 0.25rem; }
  .callout-danger + .callout {
    margin-top: -0.32rem; }
.callout-light {
  display: block;
  position: relative;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #ced4da;
  border-left: 0.4rem solid #ced4da;
  border-radius: 0.25rem;
  background-color: #fff; }
  .callout-light h1, .callout-light h2, .callout-light h3, .callout-light h4, .callout-light h5, .callout-light h6 {
    margin-top: 0;
    color: #ced4da;
    margin-bottom: 0.25rem; }
  .callout-light p:last-child {
    margin-bottom: 0; }
  .callout-light .highlight {
    background-color: #fff; }
  .callout-light .close {
    color: #ced4da; }
  .callout-light a.callout-link {
    color: #ced4da; }
  .callout-light code {
    border-radius: 0.25rem; }
  .callout-light + .callout {
    margin-top: -0.32rem; }
.callout-dark {
  display: block;
  position: relative;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #343a40;
  border-left: 0.4rem solid #343a40;
  border-radius: 0.25rem;
  background-color: #fff; }
  .callout-dark h1, .callout-dark h2, .callout-dark h3, .callout-dark h4, .callout-dark h5, .callout-dark h6 {
    margin-top: 0;
    color: #343a40;
    margin-bottom: 0.25rem; }
  .callout-dark p:last-child {
    margin-bottom: 0; }
  .callout-dark .highlight {
    background-color: #fff; }
  .callout-dark .close {
    color: #343a40; }
  .callout-dark a.callout-link {
    color: #343a40; }
  .callout-dark code {
    border-radius: 0.25rem; }
  .callout-dark + .callout {
    margin-top: -0.32rem; }

.bs-switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.4rem;
  margin-bottom: 0; }
  .bs-switch input {
    display: none; }

.bs-slider {
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #495057;
  transition: .4s;
  /* rounded sliders */ }
  .bs-slider:before {
    position: absolute;
    z-index: 2;
    content: "";
    height: 1rem;
    width: 1rem;
    left: 0.2rem;
    bottom: 0.2rem;
    background-color: #dee2e6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
    transition: all 0.4s ease-in-out; }
  .bs-slider:after {
    position: absolute;
    left: 0;
    z-index: 1;
    font-size: .9rem;
    text-align: left !important;
    line-height: 1rem;
    padding-left: 0;
    width: 3rem;
    color: #fff;
    height: 1rem;
    border-radius: 1rem;
    background-color: #5c96bc;
    transform: translatex(-1.6rem);
    transition: all 0.4s ease-in-out; }
  .bs-slider-primary {
    background-color: #5c96bc; }
  .bs-slider-secondary {
    background-color: #009; }
  .bs-slider-success {
    background-color: #5cb85c; }
  .bs-slider-info {
    background-color: #39b3d7; }
  .bs-slider-warning {
    background-color: #f89d1e; }
  .bs-slider-danger {
    background-color: #e02828; }
  .bs-slider-light {
    background-color: #ced4da; }
  .bs-slider-dark {
    background-color: #343a40; }
  input:checked + .bs-slider:after {
    transform: translatex(0px);
    padding-left: .25rem; }
  input:checked + .bs-slider:before {
    background-color: #fff; }
  input:checked + .bs-slider:before {
    transform: translatex(1.6rem); }
  .bs-slider.round {
    border-radius: 1.4rem; }
  .bs-slider.round:before {
    border-radius: 50%; }
  input.default:checked + .bs-slider {
    background-color: #ced4da; }
  input.primary:checked + .bs-slider {
    background-color: #5c96bc; }
  input.success:checked + .bs-slider {
    background-color: #5cb85c; }
  input.info:checked + .bs-slider {
    background-color: #39b3d7; }
  input.warning:checked + .bs-slider {
    background-color: #f89d1e; }
  input.danger:checked + .bs-slider {
    background-color: #e02828; }

.absolute-yes, .absolute-no {
  position: absolute;
  font-size: .9rem;
  width: calc(100% - .25rem);
  height: 1rem;
  line-height: 1.4rem;
  cursor: pointer;
  color: #fff; }

.absolute-yes {
  left: 0.5rem;
  text-align: left !important; }

.absolute-no {
  right: 0.5rem;
  text-align: right !important; }

.div-striped > div:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.05); }

.list-striped > li:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.05); }

.ic-btn-lavender {
  color: #fff;
  background: #c86ed0 linear-gradient(180deg, #d084d7, #c86ed0) repeat-x;
  border-color: #c86ed0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5); }
  .ic-btn-lavender:hover {
    color: #fff;
    background: #bd51c7 linear-gradient(180deg, #c76bcf, #bd51c7) repeat-x;
    border-color: #b947c4; }
  .ic-btn-lavender:focus, .ic-btn-lavender.focus {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 0 0.2rem rgba(208, 132, 215, 0.5); }
  .ic-btn-lavender.disabled, .ic-btn-lavender:disabled {
    color: #fff;
    background-color: #c86ed0;
    border-color: #c86ed0;
    background-image: none; }
  .ic-btn-lavender:not(:disabled):not(.disabled):active, .ic-btn-lavender:not(:disabled):not(.disabled).active, .show > .ic-btn-lavender.dropdown-toggle {
    color: #fff;
    background-color: #b947c4;
    background-image: none;
    border-color: #b53ec0; }
    .ic-btn-lavender:not(:disabled):not(.disabled):active:focus, .ic-btn-lavender:not(:disabled):not(.disabled).active:focus, .show > .ic-btn-lavender.dropdown-toggle:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(208, 132, 215, 0.5); }

.ic-btn-note-yellow {
  color: #212529;
  background: #ffb71e linear-gradient(180deg, #ffc240, #ffb71e) repeat-x;
  border-color: #ffb71e;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5); }
  .ic-btn-note-yellow:hover {
    color: #212529;
    background: #f7a800 linear-gradient(180deg, #f8b526, #f7a800) repeat-x;
    border-color: #ea9f00; }
  .ic-btn-note-yellow:focus, .ic-btn-note-yellow.focus {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 0 0.2rem rgba(222, 161, 32, 0.5); }
  .ic-btn-note-yellow.disabled, .ic-btn-note-yellow:disabled {
    color: #212529;
    background-color: #ffb71e;
    border-color: #ffb71e;
    background-image: none; }
  .ic-btn-note-yellow:not(:disabled):not(.disabled):active, .ic-btn-note-yellow:not(:disabled):not(.disabled).active, .show > .ic-btn-note-yellow.dropdown-toggle {
    color: #212529;
    background-color: #ea9f00;
    background-image: none;
    border-color: #dd9600; }
    .ic-btn-note-yellow:not(:disabled):not(.disabled):active:focus, .ic-btn-note-yellow:not(:disabled):not(.disabled).active:focus, .show > .ic-btn-note-yellow.dropdown-toggle:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(222, 161, 32, 0.5); }

.ic-btn-note-blue {
  color: #fff;
  background: #1e9dff linear-gradient(180deg, #40acff, #1e9dff) repeat-x;
  border-color: #1e9dff;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5); }
  .ic-btn-note-blue:hover {
    color: #fff;
    background: #008bf7 linear-gradient(180deg, #269cf8, #008bf7) repeat-x;
    border-color: #0084ea; }
  .ic-btn-note-blue:focus, .ic-btn-note-blue.focus {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 0 0.2rem rgba(64, 172, 255, 0.5); }
  .ic-btn-note-blue.disabled, .ic-btn-note-blue:disabled {
    color: #fff;
    background-color: #1e9dff;
    border-color: #1e9dff;
    background-image: none; }
  .ic-btn-note-blue:not(:disabled):not(.disabled):active, .ic-btn-note-blue:not(:disabled):not(.disabled).active, .show > .ic-btn-note-blue.dropdown-toggle {
    color: #fff;
    background-color: #0084ea;
    background-image: none;
    border-color: #007ddd; }
    .ic-btn-note-blue:not(:disabled):not(.disabled):active:focus, .ic-btn-note-blue:not(:disabled):not(.disabled).active:focus, .show > .ic-btn-note-blue.dropdown-toggle:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(64, 172, 255, 0.5); }

.ic-btn-note-green {
  color: #fff;
  background: #15b227 linear-gradient(180deg, #38be47, #15b227) repeat-x;
  border-color: #15b227;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5); }
  .ic-btn-note-green:hover {
    color: #fff;
    background: #119020 linear-gradient(180deg, #35a141, #119020) repeat-x;
    border-color: #10841d; }
  .ic-btn-note-green:focus, .ic-btn-note-green.focus {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 0 0.2rem rgba(56, 190, 71, 0.5); }
  .ic-btn-note-green.disabled, .ic-btn-note-green:disabled {
    color: #fff;
    background-color: #15b227;
    border-color: #15b227;
    background-image: none; }
  .ic-btn-note-green:not(:disabled):not(.disabled):active, .ic-btn-note-green:not(:disabled):not(.disabled).active, .show > .ic-btn-note-green.dropdown-toggle {
    color: #fff;
    background-color: #10841d;
    background-image: none;
    border-color: #0e791b; }
    .ic-btn-note-green:not(:disabled):not(.disabled):active:focus, .ic-btn-note-green:not(:disabled):not(.disabled).active:focus, .show > .ic-btn-note-green.dropdown-toggle:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(56, 190, 71, 0.5); }

.ic-btn-note-pink {
  color: #fff;
  background: #e93691 linear-gradient(180deg, #ec54a2, #e93691) repeat-x;
  border-color: #e93691;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5); }
  .ic-btn-note-pink:hover {
    color: #fff;
    background: #e0197e linear-gradient(180deg, #e53c91, #e0197e) repeat-x;
    border-color: #d51778; }
  .ic-btn-note-pink:focus, .ic-btn-note-pink.focus {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 0 0.2rem rgba(236, 84, 162, 0.5); }
  .ic-btn-note-pink.disabled, .ic-btn-note-pink:disabled {
    color: #fff;
    background-color: #e93691;
    border-color: #e93691;
    background-image: none; }
  .ic-btn-note-pink:not(:disabled):not(.disabled):active, .ic-btn-note-pink:not(:disabled):not(.disabled).active, .show > .ic-btn-note-pink.dropdown-toggle {
    color: #fff;
    background-color: #d51778;
    background-image: none;
    border-color: #c91671; }
    .ic-btn-note-pink:not(:disabled):not(.disabled):active:focus, .ic-btn-note-pink:not(:disabled):not(.disabled).active:focus, .show > .ic-btn-note-pink.dropdown-toggle:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(236, 84, 162, 0.5); }

.ic-btn-note-white {
  color: #212529;
  background: #ccc linear-gradient(180deg, #d4d4d4, #ccc) repeat-x;
  border-color: #ccc;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5); }
  .ic-btn-note-white:hover {
    color: #212529;
    background: #b9b9b9 linear-gradient(180deg, #c4c4c4, #b9b9b9) repeat-x;
    border-color: #b3b3b3; }
  .ic-btn-note-white:focus, .ic-btn-note-white.focus {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 0 0.2rem rgba(178, 179, 180, 0.5); }
  .ic-btn-note-white.disabled, .ic-btn-note-white:disabled {
    color: #212529;
    background-color: #ccc;
    border-color: #ccc;
    background-image: none; }
  .ic-btn-note-white:not(:disabled):not(.disabled):active, .ic-btn-note-white:not(:disabled):not(.disabled).active, .show > .ic-btn-note-white.dropdown-toggle {
    color: #212529;
    background-color: #b3b3b3;
    background-image: none;
    border-color: #acacac; }
    .ic-btn-note-white:not(:disabled):not(.disabled):active:focus, .ic-btn-note-white:not(:disabled):not(.disabled).active:focus, .show > .ic-btn-note-white.dropdown-toggle:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(178, 179, 180, 0.5); }

.ic-btn-tut-pres,
.ic-btn-tut-tel,
.ic-btn-tut-chat,
.ic-btn-tut-foro,
.ic-btn-tut-email {
  margin-right: 1px; }

.ic-btn-tut-pres {
  color: #fff;
  background: #a00c30 linear-gradient(180deg, #ae304f, #a00c30) repeat-x;
  border-color: #a00c30;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5); }
  .ic-btn-tut-pres:hover {
    color: #fff;
    background: #7c0925 linear-gradient(180deg, #902e46, #7c0925) repeat-x;
    border-color: #710822; }
  .ic-btn-tut-pres:focus, .ic-btn-tut-pres.focus {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 0 0.2rem rgba(174, 48, 79, 0.5); }
  .ic-btn-tut-pres.disabled, .ic-btn-tut-pres:disabled {
    color: #fff;
    background-color: #a00c30;
    border-color: #a00c30;
    background-image: none; }
  .ic-btn-tut-pres:not(:disabled):not(.disabled):active, .ic-btn-tut-pres:not(:disabled):not(.disabled).active, .show > .ic-btn-tut-pres.dropdown-toggle {
    color: #fff;
    background-color: #710822;
    background-image: none;
    border-color: #65081e; }
    .ic-btn-tut-pres:not(:disabled):not(.disabled):active:focus, .ic-btn-tut-pres:not(:disabled):not(.disabled).active:focus, .show > .ic-btn-tut-pres.dropdown-toggle:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(174, 48, 79, 0.5); }

.ic-btn-tut-tel {
  color: #212529;
  background: #faa00d linear-gradient(180deg, #fbae31, #faa00d) repeat-x;
  border-color: #faa00d;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5);
  color: #fff; }
  .ic-btn-tut-tel:hover {
    color: #fff;
    background: #dc8a05 linear-gradient(180deg, #e19c2b, #dc8a05) repeat-x;
    border-color: #d08204; }
  .ic-btn-tut-tel:focus, .ic-btn-tut-tel.focus {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 0 0.2rem rgba(217, 142, 17, 0.5); }
  .ic-btn-tut-tel.disabled, .ic-btn-tut-tel:disabled {
    color: #212529;
    background-color: #faa00d;
    border-color: #faa00d;
    background-image: none; }
  .ic-btn-tut-tel:not(:disabled):not(.disabled):active, .ic-btn-tut-tel:not(:disabled):not(.disabled).active, .show > .ic-btn-tut-tel.dropdown-toggle {
    color: #fff;
    background-color: #d08204;
    background-image: none;
    border-color: #c37b04; }
    .ic-btn-tut-tel:not(:disabled):not(.disabled):active:focus, .ic-btn-tut-tel:not(:disabled):not(.disabled).active:focus, .show > .ic-btn-tut-tel.dropdown-toggle:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(217, 142, 17, 0.5); }

.ic-btn-tut-chat {
  color: #fff;
  background: #51956d linear-gradient(180deg, #6ba583, #51956d) repeat-x;
  border-color: #51956d;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5); }
  .ic-btn-tut-chat:hover {
    color: #fff;
    background: #447c5b linear-gradient(180deg, #609074, #447c5b) repeat-x;
    border-color: #3f7455; }
  .ic-btn-tut-chat:focus, .ic-btn-tut-chat.focus {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 0 0.2rem rgba(107, 165, 131, 0.5); }
  .ic-btn-tut-chat.disabled, .ic-btn-tut-chat:disabled {
    color: #fff;
    background-color: #51956d;
    border-color: #51956d;
    background-image: none; }
  .ic-btn-tut-chat:not(:disabled):not(.disabled):active, .ic-btn-tut-chat:not(:disabled):not(.disabled).active, .show > .ic-btn-tut-chat.dropdown-toggle {
    color: #fff;
    background-color: #3f7455;
    background-image: none;
    border-color: #3b6c4f; }
    .ic-btn-tut-chat:not(:disabled):not(.disabled):active:focus, .ic-btn-tut-chat:not(:disabled):not(.disabled).active:focus, .show > .ic-btn-tut-chat.dropdown-toggle:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(107, 165, 131, 0.5); }

.ic-btn-tut-foro {
  color: #fff;
  background: #7815a3 linear-gradient(180deg, #8c38b1, #7815a3) repeat-x;
  border-color: #7815a3;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5); }
  .ic-btn-tut-foro:hover {
    color: #fff;
    background: #5f1181 linear-gradient(180deg, #773594, #5f1181) repeat-x;
    border-color: #570f76; }
  .ic-btn-tut-foro:focus, .ic-btn-tut-foro.focus {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 0 0.2rem rgba(140, 56, 177, 0.5); }
  .ic-btn-tut-foro.disabled, .ic-btn-tut-foro:disabled {
    color: #fff;
    background-color: #7815a3;
    border-color: #7815a3;
    background-image: none; }
  .ic-btn-tut-foro:not(:disabled):not(.disabled):active, .ic-btn-tut-foro:not(:disabled):not(.disabled).active, .show > .ic-btn-tut-foro.dropdown-toggle {
    color: #fff;
    background-color: #570f76;
    background-image: none;
    border-color: #4e0e6b; }
    .ic-btn-tut-foro:not(:disabled):not(.disabled):active:focus, .ic-btn-tut-foro:not(:disabled):not(.disabled).active:focus, .show > .ic-btn-tut-foro.dropdown-toggle:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(140, 56, 177, 0.5); }

.ic-btn-tut-email {
  color: #fff;
  background: #5990d0 linear-gradient(180deg, #72a1d7, #5990d0) repeat-x;
  border-color: #5990d0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5); }
  .ic-btn-tut-email:hover {
    color: #fff;
    background: #3b7cc8 linear-gradient(180deg, #5890d0, #3b7cc8) repeat-x;
    border-color: #3676c0; }
  .ic-btn-tut-email:focus, .ic-btn-tut-email.focus {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 0 0.2rem rgba(114, 161, 215, 0.5); }
  .ic-btn-tut-email.disabled, .ic-btn-tut-email:disabled {
    color: #fff;
    background-color: #5990d0;
    border-color: #5990d0;
    background-image: none; }
  .ic-btn-tut-email:not(:disabled):not(.disabled):active, .ic-btn-tut-email:not(:disabled):not(.disabled).active, .show > .ic-btn-tut-email.dropdown-toggle {
    color: #fff;
    background-color: #3676c0;
    background-image: none;
    border-color: #3370b6; }
    .ic-btn-tut-email:not(:disabled):not(.disabled):active:focus, .ic-btn-tut-email:not(:disabled):not(.disabled).active:focus, .show > .ic-btn-tut-email.dropdown-toggle:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(114, 161, 215, 0.5); }

.mod-tut-group .ic-btn-tut-pres:not(:disabled):not(.disabled):active, .mod-tut-group .ic-btn-tut-pres:not(:disabled):not(.disabled).active,
.mod-tut-group .ic-btn-tut-tel:not(:disabled):not(.disabled):active,
.mod-tut-group .ic-btn-tut-tel:not(:disabled):not(.disabled).active,
.mod-tut-group .ic-btn-tut-chat:not(:disabled):not(.disabled):active,
.mod-tut-group .ic-btn-tut-chat:not(:disabled):not(.disabled).active,
.mod-tut-group .ic-btn-tut-foro:not(:disabled):not(.disabled):active,
.mod-tut-group .ic-btn-tut-foro:not(:disabled):not(.disabled).active,
.mod-tut-group .ic-btn-tut-email:not(:disabled):not(.disabled):active,
.mod-tut-group .ic-btn-tut-email:not(:disabled):not(.disabled).active {
  background: #fff; }
.mod-tut-group .ic-btn-tut-pres:not(:disabled):not(.disabled):active, .mod-tut-group .ic-btn-tut-pres:not(:disabled):not(.disabled).active {
  color: #a00c30; }
.mod-tut-group .ic-btn-tut-tel:not(:disabled):not(.disabled):active, .mod-tut-group .ic-btn-tut-tel:not(:disabled):not(.disabled).active {
  color: #faa00d; }
.mod-tut-group .ic-btn-tut-chat:not(:disabled):not(.disabled):active, .mod-tut-group .ic-btn-tut-chat:not(:disabled):not(.disabled).active {
  color: #51956d; }
.mod-tut-group .ic-btn-tut-foro:not(:disabled):not(.disabled):active, .mod-tut-group .ic-btn-tut-foro:not(:disabled):not(.disabled).active {
  color: #7815a3; }
.mod-tut-group .ic-btn-tut-email:not(:disabled):not(.disabled):active, .mod-tut-group .ic-btn-tut-email:not(:disabled):not(.disabled).active {
  color: #5990d0; }

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important; }

.divider-between-cols > [class*='col-']:before {
  background: #dee2e6;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  width: 1px;
  top: 0; }
.divider-between-cols > [class*='col-']:first-child:before {
  display: none; }

.big-bld-txt {
  font-size: 3rem;
  line-height: 2rem;
  font-weight: 700; }

.big-bld-txt-3l {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 700; }

.c001, .c002, .c003, .c004, .c005, .c006, .c007, .c008, .c009, .c010,
.c011, .c012, .c013, .c014, .c015, .c016, .c017, .c018, .c019, .c020,
.c021, .c022, .c023, .c024, .c025, .c026, .c027, .c028, .c029, .c030,
.c031, .c032, .c033, .c034, .c035, .c036, .c037, .c038, .c039, .c040,
.c041, .c042, .c043, .c044, .c045, .c046, .c047, .c048, .c049, .c050,
.c051, .c052, .c053, .c054, .c055, .c056, .c057, .c058, .c059, .c060,
.c061, .c062, .c063, .c064, .c065, .c066, .c067, .c068, .c069, .c070,
.c071, .c072, .c073, .c074, .c075, .c076, .c077, .c078, .c079, .c080,
.c081, .c082, .c083, .c084, .c085, .c086, .c087, .c088, .c089, .c090,
.c091, .c092, .c093, .c094, .c095, .c096, .c097,
.c-diag, .c-diag2, .c-importante,
.cg001, .cg002, .cg003, .cg004, .cg005, .cg006, .cg007, .cg008, .cg009,
.cg010 {
  color: #fff !important; }

.c001 a, .c002 a, .c003 a, .c004 a, .c005 a, .c006 a, .c007 a, .c008 a, .c009 a, .c010 a,
.c011 a, .c012 a, .c013 a, .c014 a, .c015 a, .c016 a, .c017 a, .c018 a, .c019 a, .c020 a,
.c021 a, .c022 a, .c023 a, .c024 a, .c025 a, .c026 a, .c027 a, .c028 a, .c029 a, .c030 a,
.c031 a, .c032 a, .c033 a, .c034 a, .c035 a, .c036 a, .c037 a, .c038 a, .c039 a, .c040 a,
.c041 a, .c042 a, .c043 a, .c044 a, .c045 a, .c046 a, .c047 a, .c048 a, .c049 a, .c050 a,
.c051 a, .c052 a, .c053 a, .c054 a, .c055 a, .c056 a, .c057 a, .c058 a, .c059 a, .c060 a,
.c061 a, .c062 a, .c063 a, .c064 a, .c065 a, .c066 a, .c067 a, .c068 a, .c069 a, .c070 a,
.c071 a, .c072 a, .c073 a, .c074 a, .c075 a, .c076 a, .c077 a, .c078 a, .c079 a, .c080 a,
.c081 a, .c082 a, .c083 a, .c084 a, .c085 a, .c086 a, .c087 a, .c088 a, .c089 a, .c090 a,
.c091 a, .c092 a, .c093 a, .c094 a, .c095 a, .c096 a, .c097 a,
.c-diag a, .c-diag2 a, .c-importante a,
.cg001 a, .cg002 a, .cg003 a, .cg004 a, .cg005 a, .cg006 a, .cg007 a, .cg008 a, .cg009 a,
.cg010 a {
  color: #fff; }

.c000, .c000 a {
  background-color: #ccc !important;
  border-color: #ccc;
  color: #666; }

.c001, .c001 a {
  background-color: #b00 !important;
  border-color: #b00; }

.c002, .c002 a {
  background-color: #800080 !important;
  border-color: #800080; }

.c003, .c003 a {
  background-color: #008000 !important;
  border-color: #008000; }

.c004, .c004 a {
  background-color: #000080 !important;
  border-color: #000080; }

.c005, .c005 a {
  background-color: #4aa !important;
  border-color: #4aa; }

.c006, .c006 a {
  background-color: #800000 !important;
  border-color: #800000; }

.c007, .c007 a {
  background-color: #a0a !important;
  border-color: #a0a; }

.c008, .c008 a {
  background-color: #1eb109 !important;
  border-color: #1eb109; }

.c009, .c009 a {
  background-color: #d6a !important;
  border-color: #d6a; }

.c010, .c010 a {
  background-color: #f60 !important;
  border-color: #f60; }

.c011, .c011 a {
  background-color: #3f6f6f !important;
  border-color: #3f6f6f; }

.c012, .c012 a {
  background-color: #0cc !important;
  border-color: #0cc; }

.c013, .c013 a {
  background-color: #c71585 !important;
  border-color: #c71585; }

.c014, .c014 a {
  background-color: #8a2be2 !important;
  border-color: #8a2be2; }

.c015, .c015 a {
  background-color: #556b2f !important;
  border-color: #556b2f; }

.c016, .c016 a {
  background-color: #1e90ff !important;
  border-color: #1e90ff; }

.c017, .c017 a {
  background-color: #d9d02c !important;
  border-color: #d9d02c; }

.c018, .c018 a {
  background-color: #4169e1 !important;
  border-color: #4169e1; }

.c019, .c019 a {
  background-color: #fa8072 !important;
  border-color: #fa8072; }

.c020, .c020 a {
  background-color: #496f3d !important;
  border-color: #496f3d; }

.c021, .c021 a {
  background-color: #aa8020 !important;
  border-color: #aa8020; }

.c022, .c022 a {
  background-color: #bb2f2e !important;
  border-color: #bb2f2e; }

.c023, .c023 a {
  background-color: #008080 !important;
  border-color: #008080; }

.c024, .c024 a {
  background-color: #0b7b24 !important;
  border-color: #0b7b24; }

.c025, .c025 a {
  background-color: #db7093 !important;
  border-color: #db7093; }

.c026, .c026 a {
  background-color: #008b8b !important;
  border-color: #008b8b; }

.c027, .c027 a {
  background-color: #c3a7e1 !important;
  border-color: #c3a7e1; }

.c028, .c028 a {
  background-color: #fafd29 !important;
  border-color: #fafd29; }

.c029, .c029 a {
  background-color: #ff1292 !important;
  border-color: #ff1292; }

.c030, .c030 a {
  background-color: #8e1f9c !important;
  border-color: #8e1f9c; }

.c031, .c031 a {
  background-color: #fde6a1 !important;
  border-color: #fde6a1; }

.c032, .c032 a {
  background-color: #cefe7f !important;
  border-color: #cefe7f; }

.c033, .c033 a {
  background-color: #a42f2c !important;
  border-color: #a42f2c; }

.c034, .c034 a {
  background-color: #8191e1 !important;
  border-color: #8191e1; }

.c035, .c035 a {
  background-color: #eaf00a !important;
  border-color: #eaf00a; }

.c036, .c036 a {
  background-color: #2eca93 !important;
  border-color: #2eca93; }

.c037, .c037 a {
  background-color: #f80624 !important;
  border-color: #f80624; }

.c038, .c038 a {
  background-color: #a67b3f !important;
  border-color: #a67b3f; }

.c039, .c039 a {
  background-color: #476e1b !important;
  border-color: #476e1b; }

.c040, .c040 a {
  background-color: #ff1292 !important;
  border-color: #ff1292; }

.c041, .c041 a {
  background-color: #8195e5 !important;
  border-color: #8195e5; }

.c042, .c042 a {
  background-color: #87ab81 !important;
  border-color: #87ab81; }

.c043, .c043 a {
  background-color: #706a83 !important;
  border-color: #706a83; }

.c044, .c044 a {
  background-color: #4c4969 !important;
  border-color: #4c4969; }

.c045, .c045 a {
  background-color: #ff5f03 !important;
  border-color: #ff5f03; }

.c046, .c046 a {
  background-color: #7a7da8 !important;
  border-color: #7a7da8; }

.c047, .c047 a {
  background-color: #bb4895 !important;
  border-color: #bb4895; }

.c048, .c048 a {
  background-color: #209164 !important;
  border-color: #209164; }

.c049, .c049 a {
  background-color: #7f6cad !important;
  border-color: #7f6cad; }

.c050, .c050 a {
  background-color: #8d553e !important;
  border-color: #8d553e; }

.c051, .c051 a {
  background-color: #cc6fd7 !important;
  border-color: #cc6fd7; }

.c052, .c052 a {
  background-color: #9163c6 !important;
  border-color: #9163c6; }

.c053, .c053 a {
  background-color: #19afaf !important;
  border-color: #19afaf; }

.c054, .c054 a {
  background-color: #45b57d !important;
  border-color: #45b57d; }

.c055, .c055 a {
  background-color: #149abb !important;
  border-color: #149abb; }

.c056, .c056 a {
  background-color: #b457c2 !important;
  border-color: #b457c2; }

.c057, .c057 a {
  background-color: #2051df !important;
  border-color: #2051df; }

.c058, .c058 a {
  background-color: #b174c9 !important;
  border-color: #b174c9; }

.c059, .c059 a {
  background-color: #7487a5 !important;
  border-color: #7487a5; }

.c060, .c060 a {
  background-color: #17ef65 !important;
  border-color: #17ef65; }

.c061, .c061 a {
  background-color: #3445e4 !important;
  border-color: #3445e4; }

.c062, .c062 a {
  background-color: #ea4684 !important;
  border-color: #ea4684; }

.c063, .c063 a {
  background-color: #3aaa81 !important;
  border-color: #3aaa81; }

.c064, .c064 a {
  background-color: #7d1268 !important;
  border-color: #7d1268; }

.c065, .c065 a {
  background-color: #8ca41b !important;
  border-color: #8ca41b; }

.c066, .c066 a {
  background-color: #a7eb8e !important;
  border-color: #a7eb8e; }

.c067, .c067 a {
  background-color: #0a4bcd !important;
  border-color: #0a4bcd; }

.c068, .c068 a {
  background-color: #105d3f !important;
  border-color: #105d3f; }

.c069, .c069 a {
  background-color: #f94570 !important;
  border-color: #f94570; }

.c070, .c070 a {
  background-color: #4c45a4 !important;
  border-color: #4c45a4; }

.c071, .c071 a {
  background-color: #c0c !important;
  border-color: #c0c; }

.c072, .c072 a {
  background-color: #1e90ff !important;
  border-color: #1e90ff; }

.c073, .c073 a {
  background-color: #ff8c00 !important;
  border-color: #ff8c00; }

.c074, .c074 a {
  background-color: #75c175 !important;
  border-color: #75c175; }

.c075, .c075 a {
  background-color: #da0 !important;
  border-color: #da0; }

.c076, .c076 a {
  background-color: #fd8080 !important;
  border-color: #fd8080; }

.c077, .c077 a {
  background-color: #bdb76b !important;
  border-color: #bdb76b; }

.c078, .c078 a {
  background-color: #a0522d !important;
  border-color: #a0522d; }

.c079, .c079 a {
  background-color: #90f !important;
  border-color: #90f; }

.c080, .c080 a {
  background-color: #4b0082 !important;
  border-color: #4b0082; }

.c081, .c081 a {
  background-color: #808000 !important;
  border-color: #808000; }

.c082, .c082 a {
  background-color: #f0a12a !important;
  border-color: #f0a12a; }

.c083, .c083 a {
  background-color: #16acc9 !important;
  border-color: #16acc9; }

.c084, .c084 a {
  background-color: #ee483d !important;
  border-color: #ee483d; }

.c085, .c085 a {
  background-color: #624be4 !important;
  border-color: #624be4; }

.c086, .c086 a {
  background-color: #0ec528 !important;
  border-color: #0ec528; }

.c087, .c087 a {
  background-color: #0400aa !important;
  border-color: #0400aa; }

.c088, .c088 a {
  background-color: #ec07b4 !important;
  border-color: #ec07b4; }

.c089, .c089 a {
  background-color: #5a6c26 !important;
  border-color: #5a6c26; }

.c090, .c090 a {
  background-color: #fa9533 !important;
  border-color: #fa9533; }

.c091, .c091 a {
  background-color: #7d3afa !important;
  border-color: #7d3afa; }

.c092, .c092 a {
  background-color: #a7cc0d !important;
  border-color: #a7cc0d; }

.c093, .c093 a {
  background-color: #e01767 !important;
  border-color: #e01767; }

.c094, .c094 a {
  background-color: #cfe7f9 !important;
  border-color: #cfe7f9; }

.c095, .c095 a {
  background-color: #b32e1c !important;
  border-color: #b32e1c; }

.c096, .c096 a {
  background-color: #fcf712 !important;
  border-color: #fcf712; }

.c097, .c097 a {
  background-color: #9af518 !important;
  border-color: #9af518; }

.cg001, .cg001 a {
  background-color: #1a1a1a !important;
  border-color: #1a1a1a; }

.cg002, .cg002 a {
  background-color: #4d4d4d !important;
  border-color: #4d4d4d; }

.cg003, .cg003 a {
  background-color: #808080 !important;
  border-color: #808080; }

.cg004, .cg004 a {
  background-color: #b3b3b3 !important;
  border-color: #b3b3b3; }

.cg005, .cg005 a {
  background-color: #c8c8c8 !important;
  border-color: #c8c8c8; }

.cg006, .cg006 a {
  background-color: #1a1a1a !important;
  border-color: #1a1a1a; }

.cg007, .cg007 a {
  background-color: #4d4d4d !important;
  border-color: #4d4d4d; }

.cg008, .cg008 a {
  background-color: #808080 !important;
  border-color: #808080; }

.cg009, .cg009 a {
  background-color: #b3b3b3 !important;
  border-color: #b3b3b3; }

.cg010, .cg010 a {
  background-color: #e5e5e5 !important;
  border-color: #e5e5e5; }

.c-diag, .c-diag a {
  background-color: #009;
  border-color: #009; }

.c-diag2, .c-diag2 a {
  background-color: #6c757d;
  border-color: #6c757d; }

.c-importante, .c-importante a {
  background-color: #b00;
  border-color: #b00; }

.c-diag, .c-diag a,
.c-diag2, .c-diag2 a,
.c-importante, .c-importante a {
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-size: 30px 30px; }

#ic-isologo {
  position: relative;
  top: -3px; }

.navbar .dropdown-item:hover {
  color: #fff;
  background-color: #5c96bc;
  background: #5c96bc linear-gradient(180deg, #74a6c6, #5c96bc) repeat-x; }
.navbar .dropdown-toggle-right-show {
  background-color: transparent !important;
  background-image: none; }
.navbar .dropdown-submenu .dropdown-toggle {
  padding-left: 0; }
.navbar .dropdown-submenu .dropdown-menu.show {
  top: 0;
  left: 100%; }
.navbar .dropdown-toggle-right:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #adb5bd;
  margin-top: 5px;
  margin-right: -10px; }
.navbar .nav-btn {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem; }
  .navbar .nav-btn:hover, .navbar .nav-btn:focus {
    text-decoration: none; }
  .navbar .nav-btn [class$="-ico"], .navbar .nav-btn [class*="-ico "] {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle; }

.navbar-autog {
  background-image: linear-gradient(to bottom, #2a4c79 0%, #365b8f 100%);
  background-repeat: repeat-x; }

#toolbar-toggler {
  font-size: 1rem;
  border: 0; }

#sidebar-wrapper {
  position: relative;
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out; }
  @media (prefers-reduced-motion: reduce) {
    #sidebar-wrapper {
      transition: none; } }
  #sidebar-wrapper .list-group {
    width: 15rem; }
  #sidebar-wrapper #login-badge {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: .5rem;
    right: 0;
    font-size: 150%;
    z-index: 3; }

#page-content-wrapper {
  min-width: 100vw;
  padding-top: 1rem;
  padding-bottom: 1rem; }

#wrapper {
  margin-top: 3.5rem; }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0; }

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0; }

  #page-content-wrapper {
    min-width: 0;
    width: 100%; }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem; } }
a.ic-toolbtn-agendatelo,
.ic-toolbtn-agendatelo {
  color: #2e350c; }

a.ic-toolbtn-agendatelo:hover,
.ic-toolbtn-agendatelo:hover,
.ic-toolbtn-agendatelo-hover {
  color: #e5efb6;
  background-color: #2e350c !important; }

a.ic-toolbtn-agendatelo:focus,
.ic-toolbtn-agendatelo:focus {
  color: #29300b;
  background-color: #fff !important; }

a.ic-toolbtn-asistencia,
.ic-toolbtn-asistencia {
  color: #6e62b3; }

a.ic-toolbtn-asistencia:hover,
.ic-toolbtn-asistencia:hover,
.ic-toolbtn-asistencia-hover {
  color: #e2e0f0;
  background-color: #6e62b3 !important; }

a.ic-toolbtn-asistencia:focus,
.ic-toolbtn-asistencia:focus {
  color: #5e51a8;
  background-color: #fff !important; }

a.ic-toolbtn-calendac,
.ic-toolbtn-calendac {
  color: #bb00c8; }

a.ic-toolbtn-calendac:hover,
.ic-toolbtn-calendac:hover,
.ic-toolbtn-calendac-hover {
  color: #fbc1ff;
  background-color: #bb00c8 !important; }

a.ic-toolbtn-calendac:focus,
.ic-toolbtn-calendac:focus {
  color: #a800b4;
  background-color: #fff !important; }

a.ic-toolbtn-calendario,
.ic-toolbtn-calendario {
  color: #eba00d; }

a.ic-toolbtn-calendario:hover,
.ic-toolbtn-calendario:hover,
.ic-toolbtn-calendario-hover {
  color: #fceccd;
  background-color: #eba00d !important; }

a.ic-toolbtn-calendario:focus,
.ic-toolbtn-calendario:focus {
  color: #d4900c;
  background-color: #fff !important; }

a.ic-toolbtn-cerrar,
.ic-toolbtn-cerrar {
  color: #006; }

a.ic-toolbtn-cerrar:hover,
.ic-toolbtn-cerrar:hover,
.ic-toolbtn-cerrar-hover {
  color: #adadff;
  background-color: #006 !important; }

a.ic-toolbtn-cerrar:focus,
.ic-toolbtn-cerrar:focus {
  color: #00005c;
  background-color: #fff !important; }

a.ic-toolbtn-chat,
.ic-toolbtn-chat {
  color: #51956d; }

a.ic-toolbtn-chat:hover,
.ic-toolbtn-chat:hover,
.ic-toolbtn-chat-hover {
  color: #dbebe2;
  background-color: #51956d !important; }

a.ic-toolbtn-chat:focus,
.ic-toolbtn-chat:focus {
  color: #498662;
  background-color: #fff !important; }

a.ic-toolbtn-correl,
.ic-toolbtn-correl {
  color: #005745; }

a.ic-toolbtn-correl:hover,
.ic-toolbtn-correl:hover,
.ic-toolbtn-correl-hover {
  color: #aaffed;
  background-color: #005745 !important; }

a.ic-toolbtn-correl:focus,
.ic-toolbtn-correl:focus {
  color: #004e3e;
  background-color: #fff !important; }

a.ic-toolbtn-cronograma,
.ic-toolbtn-cronograma {
  color: #faa00d; }

a.ic-toolbtn-cronograma:hover,
.ic-toolbtn-cronograma:hover,
.ic-toolbtn-cronograma-hover {
  color: #feeccf;
  background-color: #faa00d !important; }

a.ic-toolbtn-cronograma:focus,
.ic-toolbtn-cronograma:focus {
  color: #e89205;
  background-color: #fff !important; }

a.ic-toolbtn-datos,
.ic-toolbtn-datos {
  color: #8526a3; }

a.ic-toolbtn-datos:hover,
.ic-toolbtn-datos:hover,
.ic-toolbtn-datos-hover {
  color: #eacdf3;
  background-color: #8526a3 !important; }

a.ic-toolbtn-datos:focus,
.ic-toolbtn-datos:focus {
  color: #782293;
  background-color: #fff !important; }

a.ic-toolbtn-descarga,
.ic-toolbtn-descarga {
  color: #c94927; }

a.ic-toolbtn-descarga:hover,
.ic-toolbtn-descarga:hover,
.ic-toolbtn-descarga-hover {
  color: #f6d9d2;
  background-color: #c94927 !important; }

a.ic-toolbtn-descarga:focus,
.ic-toolbtn-descarga:focus {
  color: #b54223;
  background-color: #fff !important; }

a.ic-toolbtn-desinscr,
.ic-toolbtn-desinscr {
  color: #991f05; }

a.ic-toolbtn-desinscr:hover,
.ic-toolbtn-desinscr:hover,
.ic-toolbtn-desinscr-hover {
  color: #fdc6bb;
  background-color: #991f05 !important; }

a.ic-toolbtn-desinscr:focus,
.ic-toolbtn-desinscr:focus {
  color: #8a1c05;
  background-color: #fff !important; }

a.ic-toolbtn-enlaces,
.ic-toolbtn-enlaces {
  color: #000; }

a.ic-toolbtn-enlaces:hover,
.ic-toolbtn-enlaces:hover,
.ic-toolbtn-enlaces-hover {
  color: #cccccc;
  background-color: #000 !important; }

a.ic-toolbtn-enlaces:focus,
.ic-toolbtn-enlaces:focus {
  color: black;
  background-color: #fff !important; }

a.ic-toolbtn-fechasi,
.ic-toolbtn-fechasi {
  color: #094daa; }

a.ic-toolbtn-fechasi:hover,
.ic-toolbtn-fechasi:hover,
.ic-toolbtn-fechasi-hover {
  color: #c0d9fc;
  background-color: #094daa !important; }

a.ic-toolbtn-fechasi:focus,
.ic-toolbtn-fechasi:focus {
  color: #084599;
  background-color: #fff !important; }

a.ic-toolbtn-finalesc,
.ic-toolbtn-finalesc {
  color: #ba1f00; }

a.ic-toolbtn-finalesc:hover,
.ic-toolbtn-finalesc:hover,
.ic-toolbtn-finalesc-hover {
  color: #ffc9be;
  background-color: #ba1f00 !important; }

a.ic-toolbtn-finalesc:focus,
.ic-toolbtn-finalesc:focus {
  color: #a71c00;
  background-color: #fff !important; }

a.ic-toolbtn-finalesf,
.ic-toolbtn-finalesf {
  color: #aa1f05; }

a.ic-toolbtn-finalesf:hover,
.ic-toolbtn-finalesf:hover,
.ic-toolbtn-finalesf-hover {
  color: #fdc8be;
  background-color: #aa1f05 !important; }

a.ic-toolbtn-finalesf:focus,
.ic-toolbtn-finalesf:focus {
  color: #991c05;
  background-color: #fff !important; }

a.ic-toolbtn-finalesi,
.ic-toolbtn-finalesi {
  color: #aa1f05; }

a.ic-toolbtn-finalesi:hover,
.ic-toolbtn-finalesi:hover,
.ic-toolbtn-finalesi-hover {
  color: #fdc8be;
  background-color: #aa1f05 !important; }

a.ic-toolbtn-finalesi:focus,
.ic-toolbtn-finalesi:focus {
  color: #991c05;
  background-color: #fff !important; }

a.ic-toolbtn-forms,
.ic-toolbtn-forms {
  color: #c94927; }

a.ic-toolbtn-forms:hover,
.ic-toolbtn-forms:hover,
.ic-toolbtn-forms-hover {
  color: #f6d9d2;
  background-color: #c94927 !important; }

a.ic-toolbtn-forms:focus,
.ic-toolbtn-forms:focus {
  color: #b54223;
  background-color: #fff !important; }

a.ic-toolbtn-foros,
.ic-toolbtn-foros {
  color: #7815a3; }

a.ic-toolbtn-foros:hover,
.ic-toolbtn-foros:hover,
.ic-toolbtn-foros-hover {
  color: #e8c5f8;
  background-color: #7815a3 !important; }

a.ic-toolbtn-foros:focus,
.ic-toolbtn-foros:focus {
  color: #6c1393;
  background-color: #fff !important; }

a.ic-toolbtn-horarios,
.ic-toolbtn-horarios {
  color: #72adf5; }

a.ic-toolbtn-horarios:hover,
.ic-toolbtn-horarios:hover,
.ic-toolbtn-horarios-hover {
  color: #e3effd;
  background-color: #72adf5 !important; }

a.ic-toolbtn-horarios:focus,
.ic-toolbtn-horarios:focus {
  color: #509af3;
  background-color: #fff !important; }

a.ic-toolbtn-inicio,
.ic-toolbtn-inicio {
  color: #006; }

a.ic-toolbtn-inicio:hover,
.ic-toolbtn-inicio:hover,
.ic-toolbtn-inicio-hover {
  color: #adadff;
  background-color: #006 !important; }

a.ic-toolbtn-inicio:focus,
.ic-toolbtn-inicio:focus {
  color: #00005c;
  background-color: #fff !important; }

a.ic-toolbtn-materiasi,
.ic-toolbtn-materiasi {
  color: #094daa; }

a.ic-toolbtn-materiasi:hover,
.ic-toolbtn-materiasi:hover,
.ic-toolbtn-materiasi-hover {
  color: #c0d9fc;
  background-color: #094daa !important; }

a.ic-toolbtn-materiasi:focus,
.ic-toolbtn-materiasi:focus {
  color: #084599;
  background-color: #fff !important; }

a.ic-toolbtn-mensajeria,
.ic-toolbtn-mensajeria {
  color: #51956d; }

a.ic-toolbtn-mensajeria:hover,
.ic-toolbtn-mensajeria:hover,
.ic-toolbtn-mensajeria-hover {
  color: #dbebe2;
  background-color: #51956d !important; }

a.ic-toolbtn-mensajeria:focus,
.ic-toolbtn-mensajeria:focus {
  color: #498662;
  background-color: #fff !important; }

a.ic-toolbtn-mens-alu-doc,
.ic-toolbtn-mens-alu-doc {
  color: #5ca67a; }

a.ic-toolbtn-mens-alu-doc:hover,
.ic-toolbtn-mens-alu-doc:hover,
.ic-toolbtn-mens-alu-doc-hover {
  color: #deede4;
  background-color: #5ca67a !important; }

a.ic-toolbtn-mens-alu-doc:focus,
.ic-toolbtn-mens-alu-doc:focus {
  color: #52966e;
  background-color: #fff !important; }

a.ic-toolbtn-pagos,
.ic-toolbtn-pagos {
  color: #eba00d; }

a.ic-toolbtn-pagos:hover,
.ic-toolbtn-pagos:hover,
.ic-toolbtn-pagos-hover {
  color: #fceccd;
  background-color: #eba00d !important; }

a.ic-toolbtn-pagos:focus,
.ic-toolbtn-pagos:focus {
  color: #d4900c;
  background-color: #fff !important; }

a.ic-toolbtn-parcialesc,
.ic-toolbtn-parcialesc {
  color: #1b893a; }

a.ic-toolbtn-parcialesc:hover,
.ic-toolbtn-parcialesc:hover,
.ic-toolbtn-parcialesc-hover {
  color: #c5f4d2;
  background-color: #1b893a !important; }

a.ic-toolbtn-parcialesc:focus,
.ic-toolbtn-parcialesc:focus {
  color: #187b34;
  background-color: #fff !important; }

a.ic-toolbtn-parcialesf,
.ic-toolbtn-parcialesf {
  color: #2b892a; }

a.ic-toolbtn-parcialesf:hover,
.ic-toolbtn-parcialesf:hover,
.ic-toolbtn-parcialesf-hover {
  color: #cdefcc;
  background-color: #2b892a !important; }

a.ic-toolbtn-parcialesf:focus,
.ic-toolbtn-parcialesf:focus {
  color: #277b26;
  background-color: #fff !important; }

a.ic-toolbtn-pass,
.ic-toolbtn-pass {
  color: #ff9600; }

a.ic-toolbtn-pass:hover,
.ic-toolbtn-pass:hover,
.ic-toolbtn-pass-hover {
  color: #ffeacc;
  background-color: #ff9600 !important; }

a.ic-toolbtn-pass:focus,
.ic-toolbtn-pass:focus {
  color: #e68700;
  background-color: #fff !important; }

a.ic-toolbtn-personalizar,
.ic-toolbtn-personalizar {
  color: #5d1b72; }

a.ic-toolbtn-personalizar:hover,
.ic-toolbtn-personalizar:hover,
.ic-toolbtn-personalizar-hover {
  color: #e6c3f1;
  background-color: #5d1b72 !important; }

a.ic-toolbtn-personalizar:focus,
.ic-toolbtn-personalizar:focus {
  color: #541867;
  background-color: #fff !important; }

a.ic-toolbtn-reglamento,
.ic-toolbtn-reglamento {
  color: #c94927; }

a.ic-toolbtn-reglamento:hover,
.ic-toolbtn-reglamento:hover,
.ic-toolbtn-reglamento-hover {
  color: #f6d9d2;
  background-color: #c94927 !important; }

a.ic-toolbtn-reglamento:focus,
.ic-toolbtn-reglamento:focus {
  color: #b54223;
  background-color: #fff !important; }

a.ic-toolbtn-regularidad,
.ic-toolbtn-regularidad {
  color: #6e62b3; }

a.ic-toolbtn-regularidad:hover,
.ic-toolbtn-regularidad:hover,
.ic-toolbtn-regularidad-hover {
  color: #e2e0f0;
  background-color: #6e62b3 !important; }

a.ic-toolbtn-regularidad:focus,
.ic-toolbtn-regularidad:focus {
  color: #5e51a8;
  background-color: #fff !important; }

a.ic-toolbtn-tutorias,
.ic-toolbtn-tutorias {
  color: #453d70; }

a.ic-toolbtn-tutorias:hover,
.ic-toolbtn-tutorias:hover,
.ic-toolbtn-tutorias-hover {
  color: #d6d3e7;
  background-color: #453d70 !important; }

a.ic-toolbtn-tutorias:focus,
.ic-toolbtn-tutorias:focus {
  color: #3e3765;
  background-color: #fff !important; }

a.ic-toolbtn-anotador,
.ic-toolbtn-anotador {
  color: #2eca93; }

a.ic-toolbtn-anotador:hover,
.ic-toolbtn-anotador:hover,
.ic-toolbtn-anotador-hover {
  color: #d4f5ea;
  background-color: #2eca93 !important; }

a.ic-toolbtn-anotador:focus,
.ic-toolbtn-anotador:focus {
  color: #29b684;
  background-color: #fff !important; }

.text-blue-ic {
  color: #009 !important; }

a.text-blue-ic:hover, a.text-blue-ic:focus {
  color: #00004d !important; }

.text-gold-ic {
  color: #e6c800 !important; }

a.text-gold-ic:hover, a.text-gold-ic:focus {
  color: #9a8500 !important; }

.text-ic-primary {
  color: #2A3A66 !important; }

a.text-ic-primary:hover, a.text-ic-primary:focus {
  color: #141b30 !important; }

.text-ic-color-lavender {
  color: #c86ed0 !important; }

a.text-ic-color-lavender:hover, a.text-ic-color-lavender:focus {
  color: #ac3bb6 !important; }

.text-ic-color-cyan {
  color: #00ae8a !important; }

a.text-ic-color-cyan:hover, a.text-ic-color-cyan:focus {
  color: #00624d !important; }

.text-ic-color-frutilla {
  color: #a00c30 !important; }

a.text-ic-color-frutilla:hover, a.text-ic-color-frutilla:focus {
  color: #59071b !important; }

.text-ic-color-yellow {
  color: #fcf712 !important; }

a.text-ic-color-yellow:hover, a.text-ic-color-yellow:focus {
  color: #bfbb02 !important; }

.text-ic-color-news {
  color: #00639f !important; }

a.text-ic-color-news:hover, a.text-ic-color-news:focus {
  color: #003353 !important; }

.text-ic-color-forum {
  color: #7815a3 !important; }

a.text-ic-color-forum:hover, a.text-ic-color-forum:focus {
  color: #460c5f !important; }

.text-ic-color-download {
  color: #5990d0 !important; }

a.text-ic-color-download:hover, a.text-ic-color-download:focus {
  color: #316aac !important; }

.text-ic-color-chat {
  color: #51956d !important; }

a.text-ic-color-chat:hover, a.text-ic-color-chat:focus {
  color: #366349 !important; }

.text-ic-color-tuto {
  color: #901505 !important; }

a.text-ic-color-tuto:hover, a.text-ic-color-tuto:focus {
  color: #460a02 !important; }

.text-ic-color-chrono {
  color: #faa00d !important; }

a.text-ic-color-chrono:hover, a.text-ic-color-chrono:focus {
  color: #b77304 !important; }

.text-ic-color-msgs {
  color: #51956d !important; }

a.text-ic-color-msgs:hover, a.text-ic-color-msgs:focus {
  color: #366349 !important; }

.text-ic-color-google-lt-blue {
  color: #0089fa !important; }

a.text-ic-color-google-lt-blue:hover, a.text-ic-color-google-lt-blue:focus {
  color: #005fae !important; }

.text-ic-color-google-lt-red {
  color: #ff002b !important; }

a.text-ic-color-google-lt-red:hover, a.text-ic-color-google-lt-red:focus {
  color: #b3001e !important; }

.text-ic-color-google-ochre {
  color: #ffa900 !important; }

a.text-ic-color-google-ochre:hover, a.text-ic-color-google-ochre:focus {
  color: #b37600 !important; }

.text-ic-color-google-green {
  color: #00a753 !important; }

a.text-ic-color-google-green:hover, a.text-ic-color-google-green:focus {
  color: #005b2d !important; }

h1.titulo-agendatelo {
  color: #fff;
  background: #2e350c;
  padding: 0.75rem; }
  h1.titulo-agendatelo small {
    color: #fff; }

h1.titulo-asistencia {
  color: #fff;
  background: #6e62b3;
  padding: 0.75rem; }
  h1.titulo-asistencia small {
    color: #fff; }

h1.titulo-calendac {
  color: #fff;
  background: #bb00c8;
  padding: 0.75rem; }
  h1.titulo-calendac small {
    color: #fff; }

h1.titulo-calendario {
  color: #fff;
  background: #eba00d;
  padding: 0.75rem; }
  h1.titulo-calendario small {
    color: #fff; }

h1.titulo-cerrar {
  color: #fff;
  background: #006;
  padding: 0.75rem; }
  h1.titulo-cerrar small {
    color: #fff; }

h1.titulo-chat {
  color: #fff;
  background: #51956d;
  padding: 0.75rem; }
  h1.titulo-chat small {
    color: #fff; }

h1.titulo-correl {
  color: #fff;
  background: #005745;
  padding: 0.75rem; }
  h1.titulo-correl small {
    color: #fff; }

h1.titulo-cronograma {
  color: #fff;
  background: #faa00d;
  padding: 0.75rem; }
  h1.titulo-cronograma small {
    color: #fff; }

h1.titulo-datos {
  color: #fff;
  background: #8526a3;
  padding: 0.75rem; }
  h1.titulo-datos small {
    color: #fff; }

h1.titulo-descarga {
  color: #fff;
  background: #c94927;
  padding: 0.75rem; }
  h1.titulo-descarga small {
    color: #fff; }

h1.titulo-desinscr {
  color: #fff;
  background: #991f05;
  padding: 0.75rem; }
  h1.titulo-desinscr small {
    color: #fff; }

h1.titulo-enlaces {
  color: #fff;
  background: #000;
  padding: 0.75rem; }
  h1.titulo-enlaces small {
    color: #fff; }

h1.titulo-fechasi {
  color: #fff;
  background: #094daa;
  padding: 0.75rem; }
  h1.titulo-fechasi small {
    color: #fff; }

h1.titulo-finalesc {
  color: #fff;
  background: #ba1f00;
  padding: 0.75rem; }
  h1.titulo-finalesc small {
    color: #fff; }

h1.titulo-finalesf {
  color: #fff;
  background: #aa1f05;
  padding: 0.75rem; }
  h1.titulo-finalesf small {
    color: #fff; }

h1.titulo-finalesi {
  color: #fff;
  background: #aa1f05;
  padding: 0.75rem; }
  h1.titulo-finalesi small {
    color: #fff; }

h1.titulo-forms {
  color: #fff;
  background: #c94927;
  padding: 0.75rem; }
  h1.titulo-forms small {
    color: #fff; }

h1.titulo-foros {
  color: #fff;
  background: #7815a3;
  padding: 0.75rem; }
  h1.titulo-foros small {
    color: #fff; }

h1.titulo-horarios {
  color: #fff;
  background: #72adf5;
  padding: 0.75rem; }
  h1.titulo-horarios small {
    color: #fff; }

h1.titulo-inicio {
  color: #fff;
  background: #006;
  padding: 0.75rem; }
  h1.titulo-inicio small {
    color: #fff; }

h1.titulo-materiasi {
  color: #fff;
  background: #094daa;
  padding: 0.75rem; }
  h1.titulo-materiasi small {
    color: #fff; }

h1.titulo-mensajeria {
  color: #fff;
  background: #51956d;
  padding: 0.75rem; }
  h1.titulo-mensajeria small {
    color: #fff; }

h1.titulo-mens-alu-doc {
  color: #fff;
  background: #5ca67a;
  padding: 0.75rem; }
  h1.titulo-mens-alu-doc small {
    color: #fff; }

h1.titulo-pagos {
  color: #fff;
  background: #eba00d;
  padding: 0.75rem; }
  h1.titulo-pagos small {
    color: #fff; }

h1.titulo-parcialesc {
  color: #fff;
  background: #1b893a;
  padding: 0.75rem; }
  h1.titulo-parcialesc small {
    color: #fff; }

h1.titulo-parcialesf {
  color: #fff;
  background: #2b892a;
  padding: 0.75rem; }
  h1.titulo-parcialesf small {
    color: #fff; }

h1.titulo-pass {
  color: #fff;
  background: #ff9600;
  padding: 0.75rem; }
  h1.titulo-pass small {
    color: #fff; }

h1.titulo-personalizar {
  color: #fff;
  background: #5d1b72;
  padding: 0.75rem; }
  h1.titulo-personalizar small {
    color: #fff; }

h1.titulo-reglamento {
  color: #fff;
  background: #c94927;
  padding: 0.75rem; }
  h1.titulo-reglamento small {
    color: #fff; }

h1.titulo-regularidad {
  color: #fff;
  background: #6e62b3;
  padding: 0.75rem; }
  h1.titulo-regularidad small {
    color: #fff; }

h1.titulo-tutorias {
  color: #fff;
  background: #453d70;
  padding: 0.75rem; }
  h1.titulo-tutorias small {
    color: #fff; }

h1.titulo-anotador {
  color: #fff;
  background: #2eca93;
  padding: 0.75rem; }
  h1.titulo-anotador small {
    color: #fff; }

.est-regular,
.est-libre,
.est-promocion {
  text-align: center;
  color: #fff;
  font-weight: bold; }

.est-regular {
  background-color: #5cb85c; }

.est-libre {
  background-color: #e02828; }

.est-promocion {
  background-color: #009; }

.filterable .filters input[disabled] {
  background-color: transparent;
  border: none;
  cursor: auto;
  box-shadow: none;
  padding: 0;
  height: auto; }
  .filterable .filters input[disabled]::placeholder {
    color: #fff !important;
    font-weight: bold; }
  .filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #fff !important;
    font-weight: bold; }
  .filterable .filters input[disabled]::-moz-placeholder {
    color: #fff !important;
    font-weight: bold; }
  .filterable .filters input[disabled]::-ms-input-placeholder {
    color: #fff !important;
    font-weight: bold; }
.filterable .filters.text-black input[disabled]::placeholder {
  color: #000 !important; }
.filterable .filters.text-black input[disabled]::-webkit-input-placeholder {
  color: #000 !important; }
.filterable .filters.text-black input[disabled]::-moz-placeholder {
  color: #000 !important; }
.filterable .filters.text-black input[disabled]::-ms-input-placeholder {
  color: #000 !important; }

.fld-err,
.b-err,
.ta-err,
.ta-big-err,
.err1 {
  position: relative; }
  .fld-err:before,
  .b-err:before,
  .ta-err:before,
  .ta-big-err:before,
  .err1:before {
    position: absolute;
    right: 1rem;
    top: .5rem;
    color: #e02828;
    content: "\e952";
    font-family: 'icomoon', sans-serif !important; }

.fld-err label, .b-err label, .ta-err label, .ta-big-err label, .err1 label {
  color: #fff;
  background: #e02828; }

.fld-err input, .b-err input, .err1 input {
  border-color: #e02828; }

.fld-err textarea, .ta-err textarea, .ta-big-err textarea, .ta-sm-err textarea {
  border-color: #e02828; }

.fld-err select {
  border-color: #e02828; }

#calendar th {
  background: #3e83c9;
  color: #fff;
  padding: 0.3rem;
  border-right: 1px solid #fff; }
  #calendar th.fc-widget-header {
    width: 14% !important; }

.calblock {
  width: 100%; }
  .calblock table {
    float: left;
    width: 14rem;
    height: 16rem;
    margin: 0 1rem .7rem 0;
    border: 0;
    color: #000;
    border-collapse: collapse;
    text-align: center; }
  .calblock td,
  .calblock th {
    width: 2rem;
    height: 2rem;
    border: 1px solid #ced4da; }
  @media (min-width: 768px) {
    .calblock table {
      width: 21rem;
      height: 24rem; }
    .calblock td,
    .calblock th {
      width: 3rem;
      height: 3rem; } }
  .calblock td {
    padding: 0;
    background: transparent; }
  .calblock th {
    font-weight: normal;
    color: #fff;
    background: #3e83c9; }
  .calblock table#ref {
    clear: both;
    width: 100%;
    margin: 0;
    border: 0;
    color: #000; }
    .calblock table#ref td {
      width: 10%; }
    .calblock table#ref th {
      color: #000;
      text-align: left; }
  .calblock .month-name {
    font: 1.125rem/1.125rem "helvetica black", "arial black", "univers black", "nimbus sans l black", geneva, sans-serif; }
  .calblock #lineview td {
    height: .7rem;
    font-size: .5rem; }
  .calblock .currdayline {
    border-color: #ced4da #fcf712;
    border-width: 1px 3px; }
  .calblock #currday {
    border: 3px solid #fcf712; }
  .calblock .s01, .calblock .s02, .calblock .s03, .calblock .s04,
  .calblock .s05, .calblock .s06, .calblock .s07, .calblock .s08,
  .calblock .s09, .calblock .s10, .calblock .s11, .calblock .s12,
  .calblock .s13, .calblock .s14, .calblock .s15, .calblock .s16,
  .calblock .s17, .calblock .s18, .calblock .s19, .calblock .s20,
  .calblock .s21, .calblock .s22, .calblock .s23, .calblock .s24,
  .calblock .s25, .calblock .s26, .calblock .s27, .calblock .s28,
  .calblock .s29, .calblock .s30, .calblock .s31, .calblock .s32,
  .calblock .sx {
    color: #fff; }
  .calblock .s01 {
    background: #c00; }
  .calblock .s02 {
    background: #008000; }
  .calblock .s03 {
    background: #00c; }
  .calblock .s04 {
    background: #c0c; }
  .calblock .s05 {
    background: #008080; }
  .calblock .s06 {
    background: #1e90ff; }
  .calblock .s07 {
    background: #ff8c00; }
  .calblock .s08 {
    background: #75c175; }
  .calblock .s09 {
    background: #da0; }
  .calblock .s10 {
    background: #fd8080; }
  .calblock .s11 {
    background: #bdb76b; }
  .calblock .s12 {
    background: #a0522d; }
  .calblock .s13 {
    background: #90f; }
  .calblock .s14 {
    background: #4b0082; }
  .calblock .s15 {
    background: #808000; }
  .calblock .s16 {
    background: #800080; }
  .calblock .s17 {
    background: #f0a12a; }
  .calblock .s18 {
    background: #16acc9; }
  .calblock .s19 {
    background: #ee483d; }
  .calblock .s20 {
    background: #624be4; }
  .calblock .s21 {
    background: #0ec528; }
  .calblock .s22 {
    background: #0400aa; }
  .calblock .s23 {
    background: #ec07b4; }
  .calblock .s24 {
    background: #5a6c26; }
  .calblock .s25 {
    background: #fa9533; }
  .calblock .s26 {
    background: #7d3afa; }
  .calblock .s27 {
    background: #a7cc0d; }
  .calblock .s28 {
    background: #e01767; }
  .calblock .s29 {
    background: #cfe7f9; }
  .calblock .s30 {
    background: #b32e1c; }
  .calblock .s31 {
    background: #fcf712; }
  .calblock .s32 {
    background: #9af518; }
  .calblock .sx {
    background: #000; }
  .calblock .fc-det {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    text-align: center;
    color: #fff; }

#cntr-calendac #calendac {
  margin: 1.25rem 0 0 .4rem; }
  #cntr-calendac #calendac a {
    color: #fff; }
#cntr-calendac #det {
  position: absolute;
  top: 230px;
  left: -999em;
  width: 200px;
  height: 80px; }
  #cntr-calendac #det h3 {
    margin: 0;
    padding: 0 .7rem;
    height: 1.7rem;
    color: #5c96bc;
    font: bold 42px/25px 'arial black',arial,helvetica; }
    #cntr-calendac #det h3 span {
      position: relative;
      top: 2px; }
  #cntr-calendac #det p {
    margin: .2rem 0 .2rem .7rem;
    padding: 0 .7rem; }

#crono-tbl #ct-clr {
  width: 1rem; }
#crono-tbl #ct-tip {
  width: 12rem; }
#crono-tbl #ct-uni {
  width: 2rem; }
#crono-tbl #ct-act {
  width: 50%; }
#crono-tbl #ct-cnd {
  width: 6rem; }
#crono-tbl #ct-acc {
  width: 10rem; }

.crono-label {
  padding: 0.4rem 0.8rem;
  color: #fff;
  line-height: 1.3rem; }
  .crono-label span {
    margin-right: .5rem; }

.crono-ind-bkg, .crono-gru-bkg,
.crono-obl-bkg, .crono-opc-bkg,
.crono-pre-bkg, .crono-dis-bkg {
  color: #fff; }

.crono-ind-bkg {
  background-color: #df4796; }

.crono-gru-bkg {
  background-color: #b0316e; }

.crono-obl-bkg {
  background-color: #ed811d; }

.crono-opc-bkg {
  background-color: #a63c12; }

.crono-pre-bkg {
  background-color: #1cbe62; }

.crono-dis-bkg {
  background-color: #459973; }

.crono-ind-txt {
  color: #df4796; }

.crono-gru-txt {
  color: #b0316e; }

.crono-obl-txt {
  color: #ed811d; }

.crono-opc-txt {
  color: #a63c12; }

.crono-pre-txt {
  color: #1cbe62; }

.crono-dis-txt {
  color: #459973; }

.desc-unidad {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center; }
  .desc-unidad span {
    font-size: 80%; }
  .desc-unidad strong {
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-weight: bold; }
    .desc-unidad strong.condensed {
      display: block;
      letter-spacing: -.62rem;
      text-align: left; }

.colortainer {
  position: relative;
  width: 100%;
  height: 100%; }
  .colortainer span {
    display: block;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    padding-top: 10%;
    text-align: center;
    color: #fff; }
  @media (min-width: 768px) {
    .colortainer span {
      padding-top: 25%; } }
  .colortainer .no-act {
    color: #000; }
  .colortainer div {
    width: 100%;
    height: 4px; }
  .colortainer #currday {
    border: none; }

.notiny-primary {
  background-color: #5c96bc;
  color: #deeaf2; }

.notiny-secondary {
  background-color: #000099;
  color: #cccceb; }

.notiny-success {
  background-color: #5cb85c;
  color: #def1de; }

.notiny-info {
  background-color: #39b3d7;
  color: #d7f0f7; }

.notiny-warning {
  background-color: #f89d1e;
  color: #feebd2; }

.notiny-danger {
  background-color: #e02828;
  color: #f9d4d4; }

.notiny-light {
  background-color: #ced4da;
  color: #f5f6f8; }

.notiny-dark {
  background-color: #343a40;
  color: #d6d8d9; }

.asist-cond, .asist-est {
  min-height: 3rem; }
  .asist-cond thead tr th, .asist-est thead tr th {
    font-weight: normal;
    vertical-align: middle; }
  .asist-cond th, .asist-cond td, .asist-est th, .asist-est td {
    text-align: center; }
  .asist-cond td, .asist-est td {
    font-size: 2rem; }

.asist-cond > thead > tr > th {
  border-color: #5ba0d3; }

.encuentros {
  width: 33%;
  background-color: #b6d4eb;
  /*#cce1f5*/ }

.ausentes-perm {
  width: 33%;
  background-color: #9dc6e5;
  /*#8fc7ef*/ }

.porc-perm {
  width: 33%;
  background-color: #85b8de; }

.asist-est th, .asist-est td {
  width: 50%; }

.asist-est-regular {
  color: #5cb85c;
  background-color: #ceeace; }

.asist-est > thead > tr > th.asist-est-regular {
  border-color: #439a43; }

.asist-porc.asist-est-regular {
  color: #fff;
  background-color: #5cb85c; }

.asist-est-limite {
  color: #f89d1e;
  background-color: #fcd8a5; }

.asist-est > thead > tr > th.asist-est-limite {
  border-color: #d88007; }

.asist-porc.asist-est-limite {
  color: #fff;
  background-color: #f89d1e; }

.asist-est-libre {
  color: #e02828;
  background-color: #f9d4d4; }

.asist-est > thead > tr > th.asist-est-libre {
  border-color: #a21717; }

.asist-porc.asist-est-libre {
  color: #fff;
  background-color: #b91b1b; }

#infoalu h4,
#infodoc h4 {
  margin-bottom: 0;
  padding: 0.75rem 1.25rem; }
#infoalu .big-lt-txt, #infoalu .big-num-txt,
#infodoc .big-lt-txt,
#infodoc .big-num-txt {
  display: block;
  text-align: right;
  font-weight: 300;
  letter-spacing: -.08em;
  font-size: 2rem;
  line-height: 4rem; }
#infoalu .big-num-txt,
#infodoc .big-num-txt {
  letter-spacing: -.1em;
  font-size: 3rem; }
#infoalu .sm-desc,
#infodoc .sm-desc {
  display: block;
  text-align: right;
  font-size: 80%;
  line-height: 1; }
#infoalu .info-lnk,
#infodoc .info-lnk {
  display: block; }
  #infoalu .info-lnk:hover,
  #infodoc .info-lnk:hover {
    text-decoration: none; }
#infoalu .stad-icon,
#infodoc .stad-icon {
  position: absolute;
  top: 1rem;
  font-size: 2rem;
  opacity: .6; }

table.sortable thead tr .header:after, table.sortable thead tr .headersortup:after, table.sortable thead tr .headersortdown:after {
  font-family: 'icomoon', sans-serif; }
table.sortable thead tr .header:hover, table.sortable thead tr .headersortup:hover, table.sortable thead tr .headersortdown:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075); }
table.sortable thead tr .header {
  cursor: pointer; }
  table.sortable thead tr .header:after {
    content: "\f0dc"; }
table.sortable thead tr .headersortup:after {
  content: "\f0dd"; }
table.sortable thead tr .headersortdown:after {
  content: "\f0de"; }

.calif {
  position: relative; }
  .calif div {
    float: right;
    color: #fff;
    padding-right: 5% !important;
    text-align: right;
    font-weight: bold; }

#autog-prs-opc .autog-toolbtn,
#autog-prs-sel .autog-toolbtn {
  min-width: 12rem;
  color: #fff;
  border: none;
  background: #ced4da; }

.autog-prs-placeholder {
  display: block;
  width: 12rem;
  height: 3rem !important;
  padding: 0.75rem 1.25rem;
  background: #e9ecef;
  border: 2px dashed rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem; }

.num-imp {
  text-align: center;
  background: #e02828;
  color: #fff;
  font-size: 2.5rem;
  font-family: "myriad pro black", "myriad black", "helveticaneuelt std blk", "helvetica neue black", "helvetica 95 black", "helvetica black", "arial black", "univers black", "nimbus sans l black", geneva, sans-serif; }
  .num-imp strong {
    font-weight: normal !important; }

#forms a,
.part-downloads a {
  display: block;
  height: 8rem;
  margin-bottom: 1rem;
  padding: 0rem;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 0.25rem; }
  #forms a:hover,
  .part-downloads a:hover {
    text-decoration: none;
    background-color: #dee2e6;
    border-color: #adb5bd; }
  #forms a > span,
  .part-downloads a > span {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 3rem;
    line-height: 1; }
    #forms a > span span,
    .part-downloads a > span span {
      font-size: 3rem;
      display: inline; }

.as-txt {
  color: #00abd6; }

.as-bkg {
  background-color: #00abd6;
  color: #fff; }

.aw-txt {
  color: #038ab8; }

.aw-bkg {
  background-color: #038ab8;
  color: #fff; }

.rh-txt {
  color: #b585bb; }

.rh-bkg {
  background-color: #b585bb;
  color: #fff; }

.rp-txt {
  color: #763392; }

.rp-bkg {
  background-color: #763392;
  color: #fff; }

.gi-txt {
  color: #be0000; }

.gi-bkg {
  background-color: #be0000;
  color: #fff; }

.hys-txt {
  color: #f4d400; }

.hys-bkg {
  background-color: #f4d400;
  color: #fff; }

.ga-txt {
  color: #ee8800; }

.ga-bkg {
  background-color: #ee8800;
  color: #fff; }

.ae-txt {
  color: #829d3c; }

.ae-bkg {
  background-color: #829d3c;
  color: #fff; }

.co-txt {
  color: #9dB53d; }

.co-bkg {
  background-color: #9dB53d;
  color: #fff; }

.big-calif {
  text-align: right;
  font-weight: bold;
  font-size: 4rem;
  font-family: "trebuchet ms", verdana, "verdana ref",candara, "bitstream vera sans", "dejavu sans", "bitstream vera sans", sans-serif; }

@media (min-width: 768px) {
  .page-datos form label {
    text-align: right; } }
.btn-div {
  width: 100%;
  min-height: 6rem;
  margin-bottom: .5rem; }

.btn-divs {
  padding: 0; }
  .btn-divs div {
    display: block;
    width: 98%;
    height: 5rem;
    margin: 0 1% .5rem 1%;
    float: left;
    list-style: none none;
    background: #009 url(/images/bg/ico-carreras-80.png) no-repeat;
    border: 1px solid #009;
    box-shadow: inset 2px 2px 1px rgba(255, 255, 255, 0.15), 2px 2px 2px rgba(0, 0, 0, 0.5); }
    .btn-divs div a {
      display: block;
      padding: 1rem;
      height: 100%;
      color: #fff;
      text-decoration: none;
      font-weight: normal;
      background: transparent; }
      .btn-divs div a:hover {
        color: #009; }
      .btn-divs div a:active {
        position: relative;
        top: 1px;
        left: 1px; }
    .btn-divs div:hover {
      background-color: #fff;
      box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5); }
  .btn-divs .as, .btn-divs .asc {
    background-position: 0 0; }
  .btn-divs .aw, .btn-divs .assw {
    background-position: 0 -80px; }
  .btn-divs .hys, .btn-divs .tshscai {
    background-position: 0 -160px; }
  .btn-divs .ga, .btn-divs .tsga {
    background-position: 0 -640px; }
  .btn-divs .gi, .btn-divs .tsgi {
    background-position: 0 -240px; }
  .btn-divs .ae, .btn-divs .tsae {
    background-position: 0 -320px; }
  .btn-divs .co, .btn-divs .tsc {
    background-position: 0 -400px; }
  .btn-divs .rh, .btn-divs .tsrh {
    background-position: 0 -480px; }
  .btn-divs .rp, .btn-divs .tsrp {
    background-position: 0 -560px; }
  .btn-divs .ic {
    background-color: #009;
    background-image: none; }
  .btn-divs .as:hover, .btn-divs .asc:hover,
  .btn-divs .as:focus, .btn-divs .asc:focus {
    background-position: 0 -720px; }
  .btn-divs .aw:hover, .btn-divs .assw:hover,
  .btn-divs .aw:focus, .btn-divs .assw:focus {
    background-position: 0 -800px; }
  .btn-divs .hys:hover, .btn-divs .tshscai:hover,
  .btn-divs .hys:focus, .btn-divs .tshscai:focus {
    background-position: 0 -880px; }
  .btn-divs .gi:hover, .btn-divs .tsgi:hover,
  .btn-divs .gi:focus, .btn-divs .tsgi:focus {
    background-position: 0 -960px; }
  .btn-divs .ae:hover, .btn-divs .tsae:hover,
  .btn-divs .ae:focus, .btn-divs .tsae:focus {
    background-position: 0 -1040px; }
  .btn-divs .co:hover, .btn-divs .tsc:hover,
  .btn-divs .co:focus, .btn-divs .tsc:focus {
    background-position: 0 -1120px; }
  .btn-divs .rh:hover, .btn-divs .tsrh:hover,
  .btn-divs .rh:focus, .btn-divs .tsrh:focus {
    background-position: 0 -1200px; }
  .btn-divs .rp:hover, .btn-divs .tsrp:hover,
  .btn-divs .rp:focus, .btn-divs .tsrp:focus {
    background-position: 0 -1280px; }
  .btn-divs .ga:hover, .btn-divs .tsga:hover,
  .btn-divs .ga:focus, .btn-divs .tsga:focus {
    background-position: 0 -1360px; }
  .btn-divs .as {
    border-color: #00abd6;
    background-color: #009ac1;
    color: #fff; }
    .btn-divs .as a:hover {
      color: #00abd6; }
  .btn-divs .aw {
    border-color: #038ab8;
    background-color: #037ca6;
    color: #fff; }
    .btn-divs .aw a:hover {
      color: #038ab8; }
  .btn-divs .rh {
    border-color: #b585bb;
    background-color: #a970b0;
    color: #fff; }
    .btn-divs .rh a:hover {
      color: #b585bb; }
  .btn-divs .rp {
    border-color: #763392;
    background-color: #6a2e83;
    color: #fff; }
    .btn-divs .rp a:hover {
      color: #763392; }
  .btn-divs .gi {
    border-color: #be0000;
    background-color: #ab0000;
    color: #fff; }
    .btn-divs .gi a:hover {
      color: #be0000; }
  .btn-divs .hys {
    border-color: #f4d400;
    background-color: #dcbf00;
    color: #fff; }
    .btn-divs .hys a:hover {
      color: #f4d400; }
  .btn-divs .ga {
    border-color: #ee8800;
    background-color: #d67a00;
    color: #fff; }
    .btn-divs .ga a:hover {
      color: #ee8800; }
  .btn-divs .ae {
    border-color: #829d3c;
    background-color: #758d36;
    color: #fff; }
    .btn-divs .ae a:hover {
      color: #829d3c; }
  .btn-divs .co {
    border-color: #9dB53d;
    background-color: #8da337;
    color: #fff; }
    .btn-divs .co a:hover {
      color: #9dB53d; }
  .btn-divs span {
    display: block; }
  .btn-divs .bd-mat {
    height: 1.5rem;
    overflow: hidden;
    font-size: 1rem; }
  .btn-divs .bd-div {
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold; }

.btn-ev {
  color: #fff;
  background: #202080 linear-gradient(180deg, #414193, #202080) repeat-x;
  border-color: #202080;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5); }
  .btn-ev:hover {
    color: #fff;
    background: #181861 linear-gradient(180deg, #3b3b79, #181861) repeat-x;
    border-color: #161657; }
  .btn-ev:focus, .btn-ev.focus {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 0 0.2rem rgba(65, 65, 147, 0.5); }
  .btn-ev.disabled, .btn-ev:disabled {
    color: #fff;
    background-color: #202080;
    border-color: #202080;
    background-image: none; }
  .btn-ev:not(:disabled):not(.disabled):active, .btn-ev:not(:disabled):not(.disabled).active, .show > .btn-ev.dropdown-toggle {
    color: #fff;
    background-color: #161657;
    background-image: none;
    border-color: #13134d; }
    .btn-ev:not(:disabled):not(.disabled):active:focus, .btn-ev:not(:disabled):not(.disabled).active:focus, .show > .btn-ev.dropdown-toggle:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(65, 65, 147, 0.5); }

.btn-ev-off {
  cursor: not-allowed;
  pointer-events: all !important; }

.btn-ev,
.btn-ev-off {
  height: 3rem;
  width: 4.5rem;
  margin-right: .5rem; }

.btn-p1 {
  color: #fff;
  background: #b02f2e linear-gradient(180deg, #bc4e4d, #b02f2e) repeat-x;
  border-color: #b02f2e;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5); }
  .btn-p1:hover {
    color: #fff;
    background: #922726 linear-gradient(180deg, #a24747, #922726) repeat-x;
    border-color: #882423; }
  .btn-p1:focus, .btn-p1.focus {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 0 0.2rem rgba(188, 78, 77, 0.5); }
  .btn-p1.disabled, .btn-p1:disabled {
    color: #fff;
    background-color: #b02f2e;
    border-color: #b02f2e;
    background-image: none; }
  .btn-p1:not(:disabled):not(.disabled):active, .btn-p1:not(:disabled):not(.disabled).active, .show > .btn-p1.dropdown-toggle {
    color: #fff;
    background-color: #882423;
    background-image: none;
    border-color: #7d2221; }
    .btn-p1:not(:disabled):not(.disabled):active:focus, .btn-p1:not(:disabled):not(.disabled).active:focus, .show > .btn-p1.dropdown-toggle:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(188, 78, 77, 0.5); }

.btn-p1-off {
  cursor: not-allowed;
  pointer-events: all !important; }

.btn-p1,
.btn-p1-off {
  height: 3rem;
  width: 4.5rem;
  margin-right: .5rem; }

.btn-p2 {
  color: #fff;
  background: #008060 linear-gradient(180deg, #269378, #008060) repeat-x;
  border-color: #008060;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5); }
  .btn-p2:hover {
    color: #fff;
    background: #005a43 linear-gradient(180deg, #26735f, #005a43) repeat-x;
    border-color: #004d3a; }
  .btn-p2:focus, .btn-p2.focus {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 0 0.2rem rgba(38, 147, 120, 0.5); }
  .btn-p2.disabled, .btn-p2:disabled {
    color: #fff;
    background-color: #008060;
    border-color: #008060;
    background-image: none; }
  .btn-p2:not(:disabled):not(.disabled):active, .btn-p2:not(:disabled):not(.disabled).active, .show > .btn-p2.dropdown-toggle {
    color: #fff;
    background-color: #004d3a;
    background-image: none;
    border-color: #004030; }
    .btn-p2:not(:disabled):not(.disabled):active:focus, .btn-p2:not(:disabled):not(.disabled).active:focus, .show > .btn-p2.dropdown-toggle:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(38, 147, 120, 0.5); }

.btn-p2-off {
  cursor: not-allowed;
  pointer-events: all !important; }

.btn-p2,
.btn-p2-off {
  height: 3rem;
  width: 4.5rem;
  margin-right: .5rem; }

.btn-tp1 {
  color: #fff;
  background: #1e90ff linear-gradient(180deg, #40a1ff, #1e90ff) repeat-x;
  border-color: #1e90ff;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5); }
  .btn-tp1:hover {
    color: #fff;
    background: #007df7 linear-gradient(180deg, #2691f8, #007df7) repeat-x;
    border-color: #0077ea; }
  .btn-tp1:focus, .btn-tp1.focus {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 0 0.2rem rgba(64, 161, 255, 0.5); }
  .btn-tp1.disabled, .btn-tp1:disabled {
    color: #fff;
    background-color: #1e90ff;
    border-color: #1e90ff;
    background-image: none; }
  .btn-tp1:not(:disabled):not(.disabled):active, .btn-tp1:not(:disabled):not(.disabled).active, .show > .btn-tp1.dropdown-toggle {
    color: #fff;
    background-color: #0077ea;
    background-image: none;
    border-color: #0070dd; }
    .btn-tp1:not(:disabled):not(.disabled):active:focus, .btn-tp1:not(:disabled):not(.disabled).active:focus, .show > .btn-tp1.dropdown-toggle:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(64, 161, 255, 0.5); }

.btn-tp1-off {
  cursor: not-allowed;
  pointer-events: all !important; }

.btn-tp1,
.btn-tp1-off {
  height: 3rem;
  width: 4.5rem;
  margin-right: .5rem; }

.btn-tp2 {
  color: #fff;
  background: #c71585 linear-gradient(180deg, #cf3897, #c71585) repeat-x;
  border-color: #c71585;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5); }
  .btn-tp2:hover {
    color: #fff;
    background: #a4116e linear-gradient(180deg, #b23584, #a4116e) repeat-x;
    border-color: #991066; }
  .btn-tp2:focus, .btn-tp2.focus {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 0 0.2rem rgba(207, 56, 151, 0.5); }
  .btn-tp2.disabled, .btn-tp2:disabled {
    color: #fff;
    background-color: #c71585;
    border-color: #c71585;
    background-image: none; }
  .btn-tp2:not(:disabled):not(.disabled):active, .btn-tp2:not(:disabled):not(.disabled).active, .show > .btn-tp2.dropdown-toggle {
    color: #fff;
    background-color: #991066;
    background-image: none;
    border-color: #8d0f5e; }
    .btn-tp2:not(:disabled):not(.disabled):active:focus, .btn-tp2:not(:disabled):not(.disabled).active:focus, .show > .btn-tp2.dropdown-toggle:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(207, 56, 151, 0.5); }

.btn-tp2-off {
  cursor: not-allowed;
  pointer-events: all !important; }

.btn-tp2,
.btn-tp2-off {
  height: 3rem;
  width: 4.5rem;
  margin-right: .5rem; }

.btn-r {
  color: #fff;
  background: #8e1f9c linear-gradient(180deg, #9f41ab, #8e1f9c) repeat-x;
  border-color: #8e1f9c;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5); }
  .btn-r:hover {
    color: #fff;
    background: #71197c linear-gradient(180deg, #863c90, #71197c) repeat-x;
    border-color: #671771; }
  .btn-r:focus, .btn-r.focus {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 0 0.2rem rgba(159, 65, 171, 0.5); }
  .btn-r.disabled, .btn-r:disabled {
    color: #fff;
    background-color: #8e1f9c;
    border-color: #8e1f9c;
    background-image: none; }
  .btn-r:not(:disabled):not(.disabled):active, .btn-r:not(:disabled):not(.disabled).active, .show > .btn-r.dropdown-toggle {
    color: #fff;
    background-color: #671771;
    background-image: none;
    border-color: #5e1467; }
    .btn-r:not(:disabled):not(.disabled):active:focus, .btn-r:not(:disabled):not(.disabled).active:focus, .show > .btn-r.dropdown-toggle:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(159, 65, 171, 0.5); }

.btn-r-off {
  cursor: not-allowed;
  pointer-events: all !important; }

.btn-r,
.btn-r-off {
  height: 3rem;
  width: 4.5rem;
  margin-right: .5rem; }

#autog-alu-info .alu-i-dat p {
  margin: 3px 0; }
#autog-alu-info .alu-i-dat .prom {
  position: absolute;
  top: 2.5rem;
  right: 2rem;
  padding: .25rem;
  border: 2px solid #adb5bd;
  width: 10rem; }

/*# sourceMappingURL=autog.css.map */
