// Colores personalizados (todos en theme-colors)
$primary:                  #5c96bc; // Podría ser también: #3E83C9 (lo puse como highlight)
$secondary:                #009;
$success:                  #5cb85c;
$info:                     #39b3d7;
$warning:                  #f89d1e;
$danger:                   #e02828;
$light:                    #ced4da; // Este es $gray-400 en vez del $gray-100

// Propios
$highlight:                #3e83c9; //#5151d4; // 20190731: Antes era igual que el primary
$blue-ic:                  #009;
$gold-ic:                  #e6c800;
$light-gold-ic:            #fff0c0;
$heading-ic:               #5151d4;

// Colores
$ic-primary:               #2A3A66;
$ic-color-lavender:        #c86ed0; //#8e009c  d09cd9 c86ed0
$ic-color-cyan:            #00ae8a; //Lo saqué de Wikipedia. lo usan para "editado por última vez"
$ic-color-frutilla:        #a00c30; //Lo saqué de Wikipedia. Del artículo House of Lords (Parlamento británico) // también usado en registro de tutorías para "personalmente"
$ic-color-yellow:          #fcf712;  // es el c096. Necesitaba un amarillo fuerte para una zona en seguimiento de cronograma
$ic-color-news:            #00639f;

$ic-color-forum:           #7815a3; // también usado en registro de tutorías
$ic-color-download:        #5990d0; // también usado en registro de tutorías para "e-mail"
$ic-color-chat:            #51956d; // también usado en registro de tutorías. El a barra de herramientas era #00ad8a
$ic-color-tuto:            #901505;
$ic-color-chrono:          #faa00d; // también usado en registro de tutorías para "teléfono"

$ic-color-msgs:            #51956d;

$ic-color-google-lt-blue:  #0089fa;
$ic-color-google-lt-red:   #ff002b;
$ic-color-google-ochre:    #ffa900; // orange? yellow?
$ic-color-google-green:    #00a753;

$ic-colores: () !default;
$ic-colores: map-merge(
	(
		"blue-ic":                 $blue-ic,
		"gold-ic":                 $gold-ic,

		"ic-primary":              $ic-primary,
		"ic-color-lavender":       $ic-color-lavender,
		"ic-color-cyan":           $ic-color-cyan,
		"ic-color-frutilla":       $ic-color-frutilla,

		"ic-color-yellow":         $ic-color-yellow,
		"ic-color-news":           $ic-color-news,

		"ic-color-forum":          $ic-color-forum,
		"ic-color-download":       $ic-color-download,
		"ic-color-chat":           $ic-color-chat,
		"ic-color-tuto":           $ic-color-tuto,
		"ic-color-chrono":         $ic-color-chrono,

		"ic-color-msgs":           $ic-color-msgs,

		"ic-color-google-lt-blue": $ic-color-google-lt-blue,
		"ic-color-google-lt-red":  $ic-color-google-lt-red,
		"ic-color-google-ochre":   $ic-color-google-ochre,
		"ic-color-google-green":   $ic-color-google-green
	),
	$ic-colores
);

// Colores Áreas

$ai:                       #009;
$ae:                       #090;
$aj:                       #c00;
$aia:                      #eb0;

$areas: () !default;
$areas: map-merge(
	(
		"ai":  $ai,
		"ae":  $ae,
		"aj":  $aj,
		"aia": $aia
	),
	$areas
);

// Colores Carreras

$as:                       #00abd6;
$aw:                       #038ab8;
$rh:                       #b585bb;
$rp:                       #763392;
$gi:                       #be0000;//#E32C34
$hys:                      #f4d400;//#E7D327
$ga:                       #ee8800;
$ae:                       #829d3c;
$co:                       #9dB53d;

$carreras: () !default;
$carreras: map-merge(
	(
		"as":  $as,
		"aw":  $aw,
		"rh":  $rh,
		"rp":  $rp,
		"gi":  $gi,
		"hys": $hys,
		"ga":  $ga,
		"ae":  $ae,
		"co":  $co
	),
	$carreras
);

// Colores evaluaciones
$ev:                       #202080;
$p1:                       #b02f2e;
$p2:                       #008060;
$tp1:                      #1e90ff;
$tp2:                      #c71585;
$r:                        #8e1f9c;

$evaluaciones: () !default;
$evaluaciones: map-merge(
	(
			"ev":  $ev,
			"p1":  $p1,
			"p2":  $p2,
			"tp1": $tp1,
			"tp2": $tp2,
			"r":   $r
	),
	$evaluaciones
);

// Fuentes
$font-family-sans-serif:  "Ubuntu", "Bitstream Vera Sans", "DejaVu Sans", Tahoma, sans-serif;
$font-family-serif:       Georgia, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", serif;
$font-family-monospace:   Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Menlo, Monaco, "Courier New", Courier, monospace;
$font-family-script: "Architects Daughter", "Brush Script MT", "Monotype Corsiva", "Comic Sans MS", cursive;

$font-size-base:              1rem; // Es una copia del de Bootstrap

//$h1-font-size:                $font-size-base * 3.7; // Demasiado grande (20190722)
//$h2-font-size:                $font-size-base * 2.15;

$headings-font-weight:        bold;

// Components
$padding-base-vertical:     .4rem;
$padding-base-horizontal:   .8rem;

// Buttons

// La sombra por defecto la hice más evidente pasando de una opacidad de
// 0,075 a una de 0,5 (en ese parámetro 1 es opaco y 0 es completamente
// transparente).
$btn-box-shadow:              inset 0 1px 0 rgba(255,255,255, .15), 0 1px 1px rgba(0,0,0, .5);

// Una sombra más enfática, principalmente para botones grandes como
// los de materia (alumnos) o comisión (docentes)
// "inv" es para el efecto presionado
$btn-box-shadow-em:           inset 2px 2px 1px rgba(255,255,255,0.15),2px 2px 2px rgba(0,0,0,0.5);
$btn-box-shadow-em-inv:       inset 1px 1px 2px rgba(0,0,0,0.5);//,2px 2px 2px rgba(255,255,255,0.15)

// Options
$alert-bg-level:              0; // 0: El color puro (ori: -10)
$alert-border-level:          3; // 3: El color 50% más oscuro  (ori: -9)
$alert-color-level:         -10; // -10: El color 100% más claro (ori: 6)

$enable-shadows:            true;
$enable-gradients:          true;
$enable-transitions:        true;

// Variables propias
$general-space:            .32rem; //~5px


