//
// Colores
// Creado por AML el 20/09/2014.
// CSS original creado en 2010.
// Grises añadidos 20150805
// Pasado a SCSS el 20190625
//

.c001, .c002, .c003, .c004, .c005, .c006, .c007, .c008, .c009, .c010,
.c011, .c012, .c013, .c014, .c015, .c016, .c017, .c018, .c019, .c020,
.c021, .c022, .c023, .c024, .c025, .c026, .c027, .c028, .c029, .c030,
.c031, .c032, .c033, .c034, .c035, .c036, .c037, .c038, .c039, .c040,
.c041, .c042, .c043, .c044, .c045, .c046, .c047, .c048, .c049, .c050,
.c051, .c052, .c053, .c054, .c055, .c056, .c057, .c058, .c059, .c060,
.c061, .c062, .c063, .c064, .c065, .c066, .c067, .c068, .c069, .c070,
.c071, .c072, .c073, .c074, .c075, .c076, .c077, .c078, .c079, .c080,
.c081, .c082, .c083, .c084, .c085, .c086, .c087, .c088, .c089, .c090,
.c091, .c092, .c093, .c094, .c095, .c096, .c097,
.c-diag, .c-diag2, .c-importante,
.cg001, .cg002, .cg003, .cg004, .cg005, .cg006, .cg007, .cg008, .cg009,
.cg010{color : #fff !important}

.c001 a, .c002 a, .c003 a, .c004 a, .c005 a, .c006 a, .c007 a, .c008 a, .c009 a, .c010 a,
.c011 a, .c012 a, .c013 a, .c014 a, .c015 a, .c016 a, .c017 a, .c018 a, .c019 a, .c020 a,
.c021 a, .c022 a, .c023 a, .c024 a, .c025 a, .c026 a, .c027 a, .c028 a, .c029 a, .c030 a,
.c031 a, .c032 a, .c033 a, .c034 a, .c035 a, .c036 a, .c037 a, .c038 a, .c039 a, .c040 a,
.c041 a, .c042 a, .c043 a, .c044 a, .c045 a, .c046 a, .c047 a, .c048 a, .c049 a, .c050 a,
.c051 a, .c052 a, .c053 a, .c054 a, .c055 a, .c056 a, .c057 a, .c058 a, .c059 a, .c060 a,
.c061 a, .c062 a, .c063 a, .c064 a, .c065 a, .c066 a, .c067 a, .c068 a, .c069 a, .c070 a,
.c071 a, .c072 a, .c073 a, .c074 a, .c075 a, .c076 a, .c077 a, .c078 a, .c079 a, .c080 a,
.c081 a, .c082 a, .c083 a, .c084 a, .c085 a, .c086 a, .c087 a, .c088 a, .c089 a, .c090 a,
.c091 a, .c092 a, .c093 a, .c094 a, .c095 a, .c096 a, .c097 a,
.c-diag a, .c-diag2 a, .c-importante a,
.cg001 a, .cg002 a, .cg003 a, .cg004 a, .cg005 a, .cg006 a, .cg007 a, .cg008 a, .cg009 a,
.cg010 a{color : #fff}

.c000, .c000 a{background-color: #ccc !important; border-color: #ccc; color: #666}
.c001, .c001 a{background-color: #b00 !important; border-color: #b00}
.c002, .c002 a{background-color: #800080 !important; border-color: #800080}
.c003, .c003 a{background-color: #008000 !important; border-color: #008000}
.c004, .c004 a{background-color: #000080 !important; border-color: #000080}
.c005, .c005 a{background-color: #4aa !important; border-color: #4aa}
.c006, .c006 a{background-color: #800000 !important; border-color: #800000}
.c007, .c007 a{background-color: #a0a !important; border-color: #a0a}
.c008, .c008 a{background-color: #1eb109 !important; border-color: #1eb109}
.c009, .c009 a{background-color: #d6a !important; border-color: #d6a}
.c010, .c010 a{background-color: #f60 !important; border-color: #f60}
.c011, .c011 a{background-color: #3f6f6f !important; border-color: #3f6f6f}
.c012, .c012 a{background-color: #0cc !important; border-color: #0cc}
.c013, .c013 a{background-color: #c71585 !important; border-color: #c71585}
.c014, .c014 a{background-color: #8a2be2 !important; border-color: #8a2be2}
.c015, .c015 a{background-color: #556b2f !important; border-color: #556b2f}
.c016, .c016 a{background-color: #1e90ff !important; border-color: #1e90ff}
.c017, .c017 a{background-color: #d9d02c !important; border-color: #d9d02c}
.c018, .c018 a{background-color: #4169e1 !important; border-color: #4169e1}
.c019, .c019 a{background-color: #fa8072 !important; border-color: #fa8072}
.c020, .c020 a{background-color: #496f3d !important; border-color: #496f3d}
.c021, .c021 a{background-color: #aa8020 !important; border-color: #aa8020}
.c022, .c022 a{background-color: #bb2f2e !important; border-color: #bb2f2e}
.c023, .c023 a{background-color: #008080 !important; border-color: #008080}
.c024, .c024 a{background-color: #0b7b24 !important; border-color: #0b7b24}
.c025, .c025 a{background-color: #db7093 !important; border-color: #db7093}
.c026, .c026 a{background-color: #008b8b !important; border-color: #008b8b}
.c027, .c027 a{background-color: #c3a7e1 !important; border-color: #c3a7e1}
.c028, .c028 a{background-color: #fafd29 !important; border-color: #fafd29}
.c029, .c029 a{background-color: #ff1292 !important; border-color: #ff1292}
.c030, .c030 a{background-color: #8e1f9c !important; border-color: #8e1f9c}
.c031, .c031 a{background-color: #fde6a1 !important; border-color: #fde6a1}
.c032, .c032 a{background-color: #cefe7f !important; border-color: #cefe7f}
.c033, .c033 a{background-color: #a42f2c !important; border-color: #a42f2c}
.c034, .c034 a{background-color: #8191e1 !important; border-color: #8191e1}
.c035, .c035 a{background-color: #eaf00a !important; border-color: #eaf00a}
.c036, .c036 a{background-color: #2eca93 !important; border-color: #2eca93}
.c037, .c037 a{background-color: #f80624 !important; border-color: #f80624}
.c038, .c038 a{background-color: #a67b3f !important; border-color: #a67b3f}
.c039, .c039 a{background-color: #476e1b !important; border-color: #476e1b}
.c040, .c040 a{background-color: #ff1292 !important; border-color: #ff1292}
.c041, .c041 a{background-color: #8195e5 !important; border-color: #8195e5}
.c042, .c042 a{background-color: #87ab81 !important; border-color: #87ab81}
.c043, .c043 a{background-color: #706a83 !important; border-color: #706a83}
.c044, .c044 a{background-color: #4c4969 !important; border-color: #4c4969}
.c045, .c045 a{background-color: #ff5f03 !important; border-color: #ff5f03}
.c046, .c046 a{background-color: #7a7da8 !important; border-color: #7a7da8}
.c047, .c047 a{background-color: #bb4895 !important; border-color: #bb4895}
.c048, .c048 a{background-color: #209164 !important; border-color: #209164}
.c049, .c049 a{background-color: #7f6cad !important; border-color: #7f6cad}
.c050, .c050 a{background-color: #8d553e !important; border-color: #8d553e}
.c051, .c051 a{background-color: #cc6fd7 !important; border-color: #cc6fd7}
.c052, .c052 a{background-color: #9163c6 !important; border-color: #9163c6}
.c053, .c053 a{background-color: #19afaf !important; border-color: #19afaf}
.c054, .c054 a{background-color: #45b57d !important; border-color: #45b57d}
.c055, .c055 a{background-color: #149abb !important; border-color: #149abb}
.c056, .c056 a{background-color: #b457c2 !important; border-color: #b457c2}
.c057, .c057 a{background-color: #2051df !important; border-color: #2051df}
.c058, .c058 a{background-color: #b174c9 !important; border-color: #b174c9}
.c059, .c059 a{background-color: #7487a5 !important; border-color: #7487a5}
.c060, .c060 a{background-color: #17ef65 !important; border-color: #17ef65}
.c061, .c061 a{background-color: #3445e4 !important; border-color: #3445e4}
.c062, .c062 a{background-color: #ea4684 !important; border-color: #ea4684}
.c063, .c063 a{background-color: #3aaa81 !important; border-color: #3aaa81}
.c064, .c064 a{background-color: #7d1268 !important; border-color: #7d1268}
.c065, .c065 a{background-color: #8ca41b !important; border-color: #8ca41b}
.c066, .c066 a{background-color: #a7eb8e !important; border-color: #a7eb8e}
.c067, .c067 a{background-color: #0a4bcd !important; border-color: #0a4bcd}
.c068, .c068 a{background-color: #105d3f !important; border-color: #105d3f}
.c069, .c069 a{background-color: #f94570 !important; border-color: #f94570}
.c070, .c070 a{background-color: #4c45a4 !important; border-color: #4c45a4}
.c071, .c071 a{background-color: #c0c !important; border-color: #c0c}
.c072, .c072 a{background-color: #1e90ff !important; border-color: #1e90ff}
.c073, .c073 a{background-color: #ff8c00 !important; border-color: #ff8c00}
.c074, .c074 a{background-color: #75c175 !important; border-color: #75c175}
.c075, .c075 a{background-color: #da0 !important; border-color: #da0}
.c076, .c076 a{background-color: #fd8080 !important; border-color: #fd8080}
.c077, .c077 a{background-color: #bdb76b !important; border-color: #bdb76b}
.c078, .c078 a{background-color: #a0522d !important; border-color: #a0522d}
.c079, .c079 a{background-color: #90f !important; border-color: #90f}
.c080, .c080 a{background-color: #4b0082 !important; border-color: #4b0082}
.c081, .c081 a{background-color: #808000 !important; border-color: #808000}
.c082, .c082 a{background-color: #f0a12a !important; border-color: #f0a12a}
.c083, .c083 a{background-color: #16acc9 !important; border-color: #16acc9}
.c084, .c084 a{background-color: #ee483d !important; border-color: #ee483d}
.c085, .c085 a{background-color: #624be4 !important; border-color: #624be4}
.c086, .c086 a{background-color: #0ec528 !important; border-color: #0ec528}
.c087, .c087 a{background-color: #0400aa !important; border-color: #0400aa}
.c088, .c088 a{background-color: #ec07b4 !important; border-color: #ec07b4}
.c089, .c089 a{background-color: #5a6c26 !important; border-color: #5a6c26}
.c090, .c090 a{background-color: #fa9533 !important; border-color: #fa9533}
.c091, .c091 a{background-color: #7d3afa !important; border-color: #7d3afa}
.c092, .c092 a{background-color: #a7cc0d !important; border-color: #a7cc0d}
.c093, .c093 a{background-color: #e01767 !important; border-color: #e01767}
.c094, .c094 a{background-color: #cfe7f9 !important; border-color: #cfe7f9}
.c095, .c095 a{background-color: #b32e1c !important; border-color: #b32e1c}
.c096, .c096 a{background-color: #fcf712 !important; border-color: #fcf712}
.c097, .c097 a{background-color: #9af518 !important; border-color: #9af518}

// Grises
.cg001, .cg001 a{background-color: #1a1a1a !important; border-color: #1a1a1a}
.cg002, .cg002 a{background-color: #4d4d4d !important; border-color: #4d4d4d}
.cg003, .cg003 a{background-color: #808080 !important; border-color: #808080}
.cg004, .cg004 a{background-color: #b3b3b3 !important; border-color: #b3b3b3}
.cg005, .cg005 a{background-color: #c8c8c8 !important; border-color: #c8c8c8}
.cg006, .cg006 a{background-color: #1a1a1a !important; border-color: #1a1a1a}
.cg007, .cg007 a{background-color: #4d4d4d !important; border-color: #4d4d4d}
.cg008, .cg008 a{background-color: #808080 !important; border-color: #808080}
.cg009, .cg009 a{background-color: #b3b3b3 !important; border-color: #b3b3b3}
.cg010, .cg010 a{background-color: #e5e5e5 !important; border-color: #e5e5e5}

.c-diag, .c-diag a{
	background-color: $secondary;
	border-color: $secondary;
}
.c-diag2, .c-diag2 a{
	background-color: $gray-600; //20140920 Mod. Default: #667
	//background: #667 url(/images/bg/diag-thick_dk.png);
	border-color: $gray-600; //20140920 Mod. Default: 667
}
.c-importante, .c-importante a{
	background-color: #b00;
	//background: #B00 url(/images/bg/diag-thick_dk.png);
	border-color: #b00;
}
.c-diag, .c-diag a,
.c-diag2, .c-diag2 a,
.c-importante, .c-importante a{
	@include gradient-striped($color: rgba($white, .2), $angle: 135deg);
	// Truco de background-size obtenido de: https://css-tricks.com/stripes-css/
	background-size: 30px 30px;
}