﻿//-----------------------------------------------------------------------------
// Efectos CSS3
//-----------------------------------------------------------------------------
// Creado por AML el 09/10/2014.
//

// Temblar

.shaking, .shake-h:hover{
	animation-name: shake-horiz;
	animation-duration: .3s;
	animation-timing-function: ease-in-out;
	animation-play-state: running;
}
.shaking{
	animation-iteration-count: 2;
}

@include keyframes(shake-horiz) {
	@include shake-frames(20);
}
@include keyframes(shake-horiz){
	@include shake-frames(20);
}


// Rotar

.spinning, .spin:hover, .loop:hover{
   animation-name: spinner;
   animation-duration: 1.5s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
}
.loop:hover{
   animation-iteration-count: 1;
}
.spin:hover, .loop:hover{
   animation-duration: 2s;
}

@include keyframes(spinner){
   100%{
		transform: rotate(360deg);
   }
}

//Balancear

.balance:hover{
	transform-origin: top;
	animation-name: balanz;
   animation-duration: 1.5s;
   animation-timing-function: ease-in-out;
   animation-delay: 110ms;
   animation-direction: alternate;
   animation-iteration-count: infinite;
}

@include keyframes(balanz) {
   from{
		transform: rotate(8deg);
   }
   to{
		transform: rotate(8deg);
   }
}

//Fade

@include keyframes(fade-in) {
   from{
		opacity: 0;
   }
}

@include keyframes(fade-out) {
   to{
      opacity: 0;
   }
}

//Flip
.flip-container{
   perspective: 1000px;
}
.flip-h{
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	transition: transform 1s;
}
.flip-h:hover{
	transform: rotateY(180deg);
}

//Slide in
@include keyframes(slide-in-right) {
   from{
		transform: translate(100%, 0)
   }
   to{
		transform: translate(0, 0)
   }
}
@include keyframes(slide-out-left) {
   from{
		transform: translate(0, 0)
   }
   to{
		transform: translate(-100%, 0)
   }
}

//Stagger
//http://codepen.io/fabiobiondi/pen/BzdgA
.stagger-repeat {
	transition: all linear 1s;

   &.ng-move,
   &.ng-enter,
   &.ng-leave {
      //-webkit-transition: all linear 0.5s;
     // transition: all linear 0.5s;
      transition: all linear 0.5s;
   }

   &.ng-leave.ng-leave-active,
   &.ng-move,
   &.ng-enter {
      opacity: 0;
      max-height: 0;
   }

   &.ng-leave,
   &.ng-move.ng-move-active,
   &.ng-enter.ng-enter-active {
      opacity: 1;
      max-height: 40px;
   }

   // Stagger Leave (hide) animation
   &.ng-leave-stagger {
      // this will have a 100ms delay between each successive leave animation
      transition-delay: 0.1s;

      // in case the stagger doesn't work then these two values
      // must be set to 0 to avoid an accidental CSS inheritance
      transition-duration: 0s;
   }

   // Stagger ENTER ANIMATION
   &.ng-enter-stagger {
      // this will have a 100ms delay between each successive enter animation
      transition-delay: 0.1s;

      // in case the stagger doesn't work then these two values
      // must be set to 0 to avoid an accidental CSS inheritance
      transition-duration: 0s;
   }

}


// Cambio de tamaño
// Usado en los botones notificación de las páginas de inicio al
// mostrar/ocultar el detalle.
@include keyframes(ic-notif-size-in) {
   from{
      width: 0;
      height: 0;
      opacity: 0;
   }
}

@include keyframes(ic-notif-size-out) {
   to{
      width: 0;
      height: 0;
      opacity: 0;
   }
}

