//
// Creado por AndresL el 25/06/19.
//

@mixin callout($color: $border-color, $bgcolor: $white){
	display: block;
	position: relative;
	padding: 1rem;
	margin: 1rem 0;
	border: $border-width solid $color;
	border-left: .4rem solid $color;
	border-radius: $border-radius;
	background-color: $bgcolor;

	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
		color: $color;
		margin-bottom: map_get($spacers, 1);
	}
	p:last-child {
		margin-bottom: 0;
	}
	.highlight {
		background-color: $white;
	}

	.close{
		color: $color;
	}

	a.callout-link{
		color: $color;
	}

	code {
		border-radius: $border-radius;
	}

	+ .callout {
		margin-top: -$general-space; //~5px
	}

}

// CSS3 Content Columns
// Obtenido de https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/mixins/_vendor-prefixes.scss
@mixin content-columns($column-count, $column-gap: $grid-gutter-width) {
	-webkit-column-count: $column-count;
	-moz-column-count: $column-count;
	column-count: $column-count;
	-webkit-column-gap: $column-gap;
	-moz-column-gap: $column-gap;
	column-gap: $column-gap;
}

//---------------------------------------------------------------------------
// Botones Toolbar
//---------------------------------------------------------------------------
@mixin autog-toolbar($class, $background){
	a.#{$class},
	.#{$class}{
		color: $background;
	}

	a.#{$class}:hover,
	.#{$class}:hover,
	.#{$class}-hover{
		color: scale-color($background, $lightness: 80%);
		background-color: $background !important;
	}
	// Eliminado de abajo: .#{$class}-inv:focus
	a.#{$class}:focus,
	.#{$class}:focus{
		color: scale-color($background, $lightness: -10%);
		background-color: $list-group-bg !important;
	}
	//.#{$class}-inv:hover{
	//	color: $background;
	//	background-color: $body-bg !important;
	//}
}

//---------------------------------------------------------------------------
// Título principal de la página
//---------------------------------------------------------------------------
@mixin autog-titulo($class, $background){

	h1.#{$class}{
		color: $white;
		background: $background;
		padding: $table-cell-padding;

		small{
			color: $white;
		}
	}

}

//---------------------------------------------------------------------------
// Animaciones
//---------------------------------------------------------------------------
@mixin keyframes( $animationName )
{
	@-webkit-keyframes #{$animationName} {
		@content;
	}
	@-moz-keyframes #{$animationName} {
		@content;
	}
	@keyframes #{$animationName} {
		@content;
	}
}

// Para generar "shake"
@mixin shake-frames($qty){

	@for $counter from 1 through $qty {
		$base-prcnt: floor(100% / $qty);
		$prcnt:      $base-prcnt * $counter;
		$shk:        floor((random() * 10));

		$shk-pos: 1px * $shk;
		$shk-neg: -1px * $shk;

		@if ($counter == 1) {
			#{$prcnt} {
				transform: translate(0, 0);
			}
		}

		@if (($counter % 2) == 0){
			#{$prcnt}{
				transform: translate($shk-neg,0);
			}
		}

		@if (($counter % 2) > 0){
			#{$prcnt}{
				transform: translate($shk-pos,0);
			}
		}
	}
}