@charset "UTF-8";
//
// Creado por AML el 2019-06-21
//
// 13:04
@import "basics";
@import "mixins";
@import "efectos";

// Required
@import "D:/Sites/IC4/node_modules/bootstrap/scss/functions";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/variables";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/mixins";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/mixins/breakpoints";

// Plugins
@import "notiny";

///////////////////////////////////////////////////////////////////////////////
// variables y mapas                                                         //
///////////////////////////////////////////////////////////////////////////////
$header-height: 3.5rem;
$footer-height: 5rem;

$ic-servs-colores: () !default;
$ic-servs-colores: map-merge(
				(
						"agendatelo":              #2e350c,/* 389aac */
						"asistencia":              #6e62b3,/* 8b7be0 */
						"calendac":                #bb00c8,
						"calendario":              #eba00d,
						"cerrar":                  #006,
						"chat":                    $ic-color-chat,
						"correl":                  #005745,
						"cronograma":              $ic-color-chrono,
						"datos":                   #8526a3,/* 3d3c6c */
						"descarga":                #c94927,/* 5990d0 */
						"desinscr":                #991f05,
						"enlaces":                 $black, /* provisorio */
						"fechasi":                 #094daa,
						"finalesc":                #ba1f00,
						"finalesf":                #aa1f05,
						"finalesi":                #aa1f05,
						"forms":                   #c94927,/* 5990d0 */
						"foros":                   $ic-color-forum,
						"horarios":                #72adf5,
						"inicio":                  #006,
						"materiasi":               #094daa,
						"mensajeria":              $ic-color-msgs,
						"mens-alu-doc":            scale-color($ic-color-msgs, $lightness: 10%),
						"pagos":                   #eba00d,/* d59307 */
						"parcialesc":              #1b893a,
						"parcialesf":              #2b892a,
						"pass":                    #ff9600, // era 644d06
						"personalizar":            #5d1b72, //era 644d06
						"reglamento":              #c94927,/* 5990d0 */
						"regularidad":             #6e62b3,/* 8b7be0 */
						"tutorias":                #453d70, /* en los botones del menú división (doc) se usa otro color */
						"anotador":                #2eca93,
				),
				$ic-servs-colores
);


///////////////////////////////////////////////////////////////////////////////
// bootstrap basics                                                          //
///////////////////////////////////////////////////////////////////////////////


//@include media-breakpoint-up(md) {
//	html, body{
//		font-size: 12pt; // 12pt es 16px o sea que no hace falta esto
//		font-size: 10pt; // 10pt es aprox 13px
//	}
//}

html{
	position: relative;
	min-height: 100%;
}
body{
	margin-bottom: $footer-height;
	overflow-x: hidden; // para el sidebar
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: $navbar-padding-y $navbar-padding-x; // <- revisar. si no le da una altura igual al navbar, remover
	// set the fixed height of the footer here
	//###height: $footer-height;
	//###line-height: $footer-height; // vertically center the text there
	background-color: $gray-500;
}

.footer > .container{
	padding-right: 1rem;
	padding-left: 1rem;
}

//-----------------------------------------------------------------------------
// toolbox
//-----------------------------------------------------------------------------

.taj{text-align: justify;}
.tal{text-align: left;}
.tac{text-align: center;}
.tar{text-align: right;}
.nb{border: none;}
.fltr{float: right;}
.fltl{float: left;}
.fltclr{clear: both;}
.hide{
	position: absolute;
	left: -9999px;
	top: -9999px;
}
.no-bold{
	font-weight: normal;
}
.no-show{
	// Esta clase fue creada ya que el "d-none" de Bootstrap tiene un !important
	// que molesta.
	display: none;
}
.lh-sm{line-height: $line-height-sm / 2;} // ~.75
.c-pntr{
	// Puntero del mouse tipo mano apuntando hacia arriba
	cursor: pointer
}
.importante{
	color: $danger;
	font-weight: bold;
}
.muy-importante{
	color: $white;
	font-weight: bold;
	padding: 1rem 1rem 1rem 44px;
	//###background : $danger url(/images/bg/warning32.png) no-repeat 5px;
	background: $danger;
	font-size: $font-size-lg;
}
.muy-importante a{
	font-size: $font-size-base;
	color: $body-bg;
	border-bottom: $border-width dashed $body-bg;
}
.muy-importante a:hover{
	color: $white;
	border-bottom : 1px solid $white;
}

//ul.bull2{list-style-image : url(/images/bullets/lightbluetri.gif);}
//ul.bull3{list-style-image : url(/images/bullets/lightblue2tri.gif);}
//ul.bull4{list-style-image : url(/images/bullets/whitetri.gif);}

.foto,
.foto2,
.foto3,
.foto4{
	margin: $general-space;
	border:  $border-width solid scale-color($blue-ic, $lightness: -60%);
}
.foto2,
.foto3{
	padding: $general-space;
}
.foto2{
	margin: 0;
}
.foto3{
	background: $white;
}
.foto4{
	border: none;
}

.disclaimer,
.disclaimerbox{color : $black; font-size: 80%;}
.disclaimerbox,
.emphasisbox{
	padding: map_get($spacers, 1);
	border: $border-width solid $primary;
	@include border-radius($border-radius-lg);
	background: $gray-200;
}
.disclaimerbox h3{border : 0;}

.emphasisbox{
	padding : $alert-padding-x $alert-padding-y;
	border : 0;
	text-align : center;
	background : $gray-300;
	font-size : 120%;
}

.clr:hover{background-color: transparent;}

.zebrahi{color : $black; background-color : $gold-ic !important;}

// alineación media en celdas (20200601)
// sólo afecta al tbody (fyi: thead por defecto tiene valign:bottom)
.table.vam > tbody > tr > td {
	vertical-align: middle;
}

.table > tbody > tr > td.table-cell-hover:hover{
	color: $table-hover-color;
	background-color: $table-hover-bg
}

.ic-materias li{
	list-style: none none;

	&:before {
		font-family: 'IcoMoon';
		content: "\e623  ";
	}

}

ul.ic-list-webfont li,
ul.ic-list-calendar li,
ul.ic-list-clock li{
	list-style: none none;
	padding-left: 1.4rem; // Para la sangría francesa
	text-indent: -1.4rem; // Para la sangría francesa:

	&:before{
		font-family: 'IcoMoon';
		content: "\ea1c"; //play3
		float: left;
		width: 1.4em;
	}
}

ul.ic-list-calendar,
ul.ic-list-clock{
	padding: 0; // Para contrarrestar la regla de más arriba
	text-indent: 0; // Para contrarrestar la regla de más arriba
}


ul.ic-list-calendar{
	li:before {
		content: "\e953";
	}
}

ul.ic-list-clock{
	li:before {
		content: "\e94e";
	}
}


@include media-breakpoint-up(md){
	.two-columns{
		@include content-columns(2,2rem);
	}
}


//-----------------------------------------------------------------------------
// callout - add-on
// obtenido de: https://cpratt.co/twitter-bootstrap-callout-css-styles/
// convertido en scss + mixin por aml
//-----------------------------------------------------------------------------

.callout{
	@each $color, $value in $theme-colors {
		&-#{$color} {
			@include callout($value);
		}
	}
}

//-----------------------------------------------------------------------------
// switch (on-off y similar)
// obtenido de: https://bootsnipp.com/snippets/q0d6e
// para los colores : https://bootsnipp.com/snippets/gaxr2
//-----------------------------------------------------------------------------
$bs-sw-h: 1.4rem;
$bs-sw-w: 3rem;
$bs-sw-t: $bs-sw-w - $bs-sw-h; // translate
$bs-sw-tb: ($bs-sw-h - 1) / 2; // left bottom del círculo selector
.bs-switch {
	position: relative;
	display: inline-block;
	width: $bs-sw-w;
	height: $bs-sw-h;
	margin-bottom: 0;
	input {display:none;}
}

.bs-slider {
	position: absolute;
	cursor: pointer;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $gray-700; // ori: #f2f2f2
	transition: .4s;

	&:before {
		position: absolute;
		z-index: 2;
		content: "";
		height: 1rem; //96px
		width: 1rem; //96px
		left: $bs-sw-tb;
		bottom: $bs-sw-tb;
		background-color: $gray-300;// ori: darkslategrey
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
		transition: all 0.4s ease-in-out;
	}

	&:after {
		position: absolute;
		left: 0;
		z-index: 1;
		font-size: .9rem;
		text-align: left !important;
		line-height: 1rem;
		padding-left: 0;
		width: $bs-sw-w;
		color: #fff;
		height: 1rem;
		border-radius: 1rem;
		background-color: $primary;
		transform: translatex(-$bs-sw-t);
		transition: all 0.4s ease-in-out;
	}

	@each $color, $value in $theme-colors {
		&-#{$color} {
			background-color: $value;
		}
	}

	input:checked + &:after {
		transform: translatex(0px);
		padding-left: .25rem;
	}

	input:checked + &:before {
		background-color: #fff;
	}

	input:checked + &:before {
		transform: translatex($bs-sw-t);
	}

	/* rounded sliders */
	&.round {
		border-radius: $bs-sw-h;
	}

	&.round:before {
		border-radius: 50%;
	}

	input.default:checked + & {
		background-color: $gray-400;
	}
	input.primary:checked + & {
		background-color: $primary;
	}
	input.success:checked + & {
		background-color: $success;
	}
	input.info:checked + & {
		background-color: $info;
	}
	input.warning:checked + & {
		background-color: $warning;
	}
	input.danger:checked + & {
		background-color: $danger;
	}
}

.absolute-yes, .absolute-no{
	position: absolute;
	font-size: .9rem;
	width: calc(100% - .25rem);
	height: 1rem;
	line-height: $bs-sw-h;
	cursor: pointer;
	color: $white;
}

.absolute-yes {
	left: 0.5rem;
	text-align: left !important;
}

.absolute-no {
	right: 0.5rem;
	text-align: right !important;
}



//-----------------------------------------------------------------------------
// para poder hacer el zebrado de varios elementos divs
//-----------------------------------------------------------------------------
.div-striped {
	& > div:nth-of-type(#{$table-striped-order}) {
		background: $table-accent-bg;
	}
}
.list-striped {
	& > li:nth-of-type(#{$table-striped-order}) {
		background: $table-accent-bg;
	}
}


//-----------------------------------------------------------------------------
// botones
//-----------------------------------------------------------------------------
.ic-btn-lavender {
	//@include button-variant($white, $ic-color-lavender, scale-color($ic-color-lavender, $lightness: -5%));
	@include button-variant($ic-color-lavender, $ic-color-lavender);
}

// Anotador
.ic-btn-note-yellow{
	@include button-variant(#ffb71e, #ffb71e);
}
.ic-btn-note-blue{
	@include button-variant(#1e9dff, #1e9dff);
}
.ic-btn-note-green{
	@include button-variant(#15b227, #15b227);
}
.ic-btn-note-pink{
	@include button-variant(#e93691, #e93691);
}
.ic-btn-note-white{
	@include button-variant(#ccc,    #ccc);
};

// Tutorías
.ic-btn-tut-pres,
.ic-btn-tut-tel,
.ic-btn-tut-chat,
.ic-btn-tut-foro,
.ic-btn-tut-email{
	margin-right: 1px
}
.ic-btn-tut-pres{
	@include button-variant($ic-color-frutilla, $ic-color-frutilla);
}
.ic-btn-tut-tel{
	@include button-variant($ic-color-chrono, $ic-color-chrono);
	color: #fff;
}
.ic-btn-tut-chat{
	@include button-variant($ic-color-chat, $ic-color-chat);
}
.ic-btn-tut-foro{
	@include button-variant($ic-color-forum, $ic-color-forum);
}
.ic-btn-tut-email{
	@include button-variant($ic-color-download, $ic-color-download);
}
.mod-tut-group{
	.ic-btn-tut-pres,
	.ic-btn-tut-tel,
	.ic-btn-tut-chat,
	.ic-btn-tut-foro,
	.ic-btn-tut-email{
		&:not(:disabled):not(.disabled):active,
		&:not(:disabled):not(.disabled).active {
			background: #fff
		}
		// El mismo que Dark
		//@include gradient-bg($dark);
	}

	.ic-btn-tut-pres{
		&:not(:disabled):not(.disabled):active,
		&:not(:disabled):not(.disabled).active {
			color: $ic-color-frutilla
		}
	}
	.ic-btn-tut-tel{
		&:not(:disabled):not(.disabled):active,
		&:not(:disabled):not(.disabled).active {
			color: $ic-color-chrono
		}
	}
	.ic-btn-tut-chat{
		&:not(:disabled):not(.disabled):active,
		&:not(:disabled):not(.disabled).active {
			color: $ic-color-chat
		}
	}
	.ic-btn-tut-foro{
		&:not(:disabled):not(.disabled):active,
		&:not(:disabled):not(.disabled).active {
			color: $ic-color-forum
		}
	}
	.ic-btn-tut-email{
		&:not(:disabled):not(.disabled):active,
		&:not(:disabled):not(.disabled).active {
			color: $ic-color-download
		}
	}
}


button:disabled {
	// porque a mi me gusta mostrar ese cursor (los de bootstrap sacaron que
	// por defecto lo mostrara)
	// https://stackoverflow.com/questions/50349017/how-can-i-change-cursor-for-disabled-button-or-a-in-bootstrap-4
	cursor: not-allowed;
	pointer-events: all !important;
}

///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
// borde entre columnas
// obtenido de: https://stackoverflow.com/questions/11815081/how-can-i-add-a-line-between-two-columns-using-twitter-bootstraps-grid-system
// la clase se añade a "row" y al aplicarla toma la altura de la columna de la derecha

.divider-between-cols > [class*='col-']{
	&:before {
		background: $border-color;
		bottom: 0;
		content: " ";
		left: 0;
		position: absolute;
		width: $border-width;
		top: 0;
	}
	&:first-child:before {
		display: none;
	}
}

.big-bld-txt{
	font-size: floor($font-size-base * 3); // ~42px
	line-height: floor($font-size-base * 2); // ~28px
	font-weight: 700;
}
.big-bld-txt-3l{
	font-size: floor($font-size-base * 4); // ~56px
	line-height: floor($font-size-base * 4); // ~3 líneas
	font-weight: 700;
}



@import "colores";


///////////////////////////////////////////////////////////////////////////////
// common                                                                    //
///////////////////////////////////////////////////////////////////////////////

#ic-isologo{
	position: relative;
	top: -3px;
}

//-----------------------------------------------------------------------------
// navbar
//-----------------------------------------------------------------------------

.navbar{

	.dropdown-item:hover{
		color: $white;
		background-color: $primary;
		@include gradient-bg($primary);
	}

	.dropdown-toggle-right-show{
		background-color: transparent !important;
		background-image: none;
	}

	.dropdown-submenu{
		.dropdown-toggle{
			padding-left: 0;
		}
		.dropdown-menu.show{
			top: 0;
			left: 100%;
		}
	}

	.dropdown-toggle-right:after{
		// triángulo apuntando a la derecha
		display: block;
		content: " ";
		float: right;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
		border-width: 5px 0 5px 5px;
		border-left-color: $gray-500; // originalmente era ccc
		margin-top: 5px;
		margin-right: -10px;
	}

	.nav-btn{ // copia de los estilos de navbar-toggler en _navbar.scss
		padding: $navbar-toggler-padding-y $navbar-toggler-padding-x;
		@include font-size($navbar-toggler-font-size);
		line-height: 1;
		background-color: transparent; // remove default button style
		//border: $border-width solid transparent; // remove default button style
		color: $navbar-dark-color; // esto sale de la variante navbar-dark
		border-color: $navbar-dark-toggler-border-color; // esto sale de la variante navbar-dark
		@include border-radius($navbar-toggler-border-radius);

		@include hover-focus {
			text-decoration: none;
		}

		[class$="-ico"], [class*="-ico "]{
			display: inline-block;
			width: 1.5em;
			height: 1.5em;
			vertical-align: middle;
		}
	}
}

.navbar-autog{
	@include gradient-y(#2a4c79, #365b8f);
}

#toolbar-toggler{
	font-size: 1rem;
	border: 0;
}

//-----------------------------------------------------------------------------
// sidebar / toolbar
// obtenido de: https://github.com/blackrockdigital/startbootstrap-simple-sidebar
//-----------------------------------------------------------------------------

#sidebar-wrapper {
	position: relative;
	min-height: 100vh;
	margin-left: -15rem;
	@include transition(margin .25s ease-out);

	.list-group {
		width: 15rem;
	}

	#login-badge{
		position: absolute;
		width: 2rem;
		height: 2rem;
		top: .5rem;
		right: 0;
		font-size: 150%;
		z-index: 3;
	}
}

#page-content-wrapper {
	min-width: 100vw;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#wrapper{
	margin-top: $header-height;

	&.toggled #sidebar-wrapper {
		margin-left: 0;
	}
}

@include media-breakpoint-up(md){
	#sidebar-wrapper {
		margin-left: 0;
	}

	#page-content-wrapper {
		min-width: 0;
		width: 100%;
	}

	#wrapper.toggled #sidebar-wrapper {
		margin-left: -15rem;
	}
}

// estilos específicos para cada servicio
@each $color, $value in $ic-servs-colores {
	@include autog-toolbar("ic-toolbtn-#{$color}",   $value);
}

//-----------------------------------------------------------------------------
// texto
//-----------------------------------------------------------------------------
// hacer con cada uno de los colores en _basics
@each $color, $value in $ic-colores {
	@include text-emphasis-variant(".text-#{$color}", $value);
}

//-----------------------------------------------------------------------------
// fondos para cada servicio
//-----------------------------------------------------------------------------
@each $color, $value in $ic-servs-colores {
	//@include text-emphasis-variant(".text-#{$color}", $value);
	//@include bg-variant(".bg-#{$color}", $value);
	@include autog-titulo("titulo-#{$color}", $value)
}

//-----------------------------------------------------------------------------
// estados de materia
//-----------------------------------------------------------------------------
.est-regular,
.est-libre,
.est-promocion{
	text-align: center;
	color: $white;
	font-weight: bold;
}
.est-regular{
	background-color: $success;
}
.est-libre{
	background-color: $danger;
}
.est-promocion{
	background-color: #009;
}

//-----------------------------------------------------------------------------
// filtros para tabla
//-----------------------------------------------------------------------------
.filterable .filters{
	input[disabled]{
		background-color: transparent;
		border: none;
		cursor: auto;
		box-shadow: none;
		padding: 0;
		height: auto;

		&::placeholder{
			color: $white !important;
			font-weight: bold;
		}
		&::-webkit-input-placeholder{
			color: $white !important;
			font-weight: bold;
		}
		&::-moz-placeholder{
			color: $white !important;
			font-weight: bold;
		}
		&::-ms-input-placeholder{
			color: $white !important;
			font-weight: bold;
		}
	}

	&.text-black input[disabled]{
		&::placeholder{
			color: $black !important;
		}
		&::-webkit-input-placeholder{
			color: $black !important;
		}
		&::-moz-placeholder{
			color: $black !important;
		}
		&::-ms-input-placeholder{
			color: $black !important;
		}
	}
}

//-----------------------------------------------------------------------------
// formularios
// 20201101 Estos no están siendo utilizados. ¿Eliminar?
//-----------------------------------------------------------------------------
.fld-err,
.b-err,
.ta-err,
.ta-big-err,
.err1{
	position: relative;
	&:before{
		position: absolute;
		right: 1rem;
		top: .5rem;
		color: $danger;
		content: "\e952"; // spam-ico
		font-family: 'icomoon', sans-serif !important;
	}
}

label{
	.fld-err &,
	.b-err &,
	.ta-err &,
	.ta-big-err &,
	.err1 &{
		color: $white;
		background: $danger;
	}
}

input{
	.fld-err &,
	.b-err &,
	.err1 &{
		border-color: $danger;
	}
}

textarea{
	.fld-err &,
	.ta-err &,
	.ta-big-err &,
	.ta-sm-err &{
		border-color: $danger;
	}
}

.fld-err select{
	border-color: $danger;
}

//.frm1 .fld-err select{background-position: 84% 40% !important}



//-----------------------------------------------------------------------------
// calendario / cronograma
//-----------------------------------------------------------------------------
#calendar th{
	background: $highlight;
	color: $white;
	padding: $table-cell-padding-sm;
	border-right: $border-width solid $white;

	&.fc-widget-header{
		// 20190731 - aml
		// esto es muy importante, ya que derrota el bug que tiene fullcalendar
		// sobre el ancho de la columna de sábados cuando se oculta la
		// barra de herramientas luego de iniciar la vista con la barra.
		width: 14% !important;
	}
}

.calblock{
	width: 100%;

	$cell-size: 2rem;

	table{
		float: left;
		width: $cell-size * 7; // era 11
		height: $cell-size * 8; // era 12
		margin: 0 1rem .7rem 0;
		border: 0;
		color: $black;
		border-collapse: collapse;
		text-align: center;
	}

	td,
	th{
		width: $cell-size; // era .7rem/10px
		height: $cell-size; // era 1.4rem/22px
		border: $border-width solid $light;
	}

	@include media-breakpoint-up(md) {
		$cell-size: 3rem;
		table{
			width: $cell-size * 7;
			height: $cell-size * 8;
		}
		td,
		th {
			width: $cell-size;
			height: $cell-size;
		}
	}

	td{
		padding: 0;
		background: transparent;
	}

	th{
		font-weight: normal;
		color: $white;
		background: $highlight;
	}



	table#ref{
		clear: both;
		width: 100%;
		margin: 0;
		border: 0;
		color: $black;

		td{
			width: 10%;
		}
		th{
			color: $black;
			text-align: left;
		}
	}

	.month-name{
		font : 1.125rem/1.125rem "helvetica black", "arial black", "univers black", "nimbus sans l black", geneva, sans-serif;
	}

	#lineview td {
		height: .7rem;
		font-size: .5rem;
	}

	.currdayline{
		border-color: $light $ic-color-yellow;
		border-width: $border-width ($border-width * 3);
	}



	#currday{
		border: ($border-width * 3) solid $ic-color-yellow;
	}

	.s01, .s02, .s03, .s04,
	.s05, .s06, .s07, .s08,
	.s09, .s10, .s11, .s12,
	.s13, .s14, .s15, .s16,
	.s17, .s18, .s19, .s20,
	.s21, .s22, .s23, .s24,
	.s25, .s26, .s27, .s28,
	.s29, .s30, .s31, .s32,
	.sx{color: #fff;}

	.s01{background: #c00;}
	.s02{background: #008000;}
	.s03{background: #00c;}
	.s04{background: #c0c;}
	.s05{background: #008080;}
	.s06{background: #1e90ff;}
	.s07{background: #ff8c00;}
	.s08{background: #75c175;}
	.s09{background: #da0;}
	.s10{background: #fd8080;}
	.s11{background: #bdb76b;}
	.s12{background: #a0522d;}
	.s13{background: #90f;}
	.s14{background: #4b0082;}
	.s15{background: #808000;}
	.s16{background: #800080;}
	.s17{background: #f0a12a;}
	.s18{background: #16acc9;}
	.s19{background: #ee483d;}
	.s20{background: #624be4;}
	.s21{background: #0ec528;}
	.s22{background: #0400aa;}
	.s23{background: #ec07b4;}
	.s24{background: #5a6c26;}
	.s25{background: #fa9533;}
	.s26{background: #7d3afa;}
	.s27{background: #a7cc0d;}
	.s28{background: #e01767;}
	.s29{background: #cfe7f9;}
	.s30{background: #b32e1c;}
	.s31{background: #fcf712;}
	.s32{background: #9af518;}
	.sx {background: #000;}

	.fc-det{
		display: inline-block;
		cursor: pointer;
		width: 100%;
		text-align: center;
		color: $white;
	}
}

#cntr-calendac{
	#calendac{
		margin: 1.25rem 0 0 .4rem;
		a{
			color: $white;
		}
	}
	#det{
		position: absolute;
		top: 230px;
		left: -999em;
		width: 200px;
		height: 80px;
		h3{
			margin: 0;
			padding: 0 .7rem;
			height: 1.7rem;
			color: $primary; // o si no $highlight;
			font: bold 42px/25px 'arial black',arial,helvetica;

			span{
				position: relative;
				top: 2px;}
		}
		p{
			margin: .2rem 0 .2rem .7rem;
			padding: 0 .7rem;
			//### background: url(/images/bullets/bluetri.gif) no-repeat;
		}
		p#feriado{
			//### background: url(/images/bullets/redtri.gif) no-repeat;
		}
	}

}

//-----------------------------------------------------------------------------
// cronograma
//-----------------------------------------------------------------------------

#crono-tbl{
	#ct-clr{
		width: 1rem;
	}
	#ct-tip{
		width: 12rem;
	}
	#ct-uni{
		width:  2rem;
	}
	#ct-act{
		width: 50%;
	}
	#ct-cnd{
		width: 6rem;
	}
	#ct-acc{
		width: 10rem;
	}
}

// condiciones de actividades
$crono-individual:  #df4796;
$crono-grupal:      #b0316e; //#a73570;

$crono-obligatoria: #ed811d; //#ff9951;
$crono-opcional:    #a63c12; //#bf733c;

$crono-presencial:  #1cbe62; //#9ad644;
$crono-distancia:   #459973; //#73a033;

.crono-label{
	padding: $padding-base-vertical $padding-base-horizontal;
	color: $white;
	line-height: $font-size-base * 1.3;

	span{
		margin-right: .5rem;
	}
}

.crono-ind-bkg, .crono-gru-bkg,
.crono-obl-bkg, .crono-opc-bkg,
.crono-pre-bkg, .crono-dis-bkg{color: $white}

.crono-ind-bkg{background-color: $crono-individual}
.crono-gru-bkg{background-color: $crono-grupal}

.crono-obl-bkg{background-color: $crono-obligatoria}
.crono-opc-bkg{background-color: $crono-opcional}

.crono-pre-bkg{background-color: $crono-presencial}
.crono-dis-bkg{background-color: $crono-distancia}

.crono-ind-txt{color: $crono-individual}
.crono-gru-txt{color: $crono-grupal}

.crono-obl-txt{color: $crono-obligatoria}
.crono-opc-txt{color: $crono-opcional}

.crono-pre-txt{color: $crono-presencial}
.crono-dis-txt{color: $crono-distancia}

.desc-unidad{
	background-color: rgba($white, .1);
	border: 1px solid rgba($black, .4);
	text-align : center;
	span{
		font-size: 80%;
	}
	strong{
		font-size: $font-size-base * 3.5;
		line-height: $font-size-base * 3.5;
		font-weight: bold;

		&.condensed{
			display : block;
			letter-spacing: -.62rem;
			text-align : left;
		}
	}

}

.colortainer{
	position: relative;
	width: 100%;
	height: 100%;

	span{
		display: block;
		position: absolute;
		z-index: 1000;
		width: 100%;
		height: 100%;
		padding-top: 10%;
		text-align: center;
		color: $white;
	}

	@include media-breakpoint-up(md) {
		span{
			padding-top: 25%;
		}
	}

	.no-act{
		color: $black
	}
	div{
		width: 100%;
		height: 4px;
	}
	#currday{
		border : none;
	}
}

//-----------------------------------------------------------------------------
// notificación flotante
//-----------------------------------------------------------------------------
//.notification{
//	position: absolute;
//	top: $header-height + ($h1-font-size * 2);
//	left: 25vw;
//	width: 50vw; // 50% de la ventana
//	opacity: .9;
//}
@each $color, $value in $theme-colors {
	//"titulo-#{$color}", $value
	.notiny-#{$color} {
		background-color: theme-color-level($color, $alert-bg-level);
		color: theme-color-level($color, $alert-color-level);
	}
}

//-----------------------------------------------------------------------------
// asistencia
//-----------------------------------------------------------------------------
$asist-cond: #85b8de;
$success-bg: scale-color($success, $lightness: 70%);
$warning-bg: scale-color($warning, $lightness: 60%);
$danger-bg: scale-color($danger, $lightness: 80%);

.asist-cond, .asist-est{
	min-height: 3rem;
	thead tr th{
		font-weight: normal;
		vertical-align: middle;
	}
	th, td{
		text-align: center
	}
	td{
		font-size: $font-size-base * 2;
	}
}

.asist-cond > thead > tr > th{
	border-color: scale-color($asist-cond, $lightness: -15%);
}

.encuentros{
	width: 33%;
	background-color: scale-color($asist-cond, $lightness: 40%);/*#cce1f5*/
}
.ausentes-perm{
	width: 33%;
	background-color: scale-color($asist-cond, $lightness: 20%);/*#8fc7ef*/
}
.porc-perm{
	width: 33%;
	background-color: $asist-cond;
}

.asist-est th, .asist-est td{
	width: 50%
}

.asist-est-regular{
	color: $success;
	background-color: $success-bg;
}
.asist-est > thead > tr > th.asist-est-regular{
	border-color: scale-color($success, $lightness: -20%)
}
.asist-porc.asist-est-regular{
	color: $white;
	background-color: $success;
}

.asist-est-limite{
	color: $warning;
	background-color: $warning-bg;
}
.asist-est > thead > tr > th.asist-est-limite{
	border-color: scale-color($warning, $lightness: -20%)
}
.asist-porc.asist-est-limite{
	color: $white;
	background-color: $warning;
}

.asist-est-libre{
	color: $danger;
	background-color: $danger-bg;
}
.asist-est > thead > tr > th.asist-est-libre{
	border-color: scale-color($danger, $lightness: -30%)
}
.asist-porc.asist-est-libre{
	color: $white;
	background-color: scale-color($danger, $lightness: -20%);
}


//-----------------------------------------------------------------------------


//-----------------------------------------------------------------------------
// infoalu / infodoc
//-----------------------------------------------------------------------------

#infoalu,
#infodoc{
	h4{
		margin-bottom: 0;
		padding: $card-spacer-y $card-spacer-x;
	}

	.big-lt-txt, .big-num-txt{
		display: block;
		text-align: right;
		font-weight: 300;
		letter-spacing: -.08em;
		font-size: floor(($font-size-base * 2)); // ~32px
		line-height: ceil(($font-size-base * 4));
	}
	.big-num-txt{
		letter-spacing: -.1em;
		font-size: floor(($font-size-base * 3)); // ~48px
	}

	.sm-desc{
		display: block;
		text-align: right;
		font-size: 80%;
		line-height: 1;
	}

	.info-lnk{
		display: block;
		&:hover{
			text-decoration: none;
		}
	}

	.stad-icon{
			position: absolute;
			top: floor((floor(6rem) - floor(3rem)) / 2);
			font-size: floor(($font-size-base * 2.7));
			opacity: .6;
	}
}

table.sortable{
	thead{
		tr{
			.header, .headersortup, .headersortdown{
				&:after{
					font-family: 'icomoon', sans-serif;
				}
				&:hover{
					color: $table-hover-color;
					background-color: $table-hover-bg;
				}
			}
			.header{
				cursor: pointer;
				&:after {content: "\f0dc";}
			}
			.headersortup{
				&:after{content: "\f0dd";}
			}
			.headersortdown{
				&:after{content: "\f0de";}
			}
		}
	}
}

.calif{
	position: relative;
	//direction: rtl;

	div{
		float: right;
		color: $white;
		padding-right: 5% !important;
		text-align: right;
		font-weight: bold;
	}
}

// personalización
$prs-btn-width: 12rem;

#autog-prs-opc,
#autog-prs-sel{
	.autog-toolbtn{
		min-width: $prs-btn-width;
		color: $white;
		border: none;
		background: $light;
	}
}

.autog-prs-placeholder{
	display: block;
	width: $prs-btn-width;
	height: 3rem !important;
	padding: $list-group-item-padding-y $list-group-item-padding-x;
	background: $gray-200;
	border: ($list-group-border-width * 2) dashed $list-group-border-color;
	@include border-radius($list-group-border-radius);
}

// números de comprobante
.num-imp{
	text-align: center;
	background: $danger;
	color: $white;
	font-size: $font-size-base * 2.5;
	font-family: "myriad pro black", "myriad black", "helveticaneuelt std blk", "helvetica neue black", "helvetica 95 black", "helvetica black", "arial black", "univers black", "nimbus sans l black", geneva, sans-serif;

	strong{
		font-weight: normal !important;
	}
}

// descargas
#forms,
.part-downloads{ // part-downloads como antónimo de full-downloads
	a{
		display: block;
		height: 8rem;
		margin-bottom: 1rem;
		padding: floor($font-size-base / 2);
		text-align: center;
		border: 2px solid transparent;
		border-radius: $border-radius;
		&:hover{
			text-decoration: none;
			background-color: $gray-300;
			border-color: $gray-500;
		}
		> span{
			display: block;
			margin-bottom: map_get($spacers, 2);;
			font-size: ceil($font-size-base * 2.5);
			line-height: 1;
			span{
				font-size: ceil($font-size-base * 3);
				display: inline
			}
		}
	}
}

//-----------------------------------------------------------------------------
// Colores Texto/Fondo Carreras
//-----------------------------------------------------------------------------
@each $carr, $value in $carreras {
	.#{$carr}-txt {
		color: $value;
	}
	.#{$carr}-bkg {
		background-color: $value;
		color: $white;
	}
}



///////////////////////////////////////////////////////////////////////////////
// alumnos                                                                   //
///////////////////////////////////////////////////////////////////////////////
.big-calif{
	text-align : right;
	font-weight : bold;
	font-size : $font-size-base * 4;
	font-family : "trebuchet ms", verdana, "verdana ref",candara, "bitstream vera sans", "dejavu sans", "bitstream vera sans", sans-serif;
}

@include media-breakpoint-up(md) {
	.page-datos form label {
		text-align: right;
	}
}

//-----------------------------------------------------------------------------
// botones materia-división
//-----------------------------------------------------------------------------
.btn-div{
	width: 100%;
	min-height: 6rem;
	margin-bottom: .5rem;
}


///////////////////////////////////////////////////////////////////////////////
// docentes                                                                  //
///////////////////////////////////////////////////////////////////////////////
.btn-divs{
	//margin: 0 0 0 1rem;
	padding: 0;
	div {
		display: block;
		width: 98%;
		height: 5rem;
		margin: 0 1% .5rem 1%;
		float: left; list-style: none none;
		background: $blue-ic url(/images/bg/ico-carreras-80.png) no-repeat;
		border: $border-width solid $blue-ic;
		box-shadow: $btn-box-shadow-em;

		a{
			display: block;
			padding: 1rem;
			height: 100%;
			color: $white;
			text-decoration: none;
			font-weight: normal;
			background: transparent;

			&:hover{
				color: $blue-ic;
			}

			&:active{
				position: relative;
				top: 1px;
				left: 1px;
			}
		}

		&:hover{
			background-color: $body-bg;
			box-shadow: $btn-box-shadow-em-inv;
		}
	}

	.as,  .asc{    background-position: 0 0}
	.aw,  .assw{  background-position: 0 -80px}
	.hys, .tshscai{background-position: 0 -160px}
	.ga,  .tsga{   background-position: 0 -640px}
	.gi,  .tsgi{   background-position: 0 -240px}
	.ae,  .tsae{   background-position: 0 -320px}
	.co,  .tsc{    background-position: 0 -400px}
	.rh,  .tsrh{   background-position: 0 -480px}
	.rp,  .tsrp{   background-position: 0 -560px}
	.ic{                background-color: $blue-ic; background-image: none}

	.as:hover,  .asc:hover,
	.as:focus,  .asc:focus{
		background-position: 0 -720px;
	}
	.aw:hover,  .assw:hover,
	.aw:focus,  .assw:focus{
		background-position: 0 -800px;
	}
	.hys:hover, .tshscai:hover,
	.hys:focus, .tshscai:focus{
		background-position: 0 -880px;
	}
	.gi:hover,  .tsgi:hover,
	.gi:focus,  .tsgi:focus{
		background-position: 0 -960px;
	}
	.ae:hover,  .tsae:hover,
	.ae:focus,  .tsae:focus{
		background-position: 0 -1040px;
	}
	.co:hover,  .tsc:hover,
	.co:focus,  .tsc:focus{
		background-position: 0 -1120px;
	}
	.rh:hover,  .tsrh:hover,
	.rh:focus,  .tsrh:focus{
		background-position: 0 -1200px;
	}
	.rp:hover,  .tsrp:hover,
	.rp:focus,  .tsrp:focus{
		background-position: 0 -1280px;
	}
	.ga:hover,  .tsga:hover,
	.ga:focus,  .tsga:focus{
		background-position: 0 -1360px;
	}

	@each $carr, $value in $carreras {
		.#{$carr} {
			border-color: $value;
			background-color: scale-color($value, $lightness: -10%);
			color: $white;

			&:hover{
				//color: $value;
				//background-color: scale-color($value, $lightness: 50%);
			}
			a:hover{
				color: $value;
			}
		}
	}
	span{
		display: block;
	}
	.bd-mat{
		height: 1.5rem;
		overflow: hidden;
		font-size: 1rem;
	}
	.bd-div{
		text-align: right;
		font-size: 1.2rem;
		font-weight: bold;
	}
}

@each $eva, $value in $evaluaciones {
	.btn-#{$eva}{
		@include button-variant($value, $value);
	}
	.btn-#{$eva}-off{
		cursor: not-allowed;
		pointer-events: all !important;
	}
	.btn-#{$eva},
	.btn-#{$eva}-off{
		height: 3rem;
		width: 4.5rem;
		margin-right: .5rem;

	}
}

#autog-alu-info{
	.alu-i-dat{
		p{
			margin: 3px 0;
		}

		.prom{
			position: absolute;
			top: 2.5rem;
			right: 2rem;
			padding: .25rem;
			border: 2px solid $gray-500;
			width: 10rem;
		}
	}
}
