﻿@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);

@import "basics";

// 14:55

///////////////////////////////////////////////////////////////////////////////
// ABAJO de los Import sigue                                                 //
///////////////////////////////////////////////////////////////////////////////
// Required
@import "D:/Sites/IC4/node_modules/bootstrap/scss/functions";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/variables";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/mixins";

// Optional
@import "D:/Sites/IC4/node_modules/bootstrap/scss/root";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/reboot";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/type";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/images";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/code";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/grid";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/tables";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/forms";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/buttons";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/transitions";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/dropdown";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/button-group";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/input-group";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/custom-forms";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/nav";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/navbar";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/card";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/breadcrumb";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/pagination";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/badge";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/jumbotron";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/alert";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/progress";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/media";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/list-group";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/close";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/toasts";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/modal";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/tooltip";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/popover";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/carousel";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/spinners";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/utilities";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/print";

///////////////////////////////////////////////////////////////////////////////

// Icon Font

$icon-font-path:          "/fonts/icomoon/2.5/";
$icon-font-name:          "icomoon";
$icon-font-svg-id:        "icomoon";

@import "icomoon";