@charset "UTF-8";
//
// Creado por AndresL el 12/06/20.
//
@import "basics";

@import "D:/Sites/IC4/node_modules/bootstrap/scss/functions";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/variables";

.date_selector{
	& *{
		width: auto;
		height: auto;
		border: none;
		margin: 0;
		padding: 0;
		text-align: left;
		text-decoration: none
	}
	background: #F2F2F2;
	border: $border-width solid $gray-400;
	//padding: $padding-base-vertical;
	margin: -$border-width 0 0 0;
	position: absolute;
	z-index: 500000;
	display: none;
	border-radius: $border-radius-lg;
	box-shadow: $box-shadow;

	.nav{
		//width: 17.5rem/* 7 * 2.5em */
		width: 100%;
		padding-top: .5rem;
	}

	.month_nav,
	.year_nav{
		margin: 0 0 .4rem 0 !important;
		padding: 0 !important;
		display: block;
		position: relative;
		text-align: center;
		background-image: none;
		height: auto;
		border: none !important;
	}

	.month_nav{
		float: left;
		width: 55%
	}

	.year_nav{
		float: right;
		width: 45%;
		margin-right: 0
	}

	.month_name,
	.year_name{
		font-weight: bold;
		line-height: 1.25rem
	}

	.button{
		display: block;
		position: absolute;
		top: 0;
		width: 1rem;
		height: 1rem;
		line-height: 1.25rem;
		font-weight: bold;
		color: $blue-ic; // Ori: #003C78
		text-align: center;
		font-size: 120%;
		overflow: hidden;
		border: none;
		background: transparent !important;
		box-shadow: none;
		border-radius: 0;
	}

	.button:hover,
	.button.hover{
		background: none !important;
		color: $highlight; // Ori: #003C78
		cursor: pointer;
		border-color: $gray-400;
		box-shadow: none;
	}

	.prev{
		left: 0;
		cursor: pointer
	}

	.next{
		right: 0;
		cursor: pointer
	}

	table{
		border-spacing: 0;
		border-collapse: collapse;
	}

	th,
	td{
		width: 2.5rem;
		height: 2rem;
		padding: .5rem;
		text-align: center;
	}

	th{
		border-right: $border-width solid $white;
		font-size: 90%;
	}

	td{
		padding: 0;
		color: $black;
		line-height: 2rem;
		border: $border-width solid $gray-400;
		white-space: nowrap;
		background: $white
	}

	td.today{
		background: scale-color($highlight, $lightness: 50%); // Ori: #C2D6FF
		color: $blue-ic; // Ori: #fff
	}

	td.unselected_month{
		color: $gray-400
	}

	td.selectable_day{
		cursor: pointer
	}

	td.selected{
		background: $highlight;
		color: $white;
		font-weight: bold
	}

	td.selectable_day:hover,
	td.selectable_day.hover{
		background: $blue-ic; // Ori: #003C78
		color: $white
	}

}

.date_selector_ieframe{
	position: absolute;
	z-index: 99999;
	display: none
}


