@charset "UTF-8";
//
// IcoMoon for Bootstrap
//
// Since icons are fonts, they can be placed anywhere text is placed and are
// thus automatically sized to match the surrounding child. To use, create an
// inline element with the appropriate classes, like so:
//
// <a href="#" class="btn with-icon btn-success"><i class="star-ico"></i> Star</a>
// <a href="#"><span class="star-ico"></span> Star</a>

// Mod by AML
// Versión 2.5 (20200618)

//-----------------------------------------------------------------------------
// Variables para compilar individualmente
// FILE WATCHER -> Activar el SCSS icomoon
//-----------------------------------------------------------------------------
//$icon-font-path:          "/fonts/icomoon/2.5/";
//$icon-font-name:          "icomoon";
//$icon-font-svg-id:        "icomoon";
//$font-size-base:              1rem !default;
//$padding-base-vertical:     .4rem;
//$padding-base-horizontal:   .8rem;

//-----------------------------------------------------------------------------
// Import the fonts
//-----------------------------------------------------------------------------
@font-face {
  font-family: "IcoMoon";
    src: url("#{$icon-font-path+$icon-font-name}.woff?vxk7xt")  format("woff"),
	      url("#{$icon-font-path+$icon-font-name}.woff2?vxk7xt") format("woff2"),
         url("#{$icon-font-path+$icon-font-name}.ttf?vxk7xt")   format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class$="-ico"], [class*="-ico "],
.icomoon, .glyphicon {
  speak: none;
  font-family: 'IcoMoon', sans-serif !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Extras bootstrap =========== */
  position: relative;
  top: 1px;
  display: inline-block;
}

.btn > [class$="-ico"], .btn > [class*="-ico "]{
  top : 0.20em; // 20141119: era .15 20150302: comentado. era .25 con 2em (20160815)
  //vertical-align: middle; // añadido: 20150402
  left : -0.2em; // era -.1 con 2em (20160815)
  line-height : ceil(($font-size-base * 0.35)); // ~5px - 20141119: era $font-size-small
  font-size : 1.7em;
}

.btn-sm > [class$="-ico"], .btn-sm > [class*="-ico "]{
  font-size : 1.3em;
}

.btn-xs{
	//padding: $input-btn-padding-y-sm $input-btn-padding-x-sm;
	padding: .15rem .4rem .25rem !important;

	& > [class$="-ico"], & > [class*="-ico "]{
		vertical-align: baseline;
		left : 0;
		font-size : 1em;
	}
}

.btn-only-icon > [class$="-ico"], .btn-only-icon > [class*="-ico "],
.btn-big-icon > [class$="-ico"], .btn-big-icon > [class*="-ico "]{
	left: auto;
}

.btn-big-icon > [class$="-ico"], .btn-big-icon > [class*="-ico "]{
	font-size : 3rem; // Era 5em (20200619)
}

.form-group-sm{
	.btn-only-icon > [class$="-ico"],
	.btn-only-icon > [class*="-ico "]{
		line-height: 1;
		font-size : 1.2em;
		vertical-align: middle;
	}
}

.btn-with-icon{padding: ceil(($padding-base-vertical * 0.6))  $padding-base-horizontal $padding-base-vertical;}

a[class$="-ico"]:hover, a[class*="-ico "]:hover{text-decoration: none;}

.big-icon{
	font-size: $font-size-base * 3; // 3rem ~ 48px
	line-height: $font-size-base * 2.5; // 2.5rem ~40px
	margin-right: .3rem; // ~4.8px
}

.icon-mid, .mid-icon{
	font-size: $font-size-base * 1.3;
}

//-----------------------------------------------------------------------------
// Variables para íconos
//-----------------------------------------------------------------------------
$ic2019a-ico: "\f003";
$ic2019b-ico: "\f004";
$ic2019-ico: "\e917";
$signup-ico: "\e902";
$ic2018-ico: "\f001";
$spam-ico: "\e952";
$stop-ico: "\e900";
$admin-ico: "\e901";
$ic-ico: "\f000";
$different-ico: "\e907";
$empty-ico: "\e908";
$extra-ico: "\e909";
$opcional-ico: "\e90a";
$up-ico: "\e90b";
$ae-ico: "\e90c";
$as-ico: "\e90d";
$aw-ico: "\e90e";
$co-ico: "\e90f";
$ga-ico: "\e910";
$gi-ico: "\e911";
$hys-ico: "\e912";
$rh-ico: "\e913";
$rp-ico: "\e914";
$estudiante-ico: "\e915";
$bedel-ico: "\e916";
$funic-ico: "\f002";
$show-sidebar-ico: "\e926";
$chevron-down-ico: "\e91c";
$chevron-left-ico: "\e91d";
$chevron-right-ico: "\e91e";
$chevron-up-ico: "\e91f";
$save-ico: "\e920";
$graduation-ico: "\e921";
$infinity-ico: "\e922";
$keyboard-ico: "\e923";
$logout-ico: "\e924";
$login-ico: "\e925";
$envelope-ico: "\e918";
$envelope2-ico: "\e919";
$board-ico: "\e903";
$pencil-ico: "\e91a";
$user1-ico: "\e904";
$user3-ico: "\e91b";
$ok-ico: "\f00c";
$cancel-ico: "\f00d";
$warning2-ico: "\f071";
$previous-ico: "\f0d9";
$next-ico: "\f0da";
$unsorted-ico: "\f0dc";
$sort-down-ico: "\f0dd";
$sort-up-ico: "\f0de";
$flag-checkered-ico: "\f11e";
$thumbs-up-ico: "\f164";
$thumbs-down-ico: "\f165";
$bug-ico: "\f188";
$home-ico: "\e927";
$home3-ico: "\e928";
$newspaper-ico: "\e929";
$droplet-ico: "\e92a";
$image-ico: "\e92b";
$camera-ico: "\e92c";
$headphones-ico: "\e92d";
$music-ico: "\e92e";
$film-ico: "\e92f";
$bullhorn-ico: "\e930";
$connection-ico: "\e931";
$feed-ico: "\e932";
$book-ico: "\e933";
$books-ico: "\e934";
$library-ico: "\e935";
$file-text-ico: "\e936";
$profile-ico: "\e937";
$file-empty-ico: "\e938";
$file-text2-ico: "\e939";
$file-zip-ico: "\e955";
$copy-ico: "\e93a";
$paste-ico: "\e93b";
$stack-ico: "\e93c";
$folder-ico: "\e93d";
$folder-open-ico: "\e93e";
$price-tag-ico: "\e93f";
$price-tags-ico: "\e940";
$barcode-ico: "\e941";
$qrcode-ico: "\e942";
$ticket-ico: "\e943";
$cart-ico: "\e944";
$coin-dollar-ico: "\e945";
$credit-card-ico: "\e946";
$calculator-ico: "\e947";
$lifebuoy-ico: "\e948";
$phone-ico: "\e949";
$address-book-ico: "\e94a";
$pushpin-ico: "\e94b";
$location-ico: "\e94c";
$history-ico: "\e94d";
$clock-ico: "\e94e";
$clock2-ico: "\e94f";
$alarm-ico: "\e950";
$bell-ico: "\e951";
$calendar-ico: "\e953";
$printer-ico: "\e954";
$display-ico: "\e956";
$mobile-ico: "\e958";
$tv-ico: "\e95b";
$drawer2-ico: "\e95d";
$download-ico: "\e960";
$upload-ico: "\e961";
$undo-ico: "\e965";
$redo-ico: "\e966";
$bubble-ico: "\e96b";
$bubbles-ico: "\e96c";
$user-ico: "\e971";
$users-ico: "\e972";
$quotes-left-ico: "\e977";
$quotes-right-ico: "\e978";
$hour-glass-ico: "\e979";
$spinner-ico: "\e97a";
$spinner2-ico: "\e97b";
$search-ico: "\e986";
$zoom-in-ico: "\e987";
$zoom-out-ico: "\e988";
$enlarge-ico: "\e989";
$shrink-ico: "\e98a";
$key-ico: "\e98d";
$lock-ico: "\e98f";
$unlocked-ico: "\e990";
$wrench-ico: "\e991";
$equalizer-ico: "\e992";
$equalizer2-ico: "\e993";
$cog-ico: "\e994";
$hammer-ico: "\e996";
$aid-kit-ico: "\e998";
$pie-chart-ico: "\e99a";
$trophy-ico: "\e99e";
$gift-ico: "\e99f";
$leaf-ico: "\e9a4";
$meter-ico: "\e9a6";
$hammer2-ico: "\e9a8";
$fire-ico: "\e9a9";
$lab-ico: "\e9aa";
$bin-ico: "\e9ac";
$accessibility-ico: "\e9b2";
$power-ico: "\e9b5";
$switch-ico: "\e9b6";
$power-cord-ico: "\e9b7";
$list-ico: "\e9ba";
$tree-ico: "\e9bc";
$menu-ico: "\e9bd";
$cloud-download-ico: "\e9c2";
$cloud-upload-ico: "\e9c3";
$sphere-ico: "\e9c9";
$link-ico: "\e9cb";
$attachment-ico: "\e9cd";
$eye-ico: "\e9ce";
$bookmark-ico: "\e9d2";
$star-empty-ico: "\e9d7";
$star-full-ico: "\e9d9";
$warning-ico: "\ea07";
$notification-ico: "\ea08";
$question-ico: "\ea09";
$plus-ico: "\ea0a";
$minus-ico: "\ea0b";
$info-ico: "\ea0c";
$cancel-circle-ico: "\ea0d";
$blocked-ico: "\ea0e";
$play3-ico: "\ea1c";
$pause2-ico: "\ea1d";
$stop2-ico: "\ea1e";
$backward2-ico: "\ea1f";
$forward3-ico: "\ea20";
$eject-ico: "\ea25";
$shuffle-ico: "\ea30";
$arrow-up-ico: "\ea32";
$arrow-right-ico: "\ea34";
$arrow-down-ico: "\ea36";
$arrow-left-ico: "\ea38";
$checkbox-checked-ico: "\ea52";
$checkbox-unchecked-ico: "\ea53";
$scissors-ico: "\ea5a";
$filter-ico: "\ea5b";
$new-tab-ico: "\ea7e";
$embed-ico: "\ea7f";
$embed2-ico: "\ea80";
$terminal-ico: "\ea81";
$share2-ico: "\ea82";
$google-ico: "\ea88";
$facebook2-ico: "\ea91";
$instagram-ico: "\ea92";
$whatsapp-ico: "\ea93";
$twitter-ico: "\ea96";
$rss2-ico: "\ea9c";
$youtube-ico: "\ea9d";
$android-ico: "\eac0";
$windows8-ico: "\eac2";
$linkedin-ico: "\eac9";
$chrome-ico: "\ead9";
$firefox-ico: "\eada";
$edge-ico: "\eadc";
$safari-ico: "\eadd";
$file-pdf-ico: "\eadf";
$html-five-ico: "\eae4";
$css3-ico: "\eae6";
$IcoMoon-ico: "\eaea";

//-----------------------------------------------------------------------------
// Iconos
//-----------------------------------------------------------------------------
.ic2019a-ico {
	&:before {
		content: $ic2019a-ico;
	}
}
.ic2019b-ico {
	&:before {
		content: $ic2019b-ico;
	}
}
.ic2019-ico {
	&:before {
		content: $ic2019-ico;
	}
}
.signup-ico {
	&:before {
		content: $signup-ico;
	}
}
.ic2018-ico{
	&:before{
		content: $ic2018-ico;
	}
}
.spam-ico{
	&:before{
		content: $spam-ico;
	}
}
.stop-ico{
	&:before{
		content: $stop-ico;
	}
}
.admin-ico{
	&:before{
		content: $admin-ico;
	}
}
.ic-ico{
	&:before{
		content: $ic-ico;
	}
}
.different-ico{
	&:before{
		content: $different-ico;
	}
}
.empty-ico{
	&:before{
		content: $empty-ico;
	}
}
.extra-ico{
	&:before{
		content: $extra-ico;
	}
}
.opcional-ico{
	&:before{
		content: $opcional-ico;
	}
}
.up-ico{
	&:before{
		content: $up-ico;
	}
}
.ae-ico{
	&:before{
		content: $ae-ico;
	}
}
.as-ico{
	&:before{
		content: $as-ico;
	}
}
.aw-ico{
	&:before{
		content: $aw-ico;
	}
}
.co-ico{
	&:before{
		content: $co-ico;
	}
}
.ga-ico{
	&:before{
		content: $ga-ico;
	}
}
.gi-ico{
	&:before{
		content: $gi-ico;
	}
}
.hys-ico{
	&:before{
		content: $hys-ico;
	}
}
.rh-ico{
	&:before{
		content: $rh-ico;
	}
}
.rp-ico{
	&:before{
		content: $rp-ico;
	}
}
.estudiante-ico{
	&:before{
		content: $estudiante-ico;
	}
}
.student-ico{
	&:before{
		content: $estudiante-ico;
	}
}
.bedel-ico{
	&:before{
		content: $bedel-ico;
	}
}
.funic-ico{
	&:before{
		content: $funic-ico;
	}
}
.show-sidebar-ico{
	&:before{
		content: $show-sidebar-ico;
	}
}
.chevron-down-ico,
.glyphicon-chevron-down {
	&:before{
		content: $chevron-down-ico;
	}
}
.chevron-left-ico,
.glyphicon-chevron-left {
	&:before{
		content: $chevron-left-ico;
	}
}
.chevron-right-ico,
.glyphicon-chevron-right {
	&:before{
		content: $chevron-right-ico;
	}
}
.chevron-up-ico,
.glyphicon-chevron-up{
	&:before{
		content: $chevron-up-ico;
	}
}
.save-ico,
.disk-ico{
	&:before{
		content: $save-ico;
	}
}
.graduation-ico{
	&:before{
		content: $graduation-ico;
	}
}
.infinity-ico{
	&:before{
		content: $infinity-ico;
	}
}
.keyboard-ico{
	&:before{
		content: $keyboard-ico;
	}
}
.logout-ico{
	&:before{
		content: $logout-ico;
	}
}
.login-ico{
	&:before{
		content: $login-ico;
	}
}
.envelope-ico{
	&:before{
		content: $envelope-ico;
	}
}
.envelope2-ico{
	&:before{
		content: $envelope2-ico;
	}
}
.board-ico{
	&:before{
		content: $board-ico;
	}
}
.pencil-ico{
	&:before{
		content: $pencil-ico;
	}
}
.user1-ico{
	&:before{
		content: $user1-ico;
	}
}
.user3-ico{
	&:before{
		content: $user3-ico;
	}
}
.ok-ico{
	&:before{
		content: $ok-ico;
	}
}
.cancel-ico{
	&:before{
		content: $cancel-ico;
	}
}
.previous-ico{
	&:before{
		content: $previous-ico;
	}
}
.next-ico{
	&:before{
		content: $next-ico;
	}
}
.unsorted-ico{
	&:before{
		content: $unsorted-ico;
	}
}
.sort-down-ico{
	&:before{
		content: $sort-down-ico;
	}
}
.sort-up-ico{
	&:before{
		content: $sort-up-ico;
	}
}
.flag-checkered-ico{
	&:before{
		content: $flag-checkered-ico;
	}
}
.thumbs-up-ico{
	&:before{
		content: $thumbs-up-ico;
	}
}
.thumbs-down-ico{
	&:before{
		content: $thumbs-down-ico;
	}
}
.bug-ico{
	&:before{
		content: $bug-ico;
	}
}
.home-ico{
	&:before{
		content: $home-ico;
	}
}
.home3-ico{
	&:before{
		content: $home3-ico;
	}
}
.newspaper-ico{
	&:before{
		content: $newspaper-ico;
	}
}
.droplet-ico{
	&:before{
		content: $droplet-ico;
	}
}
.image-ico{
	&:before{
		content: $image-ico;
	}
}
.camera-ico{
	&:before{
		content: $camera-ico;
	}
}
.headphones-ico{
	&:before{
		content: $headphones-ico;
	}
}
.music-ico{
	&:before{
		content: $music-ico;
	}
}
.film-ico{
	&:before{
		content: $film-ico;
	}
}
.bullhorn-ico{
	&:before{
		content: $bullhorn-ico;
	}
}
.connection-ico{
	&:before{
		content: $connection-ico;
	}
}
.feed-ico{
	&:before{
		content: $feed-ico;
	}
}
.book-ico{
	&:before{
		content: $book-ico;
	}
}
.books-ico{
	&:before{
		content: $books-ico;
	}
}
.library-ico{
	&:before{
		content: $library-ico;
	}
}
.file-text-ico{
	&:before{
		content: $file-text-ico;
	}
}
.profile-ico{
	&:before{
		content: $profile-ico;
	}
}
.file-empty-ico{
	&:before{
		content: $file-empty-ico;
	}
}
.file-text2-ico{
	&:before{
		content: $file-text2-ico;
	}
}
.file-zip-ico{
	&:before{
		content: $file-zip-ico;
	}
}
.copy-ico{
	&:before{
		content: $copy-ico;
	}
}
.paste-ico{
	&:before{
		content: $paste-ico;
	}
}
.stack-ico{
	&:before{
		content: $stack-ico;
	}
}
.folder-ico{
	&:before{
		content: $folder-ico;
	}
}
.folder-open-ico{
	&:before{
		content: $folder-open-ico;
	}
}
.price-tag-ico{
	&:before{
		content: $price-tag-ico;
	}
}
.price-tags-ico{
	&:before{
		content: $price-tags-ico;
	}
}
.barcode-ico{
	&:before{
		content: $barcode-ico;
	}
}
.qrcode-ico{
	&:before{
		content: $qrcode-ico;
	}
}
.ticket-ico{
	&:before{
		content: $ticket-ico;
	}
}
.cart-ico{
	&:before{
		content: $cart-ico;
	}
}
.coin-dollar-ico,
.coin-ico{
	&:before{
		content: $coin-dollar-ico;
	}
}
.credit-card-ico{
	&:before{
		content: $credit-card-ico;
	}
}
.calculator-ico{
	&:before{
		content: $calculator-ico;
	}
}
.lifebuoy-ico,
.support-ico{
	&:before{
		content: $lifebuoy-ico;
	}
}
.phone-ico{
	&:before{
		content: $phone-ico;
	}
}
.address-book-ico{
	&:before{
		content: $address-book-ico;
	}
}
.pushpin-ico{
	&:before{
		content: $pushpin-ico;
	}
}
.location-ico{
	&:before{
		content: $location-ico;
	}
}
.history-ico{
	&:before{
		content: $history-ico;
	}
}
.clock-ico{
	&:before{
		content: $clock-ico;
	}
}
.clock2-ico{
	&:before{
		content: $clock2-ico;
	}
}
.alarm-ico{
	&:before{
		content: $alarm-ico;
	}
}
.bell-ico{
	&:before{
		content: $bell-ico;
	}
}
.calendar-ico{
	&:before{
		content: $calendar-ico;
	}
}
.printer-ico{
	&:before{
		content: $printer-ico;
	}
}
.display-ico{
	&:before{
		content: $display-ico;
	}
}
.mobile-ico{
	&:before{
		content: $mobile-ico;
	}
}
.tv-ico{
	&:before{
		content: $tv-ico;
	}
}
.drawer2-ico{
	&:before{
		content: $drawer2-ico;
	}
}
.download-ico{
	&:before{
		content: $download-ico;
	}
}
.upload-ico{
	&:before{
		content: $upload-ico;
	}
}
.undo-ico{
	&:before{
		content: $undo-ico;
	}
}
.redo-ico{
	&:before{
		content: $redo-ico;
	}
}
.bubble-ico{
	&:before{
		content: $bubble-ico;
	}
}
.bubbles-ico{
	&:before{
		content: $bubbles-ico;
	}
}
.user-ico{
	&:before{
		content: $user-ico;
	}
}
.users-ico{
	&:before{
		content: $users-ico;
	}
}
.quotes-left-ico{
	&:before{
		content: $quotes-left-ico;
	}
}
.quotes-right-ico{
	&:before{
		content: $quotes-right-ico;
	}
}
.hour-glass-ico{
	&:before{
		content: $hour-glass-ico;
	}
}
.spinner-ico{
	&:before{
		content: $spinner-ico;
	}
}
.spinner2-ico{
	&:before{
		content: $spinner2-ico;
	}
}
.search-ico{
	&:before{
		content: $search-ico;
	}
}
.zoom-in-ico{
	&:before{
		content: $zoom-in-ico;
	}
}
.zoom-out-ico{
	&:before{
		content: $zoom-out-ico;
	}
}
.enlarge-ico{
	&:before{
		content: $enlarge-ico;
	}
}
.shrink-ico{
	&:before{
		content: $shrink-ico;
	}
}
.key-ico{
	&:before{
		content: $key-ico;
	}
}
.lock-ico{
	&:before{
		content: $lock-ico;
	}
}
.unlocked-ico{
	&:before{
		content: $unlocked-ico;
	}
}
.wrench-ico{
	&:before{
		content: $wrench-ico;
	}
}
.equalizer-ico{
	&:before{
		content: $equalizer-ico;
	}
}
.equalizer2-ico{
	&:before{
		content: $equalizer2-ico;
	}
}
.settings-ico{
	&:before{
		content: $equalizer-ico;
	}
}
.settings2-ico{
	&:before{
		content: $equalizer2-ico;
	}
}
.cog-ico{
	&:before{
		content: $cog-ico;
	}
}
.hammer-ico{
	&:before{
		content: $hammer-ico;
	}
}
.aid-kit-ico{
	&:before{
		content: $aid-kit-ico;
	}
}
.pie-chart-ico{
	&:before{
		content: $pie-chart-ico;
	}
}
.trophy-ico{
	&:before{
		content: $trophy-ico;
	}
}
.gift-ico{
	&:before{
		content: $gift-ico;
	}
}
.leaf-ico{
	&:before{
		content: $leaf-ico;
	}
}
.meter-ico{
	&:before{
		content: $meter-ico;
	}
}
.hammer2-ico{
	&:before{
		content: $hammer2-ico;
	}
}
.fire-ico{
	&:before{
		content: $fire-ico;
	}
}
.lab-ico{
	&:before{
		content: $lab-ico;
	}
}
.bin-ico{
	&:before{
		content: $bin-ico;
	}
}
.accessibility-ico{
	&:before{
		content: $accessibility-ico;
	}
}
.power-ico{
	&:before{
		content: $power-ico;
	}
}
.switch-ico{
	&:before{
		content: $switch-ico;
	}
}
.power-cord-ico{
	&:before{
		content: $power-cord-ico;
	}
}
.clipboard-ico{
	&:before{
		content: $signup-ico;
	}
}
.signup-ico{
	&:before{
		content: $signup-ico;
	}
}
.list-ico{
	&:before{
		content: $list-ico;
	}
}
.tree-ico{
	&:before{
		content: $tree-ico;
	}
}
.menu-ico{
	&:before{
		content: $menu-ico;
	}
}
.cloud-download-ico{
	&:before{
		content: $cloud-download-ico;
	}
}
.cloud-upload-ico{
	&:before{
		content: $cloud-upload-ico;
	}
}
.sphere-ico{
	&:before{
		content: $sphere-ico;
	}
}
.link-ico{
	&:before{
		content: $link-ico;
	}
}
.attachment-ico{
	&:before{
		content: $attachment-ico;
	}
}
.eye-ico{
	&:before{
		content: $eye-ico;
	}
}
.bookmark-ico{
	&:before{
		content: $bookmark-ico;
	}
}
.star-empty-ico,
.glyphicon-star-empty {
	&:before{
		content: $star-empty-ico;
	}
}
.star-full-ico,
.glyphicon-star {
	&:before{
		content: $star-full-ico;
	}
}
.warning-ico{
	&:before{
		content: $warning-ico;
	}
}
.warning-ico.font-weight-bold {
	&:before{
		font-weight: bold;
	}
}

.warning2-ico{ // Añadido 20191004
	&:before{
		content: $warning2-ico;
	}
}

.notification-ico{
	&:before{
		content: $notification-ico;
	}
}
.question-ico{
	&:before{
		content: $question-ico;
	}
}
.plus-ico{
	&:before{
		content: $plus-ico;
	}
}
.minus-ico{
	&:before{
		content: $minus-ico;
	}
}
.info-ico{
	&:before{
		content: $info-ico;
	}
}
.cancel-circle-ico{
	&:before{
		content: $cancel-circle-ico;
	}
}
.blocked-ico{
	&:before{
		content: $blocked-ico;
	}
}
.play3-ico{
	&:before{
		content: $play3-ico;
	}
}
.pause2-ico{
	&:before{
		content: $pause2-ico;
	}
}
.stop2-ico{
	&:before{
		content: $stop2-ico;
	}
}
.backward2-ico{
	&:before{
		content: $backward2-ico;
	}
}
.forward3-ico{
	&:before{
		content: $forward3-ico;
	}
}
.eject-ico{
	&:before{
		content: $eject-ico;
	}
}
.shuffle-ico{
	&:before{
		content: $shuffle-ico;
	}
}
.arrow-up-ico{
	&:before{
		content: $arrow-up-ico;
	}
}
.arrow-right-ico{
	&:before{
		content: $arrow-right-ico;
	}
}
.arrow-down-ico{
	&:before{
		content: $arrow-down-ico;
	}
}
.arrow-left-ico{
	&:before{
		content: $arrow-left-ico;
	}
}
.checkbox-checked-ico{
	&:before{
		content: $checkbox-checked-ico;
	}
}
.checkbox-unchecked-ico{
	&:before{
		content: $checkbox-unchecked-ico;
	}
}
.scissors-ico{
	&:before{
		content: $scissors-ico;
	}
}
.filter-ico{
	&:before{
		content: $filter-ico;
	}
}
.new-tab-ico{
	&:before{
		content: $new-tab-ico;
	}
}
.embed-ico{
	&:before{
		content: $embed-ico;
	}
}
.embed2-ico{
	&:before{
		content: $embed2-ico;
	}
}
.terminal-ico{
	&:before{
		content: $terminal-ico;
	}
}
.share2-ico{
	&:before{
		content: $share2-ico;
	}
}
.google-ico{
	&:before{
		content: $google-ico;
	}
}
.facebook2-ico{
	&:before{
		content: $facebook2-ico;
	}
}
.instagram-ico{
	&:before{
		content: $instagram-ico;
	}
}
.whatsapp-ico{
	&:before{
		content: $whatsapp-ico;
	}
}
.twitter-ico{
	&:before{
		content: $twitter-ico;
	}
}
.rss2-ico{
	&:before{
		content: $rss2-ico;
	}
}
.youtube-ico{
	&:before{
		content: $youtube-ico;
	}
}
.android-ico{
	&:before{
		content: $android-ico;
	}
}
.windows8-ico{
	&:before{
		content: $windows8-ico;
	}
}
.linkedin-ico {
	&:before {
		content: $linkedin-ico;
	}
}
.chrome-ico{
	&:before{
		content: $chrome-ico;
	}
}
.firefox-ico{
	&:before{
		content: $firefox-ico;
	}
}
.edge-ico{
	&:before{
		content: $edge-ico;
	}
}
.safari-ico{
	&:before{
		content: $safari-ico;
	}
}
.file-pdf-ico{
	&:before{
		content: $file-pdf-ico;
	}
}
.html-five-ico{
	&:before{
		content: $html-five-ico;
	}
}
.css3-ico{
	&:before{
		content: $css3-ico;
	}
}
.icomoon-ico{
	&:before{
		content: $IcoMoon-ico;
	}
}