@charset "UTF-8";
//
// Creado por AndresL el 2020-10-14.
//
// Basado en el LESS del 25/07/2014.
//
// Obtenido de http://jsfiddle.net/8ZSKR/light/
// Los efectos de "aleatoriedad" obtenidos de http://code.tutsplus.com/tutorials/create-a-sticky-note-effect-in-5-easy-steps-with-css3-and-html5--net-13934

@import "basics";
@import "mixins";
@import "efectos";

// Required
@import "D:/Sites/IC4/node_modules/bootstrap/scss/functions";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/variables";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/mixins";
@import "D:/Sites/IC4/node_modules/bootstrap/scss/mixins/breakpoints";


//
//---------------------------------------------------------------------------
// Mixins
//---------------------------------------------------------------------------

@mixin sticky($color: #ccc){
	background-color: scale-color($color, $lightness: 30%);
	@if $enable-gradients {
		background-image: linear-gradient(to bottom, $color 0%, scale-color($color, $lightness: 30%) 22%, scale-color($color, $lightness: 30%) 100%);
	}
}

/*---------------------------------------------------------------------------
   Sticky Note
  ---------------------------------------------------------------------------*/
.sticky-note {
	display: inline-block;
	margin: ceil($font-size-base * 1.43); // ~20px
	position: relative;
	//width: 250px;
	width: 100%;

	// CSS3 Transform
	transform: rotate(3deg) scale(1, 1);

	@include transition(all 300ms ease);
	&:hover{
		transform: scale(1.05, 1.07);
	}
}

// Las dos reglas que siguen son para que parezca que las notas son
// ubicadas aleatoriamente.
.sticky-note:nth-child(even),
.sticky-note-even{
	transform: rotate(-4deg)
}
.sticky-note:nth-child(3n+0),
.sticky-note-third{
	position: relative;
	top: -6px;
	transform: rotate(-8deg)
}

.sticky-note-header{
	position: relative;
	top: -2rem;
	font-family: $font-family-sans-serif;

	.sticky-note-btn{
		position: absolute;
		width: 2rem;
		height: 2rem;
		top: -0.2rem;
		right: 0;
		color: $danger;
		padding: .2rem;
		border-radius: 1rem;
		border: 1px solid transparent;
		text-decoration: none;
		outline: none;

		&:hover{
			text-decoration: none;
			border: 1px solid $danger;
			outline: none;
		}
		& > [class$="-ico"], & > [class*="-ico "]{
			top: 1px;
			left: 1px;
			text-align: center;
		}
	}
}

.sticky-note-inner {
	min-height: 200px;
	//min-width: 250px;
	padding: 3rem 1.43rem .7em;
	font-family: $font-family-script;
	overflow-wrap: break-word; //css3 nuevo o algo así. Es confuso.
	//word-break: break-all; //css3 viejo o algo así. Es confuso.

	// CSS3 Border Radius
	border-radius: 0 0 0 200px/0 0 0 10px;

	// CSS3 Box Shadow
	$shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
	@include box-shadow($shadow);

	&:after{ // Esta es la sombra que simula un papel levantado
		bottom: 16px;
		content: "";
		height: 55%;
		left: 10px;
		position: absolute;
		width: 50%;
		z-index: -2;

		// CSS3 Box Shadow
		@include box-shadow(-5px 10px 10px rgba(0,0,0,0.5));
		// CSS3 Transform
		transform: skew(-8deg, 0) rotate(-6deg);
	}
}

.sticky-note-inner{
	@include sticky();

	.yellow &{
		@include sticky(#ffb71e)
	}
	.blue &{
		@include sticky(#1e9dff)
	}

	.green &{
		@include sticky(#15b227)
	}

	.pink &{
		@include sticky(#e93691)
	}
}
