<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> #}
	
	<meta name="description" content="Autogesti&oacute;n Alumnos en Instituci&oacute;n Cervantes">
	<meta name="author" content="Andres Landeau" />
	<meta name="author" content="Gonzalo Becchio" />
	<meta name="distribution" content="global" />
	<meta name="classification" content="education" />
	
	<link rel="icon" href="/images/icons/favicon.ico">

	<title>
		{% block title %}
			{{ title }}
		{% endblock %}
	</title>
	
	{% block css %}
		<link rel="preload" as="font" crossorigin="crossorigin" type="font/woff2" href="/fonts/icomoon/2.5/icomoon.woff2?vxk7xt">
		<link rel="preload" as="font" crossorigin="crossorigin" type="font/woff" href="/fonts/icomoon/2.5/icomoon.woff?vxk7xt">
		<link rel="stylesheet" href="./public/css/autog-bootstrap.min.css">
		<link rel="stylesheet" href="./public/css/autog.min.css?v=4.19">
	{% endblock %}
</head>
<body>
	<header>
		Acá el menú
	</header>
	<div id="wrapper" class="d-flex">
		<main role="main" id="page-content-wrapper" class="container-fluid">
			<div class="row">
				<h1 class="{{ titulo_cls }}">
					{{ titulo_txt | raw }}
				</h1>
			</div>


			<div class="container">
				<div class="row">
					{% block content %}
						<div class="col-md-12">
							Block content
						</div>
						{% endblock content%}
					</div>
				</div>
		</div>
	</div>


	<footer class="footer">
		<div class="container">
			Pie
		</div>
	</footer>


		{% block javascript %}
			<script src="./public/js/jquery.min.js"></script>
			<script src="./public/js/bootstrap.bundle.min.js"></script>
			<script src="./public/js/js.cookie-2.2.0.min.js"></script>
			<script src="./public/js/autog/autog.js"></script>
		{% endblock %}

	</body>
	</html>