{% extends 'base.html.twig' %}

{% block content %}
	{# {{ dump(finales) }} #}
<div class="row">
	<div class="col-12">

	<table class='sortable table table-striped' id='notas'>
		<thead>
		<tr>
			<th>Materia</th>
			<th>Fecha</th>
			<th>Calif</th>
		</tr>
		</thead>
		<tbody>
		{% for item in finales %}
			<tr>
				<td>{{ item.Materia }}</td>
				<td>{{ item.FR | date("d/m/y") }}</td>
				<td>{{ item.P1 }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div></div>
{% endblock %}