{% extends 'base.html.twig' %}

{% block content %}
<div class="row">
	<div class="col-12">

		<p class="tar"><button class="btn btn-success btn-sm" type="button" data-toggle="collapse" data-target="#referencias" aria-expanded="false" aria-controls="referencias">
		    		<i class="pushpin-ico"></i> Referencias
  		</button></p>
		
		<div id="referencias" class="collapse">
			<div class="callout callout-info" role="note">
				<div><b>Fecha:</b> de cambio de estado (<span class="text-success">regular</span> o <span class="text-danger">libre</span>) de la materia.</div>
				<div class="row">
					<div class="col"><b>P1:</b> Primer Parcial</div>
					<div class="col"><b>TP1:</b> Primer Trabajo Pr&aacute;ctico</div>
					<div class="col"><b>R:</b> Recuperatorio</div>
				</div>
				<div class="row">
					<div class="col"><b>P2:</b> Segundo Parcial</div>
					<div class="col"><b>TP2:</b> Segundo Trabajo Pr&aacute;ctico</div>
					<div class="col"><b>Est:</b> Estado</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-4"><b>A:</b> Ausente</div>
					<div class="col-md-8 col-sm-8">
						<b>Estados:</b> <span class="text-success">Verde</span>=<b>R</b>egular&nbsp;&nbsp;<span class="text-danger">Rojo</span>=<b>L</b>ibre&nbsp;&nbsp;<span  class="text-primary">Azul</span>=<b>P</b>romocionada
					</div>
				</div>
				<div>Si aparece alg&uacute;n <b class="text-danger">*</b> tendr&aacute;s que pasar por Bedel&iacute;a a regularizar tu situaci&oacute;n de documentaci&oacute;n y/o de pagos.</div>
				<div>Haga clic en los t&iacute;tulos de columna para ordenar diferente.</div>
			</div>
		</div>


	{# {{ dump(parciales) }} #}
	<div class="table-responsive">
		<table class="sortable table table-striped" id="notas">
	  <thead>
	    <tr>
	      <th scope="col">Materia</th>
	      <th scope="col">Fecha</th>
	      <th scope="col">P1</th>
	      <th scope="col">P2</th>
	      <th scope="col">TP1</th>
	      {% if item['TP2'] is not null %}
	      	<th scope="col">TP2</th>
	      {% endif %}
	      <th scope="col">R</th>
	      <th scope="col">Est</th>

	    </tr>
	  </thead>
	  <tbody>
	   {% for item in parciales %}
		   	<tr>
			   <td>{{ item.Materia }}</td>
			   <td>{{ item.FR | date("d/m/y") }}</td>
			   <td>{{ item.P1 }}</td>
			   <td>{{ item.P2 }}</td>
			   <td>{{ item.TP1 }}</td>
			   {% if item.TP2 is not null %}
			   		<td>{{ item.TP2 }}</td>
			   {% endif %}
			   <td>{{ item.R }}</td>
			   <td>{{ item.Est }}</td>
		   	</tr>
	   {% endfor %}
	  </tbody>
	</table>
	</div>
</div></div>
{% endblock %}

